[2021-06-05 03:41] yankeexe opened #427 "Create table output with description with no arguments passed to `arkade get`"
`arkade get` with no arguments prints out just the tool names, it would be helpful for the end-users if the tool showed what tools are available along with what their usage is.

## Expected Behaviour

Show ASCII table with **Tool** and **Description**

## Current Behaviour

Shows the name of tools without description.

## Possible Solution

Add an ASCII table output to show tool name and descripti

[2021-06-08 19:55] dirien commented on #423
Hi got this covered -> https://github.com/alexellis/arkade/pull/430

[2021-06-09 09:17] andreppires commented on #354
Hey! I tried arkade yesterday and felt also the need to have support for kube-ps1. I already forked the project and added the support for kube-ps1. You can find my changes here: https://github.com/andreppires/arkade/commit/ec95a3c2a00b6f6179b45c51c6950b9c8345884f

The only thing I would like to add is adding documentation on how to set up the terminal to make use of the kube-ps1. Is there a way to

[2021-06-09 11:04] #423 closed

[2021-06-09 11:05] alexellis commented on #423
Thank you @dirien - looks good to me.

[2021-06-10 06:12] nitishkumar71 commented on #354
@andreppires if you install any tool, arkade alredy provides generic steps for setup. Are there any other instructions you want to include?

Also please raise the PR, it will help team to review it. You can keep PR in WIP state.
![image](https://user-images.githubusercontent.com/11610230/121473814-d34f9f00-c9e0-11eb-94f5-754d2e294e65.png)

[2021-06-11 10:27] #406 closed

[2021-06-12 07:23] dirien opened #431 "Choose table output render style"
It would be nice to choose table output render style. For the moment i would suggest table and markdown

## Expected Behaviour
Set a flag with the output format and the tools table get rendered correctly

## Current Behaviour
Just one type of table when calling `arkade get`

![image](https://user-images.githubusercontent.com/38325136/121768676-b392b500-cb5f-11eb-88fd-5e510e60f20f.png)

## Possible

[2021-06-12 08:11] dirien opened #433 "Missing description tag for tool argocd-autopilot"
The new added too argocd-autopilot miss the description tag.

## Expected Behaviour
See a description tag when call `arkade get`

## Current Behaviour
Its just empty

## Possible Solution
Add the description

## Are you a GitHub Sponsor (Yes/No?)

Check at: https://github.com/sponsors/alexellis
- [ ] Yes
- [x] No

[2021-06-12 12:06] #427 closed

[2021-06-14 11:05] andreppires commented on #354
Hey @nitishkumar71
Maybe the problem here is that kube-ps1 in not a tool like kops or kubectx etc. It is a script that lets you add the current Kubernetes context and namespace configured on kubectl to your Bash/Zsh prompt strings. So maybe it does not fit in the purposes of arkade.

The steps I suggest to add is about setting up zsh or bash to show the k8s context and namespace. Like for zsh:
[co

[2021-06-20 20:38] LucasRoesler opened #436 "Kubectl install fails with 404 because of incorrect url"
The github.com/openfaas/certifier CI is failing because arkade fails to install kubectl

## Expected Behaviour

[This script](https://github.com/openfaas/certifier/blob/master/contrib/get_tools.sh) should work, as it did previously

[code]

## Current Behaviour

[code]

The url is incorrect, it contains two `v` in the path: `vv1.18.8`

## Possible Solution

Ideally the installation should be able

[2021-06-21 07:02] alexellis commented on #436
From my perspective, this is still working as designed.

[code]

The v cannot be hard-coded for apps because quite often, what you'll see is URLs that have this:

SEGMENT/version_without_v/BINARY_NAME-version-withv

or

SEGMENT/version_with_v/BINARY_NAME-version-without-v

So as a rule, the v prefix isn't passed in to apps. (It's fair to say that this isn't documented in the README)

So to fix thi

[2021-06-23 15:43] dinesh707 opened #439 ""arkade get kind" fails with "check with the vendor whether this tool is available""
I was trying to install kind in my machine using arkade and following is the error i got.
[code]
## Expected Behaviour
Expected to be installed without any failures.

## Current Behaviour
See the error above.

## Possible Solution
UNKNOWN

## Steps to Reproduce (for bugs)
just run `arkade get kind`

## Context

## Your Environment

* What Kubernetes distribution are you using?

[code]

* Operating

[2021-06-26 17:30] #431 closed

[2021-06-26 17:30] #433 closed

[2021-06-26 21:44] dirien opened #440 "[CLI] nova"
![image](https://user-images.githubusercontent.com/38325136/123526446-3a0ad300-d6d8-11eb-84cc-3a69b624e523.png)

## Expected Behaviour
Add the nova CLI to arkade get

Add the current nova cli https://github.com/FairwindsOps/nova/releasesfrom here

## Context

Nova scans your cluster for installed Helm charts, then cross-checks them against all known Helm repositories. If it finds an updated versio

[2021-06-26 21:50] dirien commented on #440
I am working right now on it :)

[2021-06-26 22:16] dirien commented on #439
Can you see if you can acess the url https://github.com/kubernetes-sigs/kind/releases/latest maybe try a curl...

[code]

Maybe you use some kind of proxy? I cant reproduce the error...

[2021-06-26 22:27] dirien opened #442 "Polaris cli extract fails"
Since the PR of the polaris cli #401 some changes in the code(?) let now the extract of polaris fail..

[code]

Looks like the binary template is not honoring, that you did not send a version flag. So the version string is "".

When i created the PR for polaris, everything worked fine. See screenshots of the test inside a container.

## Expected Behaviour
That you can download polaris cli

## Curr

[2021-06-29 10:22] dinesh707 commented on #439
Thanks @dirien . I can reach the url from the browser. If I curl, this is the output i see (which is quite similar to what you seeing)

[code]

I'll see if there is any proxy causing the issue.

[2021-07-05 13:48] dinesh707 commented on #439
My nameserver was not responding fast enough. It was the problem. Thanks for checking

[2021-07-05 13:48] #439 closed

[2021-07-05 13:59] dirien commented on #439
Good to hear!

[2021-07-06 14:01] alexellis opened #446 "Add Confluent's Kafka and Zookeeper projects as apps"
## Description

Add Confluent's Kafka and Zookeeper projects as apps using [their respective helm charts](https://github.com/confluentinc/cp-helm-charts)

## Context

Required for testing OpenFaaS' Kafka event-trigger, and for others who wish to test Kafka locally on their cluster.

This is unlikely to work with ARM, so add a block if that turns out to be the case.

Install with defaults for devel

[2021-07-06 14:11] dirien commented on #446
Question: should we enable zookeeper per default or not?

[code]
or via --set cp-zookeeper.enabled=true

[2021-07-06 14:15] alexellis commented on #446
I imagine Zookeeper is required, it always has been since we started using Wurstmeister, then the Incubator chart in the old Helm repo.

If arkade can handle installing Zookeeper in a single app then we should do that.

I just don't want any bloat installed like Prometheus Operators or monitoring stacks. Kafka + Zookeeper with a minimal configuration.

[2021-07-06 14:15] #382 closed

[2021-07-06 14:18] dirien commented on #446
understandable... sooner or later zookeper will be history too for kafka installs... https://www.confluent.de/blog/kafka-without-zookeeper-a-sneak-peek/

[2021-07-07 08:18] soider opened #448 "Use text/template instead of html/template in url building"
Now the "html/template" is used for templating URLs in `get` subcommand. That leads to unnecessary escaping of the URL parts.

For demonstrating the expected and current behaviours I use the following patch applied which is not a part of this PR
This patch adds k0s project as a tool to download by arkade.

[code]
## Expected Behaviour
The version scheme of the k0s project is built like:
- <k0svers

[2021-07-07 08:34] alexellis commented on #448
Hi there,

That's a perfect example, and exactly what we're looking for in contributions. Issue first, discussion, then PR if requested.

Can you as part of your PR add the K0s project, and the requisite unit test? Just rename your PR to "adding K0s project" and follow the example given elsewhere for unit-testing.

In that way, your patch is warranted, but if we have no examples that fail, then it

[2021-07-07 08:53] #440 closed

[2021-07-07 11:55] soider commented on #448
@alexellis sure, I will modify the PR accordingly. Do you have any way to prevent some tool from being listed under specific problem? The k0s binary doesn't work on darwin

[2021-07-08 08:29] yankeexe opened #449 "Self updating arkade binary"
There's an option to `get` arkade's latest release from arkade itself. But since the binary PATH is `~/.arkade/bin` and it tries to overwrite itself while updating it shows `text file busy`.

<details>
<summary><strong>Image for reference</strong></summary>
<img src="https://user-images.githubusercontent.com/13623913/124888278-aa2d2900-dff5-11eb-9ae9-8222e13f3670.png" />
</details>

## Expected Be

[2021-07-08 08:42] yankeexe commented on #449
@alexellis what do you think about this? I can work on it if it seems like a viable addition.

[2021-07-09 09:44] squat opened #450 "[CLI] kgctl"
## Expected Behaviour
I'd like to be able to install `kgctl`, the CLI for Kilo, via arkade, a la:
[code]
The Kilo project provides precompiled binaries for every release: https://github.com/squat/kilo/releases.

## Current Behaviour
Nothing!

## Possible Solution
Add `kgctl` to the installable tools.

## Context
I'm the creator and a maintainer of the [Kilo](https://github.com/squat/kilo) project.

[2021-07-12 11:45] soider commented on #448
@alexellis I added two new binaries as a part of the PR (k0s and k0sctl) + rebased with the actual main branch

[2021-07-13 04:11] yankeexe opened #454 "Add k0s binary"
Add binary for k0s project https://github.com/k0sproject/k0s

@alexellis  Let me know if it's ok to add the k0s binary. It's relatively pretty large in size compared to other binaries we have.

## Expected Behaviour

`arkade get k0s` downloads k0s binary on the machine.

## Current Behaviour

NO k0s binary.

## Possible Solution

Add k0s binary.

## Context

Easy to download k0s without going thro

[2021-07-13 12:05] #377 closed

[2021-07-13 12:07] #442 closed

[2021-07-13 12:50] #454 closed

[2021-07-13 18:23] dirien commented on #450
That looks really cool! I tested kilo on Scaleway Kosmos. Worked really well!

[2021-07-14 12:55] dirien opened #457 "[CLI] Porter"
![image](https://user-images.githubusercontent.com/38325136/125625371-3b225078-2708-44ce-9dc0-045a106cc916.png)

Add the Porter CLI to arkade.

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [ ] Yes
- [x] No

## Possible Solution

## Context

What is Porter?
Take everything you need to do a deployment, the application itself and the entire process to deplo

[2021-07-14 12:56] dirien commented on #457
i will cover this

[2021-07-14 13:50] #446 closed

[2021-07-14 13:51] #450 closed

[2021-07-14 13:53] dirien opened #458 "[CLI] Equinix Metal (packet-cli)"
![image](https://user-images.githubusercontent.com/38325136/125634003-29d61fd2-af98-4bdb-a018-4c405738b243.png)

Add the Equinix Metal (https://github.com/packethost/packet-cli)  to arkade

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [ ] Yes
- [x] No

[2021-07-14 13:53] dirien commented on #458
i got this covered

[2021-07-14 15:44] alexellis commented on #457
Approved, thanks for the suggestion.

[2021-07-14 15:44] alexellis commented on #458
Approved, thanks for the suggestion.

[2021-07-14 16:30] alexellis opened #459 "Ingress is moving in K8s 1.22, we need to update our Ingress generators"
## Expected Behaviour

When using K8s 1.22 and newer, use the new namespace for ingress, for older use the deprecated API (`apiVersion: extensions/v1beta1`)

## Current Behaviour

Only uses the deprecated API

## Possible Solution

Update openfaas-ingress and any other code that generates ingress definitions the same way.

## Steps to Reproduce (for bugs)

1. Start minikube or kind with K8s 1.22
2

[2021-07-14 16:30] alexellis commented on #459
/add label: help wanted,good first issue

[2021-07-15 08:09] #458 closed

[2021-07-15 08:14] alexellis commented on #448
Thank you

[2021-07-16 07:41] developer-guy commented on #459
I can take this one if no one is interested in it 🙋🏻‍♂️

[2021-07-16 11:14] alexellis commented on #459
Great, this is time sensitive, I expect users to start complaining next week when 1.22 gets released to Minikube etc.

Can you start with a PR for the openfaas-ingress app?

The Kubernetes version is readable from the code already, and we may already use it somewhere.

Alex

[2021-07-18 17:47] GinjiJizai opened #464 "Problem with Jenkins installation"
## Expected Behaviour
the init container should work correctly after arkade install jenkins

## Current Behaviour
If i try to install Jenkins with 'arkade install jenkins' the init container fails to start with the error message in the init container log:

exec user process caused “exec format error”

## Are you a GitHub Sponsor (Yes/No?)
no

Check at https://github.com/sponsors/alexellis

- [ ] Y

[2021-07-18 20:55] #464 closed

[2021-07-18 20:56] alexellis commented on #464
AFAIK Jenkins is not supported on Raspberry Pi.

@developer-guy or @nitishkumar71 or @dirien could one of you please ensure that there's an if guard to prevent installation on aarchv7?

Thanks

[2021-07-18 21:41] GinjiJizai commented on #464
Ok, thank you for your time. So i need to find another solution.

[2021-07-19 04:47] dirien commented on #464
Hi @GinjiJizai , there are two ways to get this fly:

using the set in arkade to change all the imags to `jenkins4eval` type eg ->https://hub.docker.com/r/jenkins4eval/jenkins/tags?page=1&ordering=last_updated

[code]

According to the offical roadmap of jenkins (https://www.jenkins.io/project/roadmap/) ARM support is anounced for near term

[2021-07-19 07:57] alexellis commented on #464
@dirien could you add an if statement to block installation? So the reverse of this: https://github.com/alexellis/arkade/commit/50d374dec9579a874c6e1e0cb118b994c35bcd4a

Is there an image for ARM64, but not ARM32?

Alex

[2021-07-19 11:42] GinjiJizai commented on #464
Hi @dirien

it worked with this image, thank you :)

[2021-07-19 14:20] alexellis opened #465 "Add K10 binaries as part of sponsored app"
## Add K10 binaries as part of sponsored app

[Kasten](https://www.kasten.io/) will be the second sponsored app for arkade - Kasten provides a complete backup solution for Kubernetes apps including persistent volumes and multi-cluster support.

Binaries to add to arkade get:
* https://github.com/kanisterio/kanister/releases
* https://github.com/kastenhq/kubestr/releases
* https://github.com/kasten

[2021-07-19 15:01] alexellis commented on #465
@MichaelCade I think I assumed that I would find a kannister CLI in the archive, but there's three binaries.

Could you comment on which CLI should be downloaded in the three cases?

[code]

[2021-07-19 17:16] MichaelCade commented on #465
There are two command-line tools that are built within the Kanister repository.

Although all Kanister custom resources can be managed using kubectl, there are situations where this may be cumbersome. A canonical example of this is backup/restore - Manually creating a restore ActionSet requires copying Artifacts from the status of the complete backup ActionSet, which is an error prone process. kan

[2021-07-20 04:48] dirien commented on #464
@alexellis: done

[2021-07-21 18:13] #457 closed

[2021-07-22 13:30] xshyamx opened #469 "Add jq to arkade"
Include jq as one of the CLI tools that can be installed using arkade

## Expected Behaviour
Install latest version of jq with arkade

[code]

## Current Behaviour

jq is not available as a CLI candidate

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [ ] Yes
- [x] No

## Possible Solution
Include jq as a tool in arkade

## Context

Ubuntu & CentOS repos s

[2021-07-23 07:31] yankeexe opened #470 "Add multiple downloads with `arkade get`"
Add feature to download multiple binaries using `arkade get`

## Expected Behaviour

Specifying multiple tools in arkade get to download all of those tools at one go.

[code]

## Current Behaviour

If multiple tools are defined, the tool simply fails at downloading any.
![image](https://user-images.githubusercontent.com/13623913/126750218-1d563803-3ddb-4cb3-a74f-727c0b03506b.png)

## Are you a Git

[2021-07-23 07:33] yankeexe commented on #470
@alexellis Happy to help, if this feels like an intuitive feature for arkade.

[2021-07-23 07:37] alexellis commented on #470
Thanks for the suggestion.

How would you see the `--version` flag working here?

[2021-07-23 07:38] #469 closed

[2021-07-23 07:51] yankeexe commented on #470
1. I guess we can introduce a delimiter like `@` or `:` after the tool name to specify the version like `yq@1.02` or `yq:1.0.2`. But this change might have to be reflected on standalone download as well.

2. Using `--version` might simply not work here, and users should be prompted to use the standalone download option if they want to download a specific version of the tool.

[2021-07-24 04:47] yankeexe opened #472 "Feature request: Add fuzzy searching or pager to arkade get"
`arkade get` without any argument dumps a list of CLIs it can install in a table format. It's hard to search for the tool one is looking for. It will get harder as the list of tools we add increases.

 It would be great if we could do one of these two things:
1. view table as a **pager** so that users can scan through it with ease or search easily using `/`
2. add fuzzy searching to quickly find t

[2021-07-24 20:37] dirien opened #474 "Add Cosign CLI to arkade"
Add Cosign CLI to arkade

## Expected Behaviour

I can download the cosign cli via arkade

## Current Behaviour

Its not in arkade available

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [ ] Yes
- [x] No

[2021-07-24 22:01] alexellis opened #475 "Can't pass comma separated values to --set in arkade install"
Can't pass comma separated values to --set in arkade install

## Expected Behaviour

[code]

## Current Behaviour

The following error appears:

[code]

## Possible Solution

Possibly the argument needs to be quoted?

Helm does support arrays and maps being passed as strings, however this is not one - it's just a string that's comma separated.

## Steps to Reproduce (for bugs)

As per above

## Co

[2021-07-24 22:03] #474 closed

[2021-07-25 08:59] alexellis commented on #474
For anyone landing here and wondering why Cosign doesn't work on Alpine Linux, it seems the binary was compiled with CGO, but in a future release it will be statically linked.

[2021-07-25 23:46] MushiTheMoshi opened #479 "[APP] support TFENV"
Hi there,

Awesome job done here, really helpful. Is there a way to add support for tfenv ?

Regards.

[2021-07-26 00:07] erodewald opened #480 "Confused about `nfs-provisioner` app"
Somewhere along the way, I was lead to believe that the NFS provisioner app is `nfs-provisioner`, but is actually `nfs-client-provisioner`.

https://github.com/alexellis/arkade/blob/3be9b511ca1625f2b07b26df49e85bcf760b9fad/cmd/install.go#L95

**Example:**  _running this command produces no output_
[code]

The list indicates it is available as `nfs-client-provisioner`.
[code]

[2021-07-26 06:48] dirien opened #482 "Add KEDA to Apps"
Add [KEDA](https://keda.sh/) to arkade

KEDA is a Kubernetes-based Event Driven Autoscaler. With KEDA, you can drive the scaling of any container in Kubernetes based on the number of events needing to be processed.

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [ ] Yes
- [x] No

[2021-07-26 07:08] #482 closed

[2021-07-26 11:15] dirien opened #484 "Add Kyverno to arkade"
Kyverno is a Kubernetes Native Policy Management engine. It allows you to:

Manage policies as Kubernetes resources (no new language required.)
Validate, mutate, and generate resource configurations.
Select resources based on labels and wildcards.
View policy enforcement as events.
Scan existing resources for violations.

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/

[2021-07-26 13:30] #484 closed

[2021-07-26 19:13] DavidIsa opened #485 "[APP] Rabbitmq"
Support the installation of Rabbitmq for Kuberenetes

## Expected Behaviour

`arkade install rabbitmq` would install Rabbitmq on Kubernetes

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [ ] Yes
- [x] No

[2021-07-28 14:14] #301 closed

[2021-07-28 15:03] alexellis commented on #301
Hey @phillipsj

You can also run `--version` to pass in an override :slightly_smiling_face: and I guess that you're probably best always passing `--version` for tutorials anyway..

Were you waiting for someone to give you an OK to send a pull request?

Alex

[2021-07-28 15:08] phillipsj commented on #301
I submitted a PR. It's out there.

[2021-08-02 10:48] developer-guy opened #488 "Add rekor CLI"
The Rekor project provides a restful API-based server for validation and a transparency log for storage. A CLI application is available to make and verify entries, query the transparency log for inclusion proof, integrity verification of the transparency log, or retrieval of entries by either public key or artifact.

## Expected Behaviour

$  arkade get rekor

## Current Behaviour
There is no supp

[2021-08-02 10:50] developer-guy opened #489 "add rekor APP to arkade"
Similar to #488, rekor has a helm chart, we can use that to install rekor.
https://github.com/sigstore/helm-charts/tree/main/charts

## Expected Behaviour
$ arkade install rekor

## Current Behaviour

There is no support for installing rekor app right now.

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [x] Yes
- [ ] No

## Possible Solution

## Steps to R

[2021-08-02 11:47] DavidIsa opened #491 "[APP] Cassandra"
Support the installation of Cassandra for Kuberenetes

## Expected Behaviour

`arkade install cassandra`  should install "Apache Cassandra" on Kubernetes.

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [ ] Yes
- [x] No

[2021-08-02 16:26] alexellis commented on #491
Thanks for raising this.

This might be a typo: should install "Apache Cassandra" on Kubernetes.

[2021-08-05 09:15] #465 closed

[2021-08-05 09:37] alexellis commented on #465
9ad75ff renames kanister to kanctl

[2021-08-05 09:38] alexellis commented on #465
Here we are:

[code]

And testing them:

[code]

[2021-08-05 09:48] #488 closed

[2021-08-05 13:34] #491 closed

[2021-08-05 13:34] #485 closed

[2021-08-05 14:35] yankeexe opened #493 "Add Table of Contents"
Add Table of Contents for an intuitive overview of the project, and quicker navigation to the section user is interested in.

## Expected Behaviour

Table of Contents for at a glance view of project, features and other related resources.

## Current Behaviour

No Table of Contents.

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [ ] Yes
- [x] No

## Possib

[2021-08-05 14:48] #493 closed

[2021-08-05 14:48] alexellis commented on #493
Sure, I've added the ToC, let me know what else you had in mind? Happy for you to propose it here

[2021-08-05 14:51] alexellis commented on #493
Unfortunate side-effect of doing this -> there's now two pages of scrolling before you even get to the first bit of content 🤔

Suggestions?

[2021-08-05 15:20] yankeexe commented on #493
@alexellis here are few changes we can make:
* I guess we can add just the headings (without sub-headings) for sections like [community and contribution](https://github.com/alexellis/arkade#community--contributing) and [Developer Workflow](https://github.com/alexellis/arkade#developer-workflow)

* This can be Grouped under a FAQ section:
![image](https://user-images.githubusercontent.com/13623913/

[2021-08-05 20:47] ejsmith commented on #285
What @r-darwish said. :-) It just would be nice to be able to run arkade from a cmd or powershell terminal just like I can run `kubectl`, `kubectx`, ``kubens` and `help` from powershell on Windows without having to go into WSL or Git Bash.

[2021-08-07 04:20] jgillich commented on #470
+1, I tried arkade for the first time and was quite surprised that this syntax is not supported because it works in almost every other package manager. Using a delimiter syntax like `foo@1.23` seems like a good solution that other package managers use as well.

[2021-08-09 20:18] arnobroekhof opened #494 "Update mongodb helm repository uri because stable is deprecated"
## Expected Behaviour
It installs and works as before

## Current Behaviour
it works but the chart is deprecated

## Are you a GitHub Sponsor (No)

Check at https://github.com/sponsors/alexellis

- [ ] Yes
- [X] No --> not at the moment

## Possible Solution
Change the repo inside the file mongodb_app.go

## Context
the last update of the currently used chart in november 2020 and in the current ch

[2021-08-10 12:04] alexellis commented on #470
Hi @jgillich thanks for using arkade, I'm glad it's been useful for you and that you are open to sharing your own feedback here.

Do see the other ways you can support the project [in the README](https://github.com/alexellis/arkade#do-you-use-this-project-) - we need all the help we can get as this is an open source project.

If you're interested in contributing, we also have an [active Slack comm

[2021-08-10 12:07] alexellis commented on #470
@yankeexe the `@` syntax is also used in npm and pip AFAIK. That seems reasonable if multiple CLIs are passed in to the get command:

[code]

How do you propose we should show output when multiple tools are installed? Here's an example of installing 4 tools.

[code]

Alex

[2021-08-10 13:40] dirien opened #497 "Add tfsec to arkade"
## Expected Behaviour
![image](https://user-images.githubusercontent.com/38325136/128877249-9fa9add7-31cf-4e0a-a1e2-daa9e84f2420.png)

Add tfsec to arkade so i can use it along with the exisiting terraform
tfsec uses static analysis of your terraform templates to spot potential security issues. Now with terraform CDK support.

## Current Behaviour
No tfsec available in arkade

## Are you a GitHub

[2021-08-11 07:41] #497 closed

[2021-08-14 02:25] yankeexe opened #501 "Check for temp directory write permission before downloading binary"
Check if the user has permission to write to `$TEMPDIR` before downloading binary. Else the following issue occurs:

[code]

## Expected Behaviour
If the user running `arkade` does not have permission to write to `$TEMPDIR`, show error messaging stating such.

## Current Behaviour

Shows Binary Download prompt and fails on accessing `$TEMPDIR`  to store binary.

## Are you a GitHub Sponsor (Yes/No

[2021-08-14 02:27] yankeexe commented on #501
/add label: proposal

[2021-08-14 02:29] yankeexe commented on #501
@alexellis Can you please take a look at this? :slightly_smiling_face:

[2021-08-16 11:55] dirien opened #503 "Mega arkade Tool Update Event"
Let us update the arkade CLIs:

- [ ] helm 3.6.3
- [ ] kubectl 1.21
- [ ] kubectx 0.9.4
- [ ] kubens 0.9.4
- [ ] kubeseal 0.16.0
- [ ] inletsctl 0.8.14
- [ ] openservicemesh 0.9.1
- [ ] linkerd2 stable-2.10.2
- [ ] kubebuilder v3.1.0
- [ ] kustomize v4.2.0
- [ ] doctl v1.63.1
- [ ] k9s v0.24.15
- [ ] popeye v0.9.7
- [ ] civo v0.7.30
- [ ] terraform 1.0.4
- [ ] vagrant 2.2.18
- [ ] packer 1.7.4
- [

[2021-08-18 11:17] alexellis commented on #503
Hi @dirien it seems like you've been busy here.. are these not determined automatically, or are all of these tools ones which needed a specific URLTemplate?

[2021-08-18 11:20] alexellis commented on #501
Sounds good to me, do you want to try it out in a PR?

[2021-08-18 23:58] yankeexe commented on #501
@alexellis I will create a draft PR

[2021-08-25 22:47] dirien opened #507 "Issue Forms for Tool and App Request"
Hi everyone,

With the new Github feature of issue forms, i created two issue forms for tool and app requst.

Details -> https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-issue-forms

[2021-08-26 09:17] alexellis opened #510 "Download latest versions from GitHub when using UrlTemplate for apps"
Download latest versions from GitHub when using UrlTemplate for apps

## Expected Behaviour

[code]

Should download the latest version of the hugo CLI.

## Current Behaviour

It would, if a BinaryTemplate was used, which prints just the filename at the end of the GitHub release string, however it needs to construct the whole string due a mismatch between the usage of "v" in the release name, but

[2021-08-27 15:29] #510 closed, assigned to nobody

[2021-09-02 14:05] yankeexe opened #513 "Add `dive` tool for exploring each layer in a docker image"
https://github.com/wagoodman/dive

Dive feels like the perfect tool to fit on the DevOps toolkit. It facilitates exploring a docker image, layer contents, and discovering ways to shrink the size of your Docker/OCI image.

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [ ] Yes
- [x] No

[2021-09-03 15:59] alexellis commented on #513
Thanks for the suggestion.

@dirien what do you think?

[2021-09-06 12:11] dirien commented on #513
@alexellis, definitely! Thats a really cool tool!

[2021-09-06 12:12] yankeexe commented on #513
@alexellis @dirien will be sending a PR for this

[2021-09-06 12:24] dirien commented on #513
@yankeexe, what do you think it would be the effort to build "groups" of tools. So if i would say arkade get dev-ops i get a nice bundle of, opinionated, dev-ops tools?

[2021-09-06 12:27] yankeexe commented on #513
@dirien yeah I proposed something similar to @alexellis a while back, basically adding a new `label` element on the `Tool` struct and using `enum` kind list of items to choose from to label that tool would do.

So based on that label like you said the command could be:
` arkade get devops-tools`, ` arkade get security` and such.

[2021-09-06 12:32] dirien commented on #513
@yankeexe, I think that would give arkade such a unique feature. Having an opinionated bundle of the already hand-curated tools.

[2021-09-06 12:35] yankeexe commented on #513
Yes it feels like an intuitive next feature for the tool.

[2021-09-07 15:32] #513 closed

[2021-09-08 17:06] #76 closed

[2021-09-11 08:52] yankeexe opened #518 "Add --dry-run feature to arkade get"
Before downloading tools via `arkade get` it would be great to view what version of tool the user would be downloading upon running `arkade get <tool-name>` .

## Expected Behaviour

The user being able to run `--dry-run` flag with a tool name to view what version of the tool is being downloaded, where the binary will be stored. In general what the download would look like without actually downloa

[2021-09-11 15:18] ocpu commented on #459
After #462 deprecated ingress template configurations are still generated for docker-registry-ingress app with Kubernetes version 1.22 as there is a missing check to switch the templates in [`registry_ingress_app.go` at line 111](https://github.com/alexellis/arkade/blob/ae978e84af34ad55f72b807529bafcc5d774d26c/cmd/apps/registry_ingress_app.go#L111). The check is there in the `openfaas_ingress_app.

[2021-09-24 19:24] YuviGold opened #525 "No error message for failed install command"
No error message when trying to install a non existing app.

## Expected Behaviour
1. Display an error message to the user.
2. Suggest available applications using [levenshtein distance](https://en.wikipedia.org/wiki/Levenshtein_distance). Cobra does that for the root-level commands but not for nested commands
3. In case the application is available for `get` command, suggest to use it. For exampl

[2021-09-27 09:20] developer-guy opened #526 "[CLI]: vCluster CLI support"
[vCluster](https://github.com/loft-sh/vcluster)- Create fully functional virtual Kubernetes clusters - Each vcluster runs inside a namespace of the underlying k8s cluster. It's cheaper than creating separate full-blown clusters and it offers better multi-tenancy and isolation than regular namespaces.

Project Site: https://www.vcluster.com
Stars: 897
Contributors: 10
Slack Channel: https://slack.l

[2021-09-27 10:21] alexellis commented on #526
Hi could you provide some more context?

What company creates this project? Does it have any traction? How many GitHub stars? How many contributors?

Thanks

[2021-09-27 10:46] developer-guy commented on #526
should we put these details to the issue template, just an idea 🤔

[2021-09-27 10:47] developer-guy commented on #526
maybe we can create two separate issue templates one for applications one for CLIs, does it make sense?

[2021-10-02 12:24] Shikachuu opened #527 "[App] Add CockroachDB Helm Chart to apps"
## Expected Behaviour
`arkade install cockroachdb` should install CockroachDB to the given k8s cluster.

## Current Behaviour
Currently not implemented.

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [ ] Yes
- [X] No

## Possible Solution
Add a new entry to the install command.

## Context

CockroachDB is a Postgres compatible database with multi-master a

[2021-10-03 16:33] alexellis commented on #527
Hi @Shikachuu I don't want you to do unnecessary work, so just a quick reminder how contributing works.

1) Suggest idea/enhancement
2) Wait for approval and feedback from a maintainer
3) Raise a PR

If I am remembering correctly, we have skipped 2) a few times.

Alex

[2021-10-03 16:39] alexellis commented on #527
You have been lucky in this instance, the app seems like a good fit, so I've left a review on the PR.

[2021-10-03 16:43] alexellis commented on #525
Hi @YuviGold

Thanks for taking time to suggest an enhancement.

I think we would be willing to take a look at a PR that returned a different exit code and message for a mistyped or non-existing CLI for download.

Then we can discuss the lazy matching and fuzzy matching separately after.

Alex

[2021-10-03 18:47] Shikachuu commented on #527
Actually this is my first PR-Issue combo, previously I only worked on existing issues, thats why I think we skipped number 2 a few times :laughing:

[2021-10-12 10:29] alexellis opened #530 "Print a new line after downloading apps"
## Expected Behaviour

A new line should be printed

## Current Behaviour

It isn't

[code]

## Possible Solution

Add a newline before printing the message, or switch to fmt.Println(), Printf("%s",msg) is redundant

## Steps to Reproduce (for bugs)

1. Listed above

## Context

See #516

[2021-10-12 10:32] alexellis opened #531 "Can't download kubectl after merging #516"
## Expected Behaviour

Should be able to download kubectl

## Current Behaviour

[code]

## Possible Solution

@yankeexe to investigate

A possible solution is to roll back #516

## Steps to Reproduce (for bugs)

1. `arkade get kubectl`

## Context

We cannot release this version of the code.

With the previous commit, this works.

[code]

[2021-10-12 10:32] alexellis commented on #531
@yankeexe PTAL

[2021-10-12 10:33] alexellis commented on #530
@yankeexe PTAL

[2021-10-13 08:01] #531 closed, assigned to nobody

[2021-10-13 08:13] alexellis opened #534 "Update kubectl template to support Apple M1"
## Expected Behaviour

arkade get kubectl on the Apple M1 should show a valid binary

## Current Behaviour

It gives a 404

## Possible Solution

There's a darwin/arm64 binary available now. Update the template and unit tests.

You do not need to own a Mac to do this work.

Make your edits here:

https://github.com/alexellis/arkade/blob/master/pkg/get/tools.go
https://github.com/alexellis/arkade/b

[2021-10-13 08:14] alexellis commented on #534
/add labels: good first issue, help wanted

[2021-10-13 08:17] alexellis opened #535 "Update the inlets-pro template to support Apple / M1"
Update the inlets-pro template to support Apple / M1

## Expected Behaviour

Update the inlets-pro template to support Apple / M1 so that `arkade get inlets-pro` on an Apple M1 downloads the darwin/arm64 binary

## Current Behaviour

It will probably download the  amd64 one instead or possibly return an error

## Possible Solution

You can test this with a unit test by updating the Go template, yo

[2021-10-13 08:18] #530 closed, assigned to nobody

[2021-10-13 08:22] alexellis opened #536 "Give an --arch override flag for arkade get for end to end testing"
## Expected Behaviour

For users to be able to test out arkade for different platforms, and to be able to override the settings, we should have an optional `--arch` flag and a help message showing the variations we support.

## Current Behaviour

You can only download a binary for the platform that you're on.

If you're on an Apple M1 and need an AMD64 binary to use with Rosetta (emulation) it may

[2021-10-13 15:06] #534 closed

[2021-10-14 07:27] developer-guy opened #540 "bug: fish and powershell autocompletion support missing in the description of the autocompletion command"
## Expected Behaviour

Add these to the description of the autocompletion command:

👉 https://github.com/alexellis/arkade/blob/1e43d6ead0ef958e9caf08e0ec23b49fe6563ffb/cmd/completion.go#L60-L63

## Current Behaviour

[code]

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [x] Yes
- [ ] No

## Possible Solution

add this description above to the description

[2021-10-14 07:31] alexellis commented on #540
Go ahead 👍

[2021-10-14 07:36] developer-guy commented on #472
I would love to help, can you please let me know when you start to work on this issue, maybe we can do it together 😋 you can learn English from me, you know my English is perfect 😜

[2021-10-14 08:19] developer-guy opened #541 "[Feature Request]: add fission App and fission CLI"
[Fission](https://fission.io) is a fast, open-source serverless framework for Kubernetes with a focus on developer productivity and high performance.
:octocat: Github Repository: https://github.com/fission/fission
:octocat: Github Star:  6.5k
💬  Contributors: 126

## Expected Behaviour

To support installing fission app and fission CLI

## Current Behaviour

No support

## Are you a GitHub Sponsor

[2021-10-14 12:46] MushiTheMoshi commented on #479
TFENV is a version manager for terraform, nowadays projects have multiple versions of terraform is handy to have a version manager https://github.com/tfutils/tfenv

[2021-10-17 19:55] YuviGold opened #543 "Add docker to tools"
## Expected Behaviour

There are various arkade tools like `kind` and `k3d` that depend on having a container engine.
It would be nice if the entire dependency tree could be downloaded from `arkade`.

## Current Behaviour
In case `docker` isn't installed on a machine, after getting `kind` for example, the following error will occur:

[code]

## Are you a GitHub Sponsor (Yes/No?)

Check at https://

[2021-10-20 21:00] xshyamx opened #547 "Add operator-sdk to arkade"
Add the `operator-sdk` CLI as a tool candidate for arkade

## Expected Behaviour

Install operator-sdk

[code]

## Current Behaviour

Not available as a candidate

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [ ] Yes
- [x] No

## Possible Solution

Add operator-sdk as a tool candidate

## Context

The operator-sdk CLI is not available as part of any of t

[2021-10-21 07:34] alexellis commented on #547
Hi @xshyamx thanks for this suggestion, the app sounds fine to me.

For future suggestions, please can you follow the contribution guide and wait for approval before sending PRs? This is to avoid you spending unnecessary time and effort before we have agreement on a change.

The same approach applies to OpenFaaS/k3sup/inlets etc.

Alex

[2021-10-21 12:35] alexellis commented on #243
Thanks. When do you think you'll have something up in a pull request?

[2021-10-21 15:54] sjdrc opened #550 "Unable to install krew due to incorrect URL"
## Expected Behaviour
`arkade get krew` should install krew without error

## Current Behaviour
[code]
Error when getting krew

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [ ] Yes
- [X] No

## Possible Solution

https://github.com/kubernetes-sigs/krew/releases/download/v0.4.2/krew.tar.gz is the URL that tried to get fetched.
https://github.com/kubernete

[2021-10-21 18:38] alexellis opened #553 "Add the build status from GitHub Actions to the set of README badge"
## Expected Behaviour

Add the build status from GitHub Actions to the set of README badgets

## Current Behaviour

I removed it because it was pointing at Travis, which we no longer use so was giving out false information.

## Possible Solution

See the GitHub Actions tab / docs for how to get a badge. Insert it just after the sponsor badge please.

[2021-10-21 18:40] alexellis commented on #550
Thanks for raising this @YuviGold and for contributing. Perhaps the krew URL changed upstream? This does happen from time to time.

[2021-10-21 20:55] dirien commented on #550
@alexellis, yes indeed!

[2021-10-22 09:53] YuviGold opened #557 "Verify all available tools are downloadable"
## Expected Behaviour

`arkade` CI should be aware and fail once a tool isn't available any longer.

## Current Behaviour

Currently there is no way to know that a tool got broken unless someone tries to use the tool and fail.

There are unit tests that verify that the outcome for getting a tool URL is as expected on https://github.com/alexellis/arkade/blob/master/pkg/get/get_test.go.
This method

[2021-10-22 11:19] sjdrc opened #558 "Incorrect values are set for GitLab domain and ip"
## Expected Behaviour
Deploying GitLab with arkade should work

## Current Behaviour
Domain is ignored, and the default example.com is used

## Are you a GitHub Sponsor (Yes/No?)

- [ ] Yes
- [X] No

## Possible Solution
`global.domain` should be `global.hosts.domain`
`global.ip` should be `global.hosts.externalIP`

## Steps to Reproduce (for bugs)

1. Install GitLab with arkade
2. Unable to acces

[2021-10-23 08:20] alexellis opened #560 "Determine latest versions for tools not hosted on GitHub"
Determine latest versions for tools not hosted on GitHub

## Expected Behaviour

To lighten the load, kubectl and the various HashiCorp tools which are not hosted on GitHub, could determine their latest (stable, not pre-release) versions for download.

## Current Behaviour

We hard code a few of these, but GitHub uses auto-determination through the releases HTTP endpoint.

## Possible Solution

Do

[2021-10-24 19:37] Xos73 opened #564 "terraform aarch64 not available"
- Raspberry pi 4 with Ubuntu 20.04.3 64 bit
- uname -a: Linux rpi4a 5.4.0-1045-raspi # 49-Ubuntu SMP PREEMPT Wed Sep 29 17:49:16 UTC 2021 aarch64 aarch64 aarch64 GNU/Linux
- Installed arkade on 23/20/2021
Command issued: `arkade get terraform`

## Expected Behaviour
Downloading terraform and unzipping it

## Current Behaviour
Package is not downloading. Getting 403 error code

Content of https://r

[2021-10-26 04:13] yankeexe opened #566 "Add toggles to Readme Table of Contents for readability"
The table of content on README is long which takes at least 3-4 scrolls to get past it. Adding toggles to Table of Contents makes it more managed.

## Expected Behaviour

Table of contents that does not block most parts of the README.

## Current Behaviour

Table of Contents that is long and blocks other information on README for user to see at a glance.

## Are you a GitHub Sponsor (Yes/No?)

Che

[2021-10-26 15:47] MichaelCade opened #570 "added kanister app #569"
Added arkade install kanister

## Expected Behaviour

works as expected
arkade install kanister
arkade info kanister

## Current Behaviour

## Are you a GitHub Sponsor (No)

Check at https://github.com/sponsors/alexellis

- [ ] Yes
- [X] No

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* What Kubernetes distribution are you using?

[code]

*

[2021-10-28 16:17] Shikachuu opened #571 "Feature request: Add Kuma helm chart + kumactl cli app"
Add `kumactl` to `arkade get` and add Kuma itself to `arkade install`.

## Expected Behaviour
`arkade install kuma` should install the Kuma helm chart and `arkade get kumactl` should install kumactl.

## Current Behaviour
Neither the helm chart nor kumactl implemented.

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [ ] Yes
- [X] No

## Possible Solution
A

[2021-10-28 21:30] #558 closed, assigned to nobody

[2021-10-30 09:41] alexellis commented on #571
Approved 👍

[2021-10-30 10:05] Shikachuu commented on #560
Neither Kuma (#571 #572) provide GitHub releases.
But it also has an endpoint for it: `https://kuma.io/latest_version`.

Should we introduce a new field in the `Tool` struct for example `VersionURL`, if provided and `Version` is not, then fetch the provided URL and use the response as the version string?

[2021-10-30 10:22] Shikachuu commented on #560
After some research, I was yet to find any HashiCorp related release version urls, every available script that trying to achive the same goal was parsing their GitHub releases.
So basically something like this should work:
[code]

[2021-10-30 17:25] Shikachuu commented on #564
Packer is also missing this "translate".

[2021-11-04 19:08] alexellis commented on #560
That is looking very promising. For the version checking we are better to use the HTTP HTML endpoint than the JSON API request since it's not rate-limited.

Can you suggest how you would like to handle this at runtime, so we don't need to pin a version?

[2021-11-04 19:12] Shikachuu commented on #560
I am thinking on a duck-tape way, why don't we write an HTTP endpoint (an OpenFaaS function for example) which returns it like `kubectl`'s or kuma's end point?

[2021-11-04 19:38] Shikachuu commented on #560
This might be a good idea:
https://github.com/alexellis/arkade/issues/574#issuecomment-961342358_

Or this one:
https://github.com/alexellis/arkade/pull/574#issuecomment-961340135

(Just to keep these ideas one place.)

[2021-11-06 19:35] YuviGold commented on #560
What do you think about changing the `Version` field from a `string` to a function returns a `string`? Then, each tool can be implemented according to its requirements.
https://github.com/alexellis/arkade/blob/19077193030259be439587b2686b0d4530ced248/pkg/get/get.go#L35-L37

Current code would be transformed to the following schema (so nothing would be affected)
[code]

more complex scenarios could

[2021-11-06 20:32] Shikachuu commented on #560
Such a great idea! @alexellis what do you think?

[2021-11-08 10:55] xshyamx opened #576 "kube-bench install fails"
Installing kube-bench with ark fails with HTTP 404 error

## Expected Behaviour

Binary should be installed succesfully in `$HOME/.arkade/bin`

## Current Behaviour

Gets HTTP 404 because of incorrect URL

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [ ] Yes
- [x] No

## Possible Solution

`BinaryTemplate` in tools.go needs to be updated to reflect the c

[2021-11-08 11:53] alexellis commented on #576
Thanks for the issue. Is this regression due to changes upstream?

Are you wanting to send a PR and updated unit tests?

[2021-11-08 11:59] #576 closed

[2021-11-08 11:59] alexellis commented on #576
If you're a regular user of arkade, please consider becoming a sponsor. It doesn't cost a lot and every little helps with all this work :)

[2021-11-08 12:01] alexellis commented on #576
Fixed in: https://github.com/alexellis/arkade/releases/tag/0.8.9

Run `arkade update`

Also you can get tools using an `@` syntax now:

[code]

[2021-11-08 12:42] Shikachuu commented on #564
@Xos73 with 0.8.9 this issue should be fixed, can you confirm that and close the issue?

[2021-11-09 05:16] xshyamx commented on #576
I did not expect such a fast response. By the time I revisited the issue it is already closed and released in the new version. Kudos :)

[2021-11-09 12:36] Shikachuu commented on #535
The request change was merged yesterday, should we close this? :thinking:

[2021-11-09 18:04] Shikachuu opened #579 "Feature request: Add hostctl to `arkade get`"
https://github.com/guumaster/hostctl
hostctl is a nice and handy tool to manage different host profiles and host files in general on every os.

## Expected Behaviour
`arkade get hostctl` installs the binary

## Current Behaviour
Not implemented

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [ ] Yes
- [X] No

## Possible Solution
Add `hostctl` to `pkg/get/

[2021-11-09 18:39] Shikachuu opened #580 "Add support for docker compose v2"
v1 is currently supported and hardlocked to the latest version.

## Expected Behaviour
You can install compose version 2.

## Current Behaviour
You are only able to install the last release of version 1.

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [ ] Yes
- [X] No

## Possible Solution
1. Bump the version number to v2 (mostly compatible, but not 100%)

[2021-11-09 18:50] Shikachuu opened #581 "Add support for compose-cli"
https://github.com/docker/compose-cli
This is not `docker-compose` netiher, `docker-compose v2`, this is a different cli tool to run containers on cloud providers and k8s, using a docker-compose like file.

## Expected Behaviour
`arkade get compose-cli` installs it.

## Current Behaviour
Not implemented.

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [ ]

[2021-11-09 19:05] Shikachuu opened #582 "Feature request: Add support for LogCLI"
LogCLI (what a general sounding name...) is a command line tool for Loki.
https://grafana.com/docs/loki/latest/getting-started/logcli/

## Expected Behaviour
`arkade get logcli` installs it.

## Current Behaviour
Not implemented.

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [ ] Yes
- [X] No

## Possible Solution
Add `logcli` to `pkg/get/tools.go`.

## C

[2021-11-09 19:21] Shikachuu opened #583 "Kubectx not using dynamic versioning"
Tools downloaded from GitHub should be able to download the latest release, yet kubectx is capped to `v0.9.1`.

## Expected Behaviour
`arkade get kubectx` downloads the latest version of kubectx.

## Current Behaviour
It downloads `v0.9.1`.

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [ ] Yes
- [X] No

## Possible Solution
1. Update to the version by ha

[2021-11-09 20:02] alexellis commented on #583
I can't remember why this was, but if you can make it work, feel free to go ahead with this.

[2021-11-09 20:07] Shikachuu commented on #580
It has a detailed description in the [Github repo](https://github.com/docker/compose#about-update-and-backward-compatibility).

_Tldr.: It has been completely rewritten from scratch in Golang, V2 is not a standalone binary anymore and some commands are different._

[2021-11-09 20:09] Shikachuu commented on #583
Just tried it with latest release and it is working fine.

I'll definetly do a PR!

[2021-11-15 09:32] #566 closed

[2021-11-16 12:18] #570 closed

[2021-11-16 12:18] alexellis commented on #570
Added in #585

[2021-11-19 09:03] alexellis commented on #560
Let me get back to you on this. Thanks for looking into it

[2021-11-22 14:15] alexellis opened #587 "Update Portainer app to use its helm chart"
Update [Portainer](https://www.portainer.io) app to use its helm chart

## Expected Behaviour

We should use the Portainer chart.

https://portainer.github.io/k8s/charts/portainer/

## Current Behaviour

## Possible Solution

Copy the approach used for the openfaas app or one of the others.

Where to edit:

https://github.com/alexellis/arkade/blob/master/cmd/apps/portainer_app.go

Examples to foll

[2021-11-22 14:15] alexellis commented on #587
/add label: help wanted, good first issue

[2021-11-22 14:17] alexellis commented on #557
Running tests like this in CI for every OS combination would be time consuming, may consume excessive amounts of bandwidth and will give false positives, because K3s for instance is not available on Mac. So how do you suggest we validate that use-case?

[2021-11-22 14:20] alexellis commented on #560
Hi @YuviGold

Changing Version from a string to function would involve a massive refactor. I think we could probably add a separate field with a different name like: `VersionSource`

When empty, VersionSource would default to the current behaviour. If a string was given, i.e. `kuma` `hashicorp` then we'd determine what code to run (some custom lookup function) and return the version.

Wherever `Ve

[2021-11-22 15:05] alexellis commented on #587
Hi @srebala please take a look at what needs to be done and then confirm whether you think you can manage it in your first contribution?

[2021-11-22 19:08] YuviGold commented on #560
This approach creates a bit more complexity(conditions) and misses the flexibility of the former. For example, if one source would return a JSON instead of a raw data.
That being said, I agree that refactoring the function is a bit more tedious but not much. As long as there is no other package that uses this API as a library. Please correct me if I'm wrong.

Anyway, both implementations sound goo

[2021-11-22 19:14] Shikachuu commented on #560
I think, the version that @alexellis recommends, can be introduced without any code change on the `arkade/pkg/get/tools.go ` side, which is currently one of the most frequently updated files, not to mention it is not a breaking change, so it's just a minor bump.

That being said, your version still the elegant way to do it, yet that is a major version bump and introduces a lot of change in the abo

[2021-11-22 19:15] YuviGold commented on #557
@alexellis
To avoid time consuming - The 2nd possible solution of the issue; In addition, the 1st possible solution would run separately from the UT so it won't affect the current flow but create a new one (system test).
For avoiding false/positive - as suggested in the comment, having a list of valid values.

[2021-11-24 10:27] Shikachuu commented on #587
I can take this issue, I am intrested in Portainer anyways.
I think the ETA is somewhere between today (2021.11.24) and tomorrow (2021.11.25).

[2021-11-26 01:15] jlogelin-dell opened #589 "Bad link for k3d on windows"
The reference is missing `.exe` from the download link `https://github.com/rancher/k3d/releases/download/v5.1.0/k3d-windows-amd64`

[code]

[2021-11-26 01:56] jlogelin commented on #589
PR: https://github.com/alexellis/arkade/pull/590

[2021-11-29 13:06] LucasRoesler opened #591 "Supporting values files for helm charts"
## Expected Behaviour

If an app is packaged via a helm chart, then arkade should support passing a values file, for example

[code]

## Current Behaviour

Value file support is not indicated in the CLI help text

[code]

Further, the README even suggests that this is a desirable feature https://github.com/alexellis/arkade#say-goodbye-to-valuesyaml-and-hello-to-flags

## Are you a GitHub Sponsor (

[2021-11-29 16:23] alexellis commented on #589
Thanks @jlogelin please use "Fixes: #589" in the future, which was part of the PR template that you deleted :confused:

Likewise, please fill out the issue templates otherwise it sets a poor example for others if we let this slide. You may feel like in this instance it didn't add anything, but for many issues it does - things that the submitter hasn't considered.

[2021-11-29 16:23] #589 closed

[2021-11-29 16:23] alexellis commented on #583
Thanks @Shikachuu I'll look out for it.

[2021-11-30 09:17] alexellis commented on #591
Thanks for taking the time to write this up.

I am seeing two issues:

1) A use-case with many embedded or complex values within one single chart
2) A parsing error

For 2) can you raise a separate issue?

For 1)

How likely are users going to be to edit all of the values you quoted? Many helm charts are jam packed with options like the openfaas chart, or the Kasten chart, however, oftentimes you

[2021-11-30 10:34] LucasRoesler commented on #591
RE (1) this is impossible to say. I don't know _what_ a user will want to edit because it depends on their situation.

In my case, I only wanted to do 3 things: (a) install some default data sources, (b) add tracing id as a derived field in Loki, and (c) change the URL configuration. This seems pretty reasonable, to me, if you are deploying the Grafana+Loki+Tempo stack together.

But I am sure the

[2021-11-30 10:39] LucasRoesler opened #592 "can not parse `--set` values that contain equal signs"
There are sometimes a need to pass in special characters which are then captured and parsed incorrectly by arkade, preventing the installation of the app.

## Expected Behaviour

This command should work without  error

[code]

## Current Behaviour

[code]
produces  `Error: incorrect format for custom flag`.

It is failing because of the equal signs in the log format string. This can be verified b

[2021-11-30 10:39] LucasRoesler commented on #591
RE (2) it is split to here https://github.com/alexellis/arkade/issues/592

[2021-11-30 16:05] yankeexe commented on #587
/close

[2021-11-30 16:05] #587 closed

[2021-12-01 12:20] alexellis commented on #592
@yankeexe can you take a look into this please? Does your WIP PR cover this usecase?

[2021-12-01 12:24] alexellis commented on #591
I'm not against values.yaml as a concept and use it some of the time for various projects. Especially when I have to change many things to install an app.

You say it's impossible to know what a sane default is for your chart. So what did you want to edit for your personal installation of your app? If a deep knowledge of a values file is the only way a chart is useful then it may not be a good fit

[2021-12-01 12:39] yankeexe commented on #592
@alexellis sure, I do not have a WIP PR as of now, but I will create one.

[2021-12-01 17:12] alexellis commented on #592
I was referring to https://github.com/alexellis/arkade/pull/477

[2021-12-01 18:54] alexellis commented on #526
I took another look at this today. So vCluster is the tool from loft-sh, right?

That sounds fine. Can you go ahead and add a PR for the CLI? @developer-guy

Their download page has lots of tabs that would just become "arkade get"

![image](https://user-images.githubusercontent.com/6358735/144296094-2ef31733-24a7-4979-b2ce-3f8f3b6d08b9.png)

[2021-12-04 18:58] sjmudd opened #594 "binary relocation leaves wrong user and permissions and suggested PATH changes are not idempotent."
Download instructions work fine, but the suggestion to move under `/usr/local/bin` will leave files with the wrong ownership (not `root` and not `go = group/other` executable) and leaving in user's `PATH` blindly adding `$HOME/.arkade/bin` is not ideal (could leave repeated entries).

## Expected Behaviour

- provide a simpler _one-click_ way to `chmod go=rx <binaries>` of the binaries and `chown

[2021-12-05 11:12] alexellis commented on #594
@sjmudd is this an actual problem you experienced?

Do you have multiple users logging into your laptop?

I'm trying to understand if this is a purest/prescriptive critique or solving an actual problem that users are facing.

Alex

[2021-12-10 09:49] sjmudd commented on #594
I don't have multiple users connected to my pc but I do expect binaries installed in `/usr/local/bin` to be configured properly. There's a standard for this and having binaries with unexpected problems is not ideal and may cause issues. Expecting a single user to login to the computer is I think misguided. If you want to install binaries into only the user's environment than that's different but t

[2021-12-14 17:23] alexellis opened #595 "kustomize failing on Linux AMD64"
## Expected Behaviour

kustomize should continue to work

## Current Behaviour

It's failing to download for me on Linux / AMD64:

[code]

Let's get it fixed?

[2021-12-14 17:25] alexellis commented on #595
/add label: help wanted

[2021-12-14 17:25] developer-guy commented on #595
I can take care of this one

[2021-12-14 17:25] alexellis commented on #595
Thank you

[2021-12-23 17:30] diogosalazar opened #597 "How to uninstall arkade?"
I want to remove it from my system and would like to know what is the recommended way to do so. Thanks.

[2021-12-24 14:41] dirien commented on #597
depending on your install methode you can just do a `rm /usr/local/bin/arkade`

[2021-12-24 15:11] dirien commented on #595
Hi @developer-guy and @alexellis, I quickly fixed this. Hope its okay?

[2021-12-28 04:07] diogosalazar commented on #597
Thank you, that is very helpful

[2021-12-28 04:07] #597 closed

[2022-01-06 09:26] alexellis commented on #595
Thanks @dirien - you caught me in the Christmas period so I'll take a look.

[2022-01-06 09:26] #595 closed

[2022-01-06 09:29] alexellis commented on #594
Hi @sjmudd thanks for your suggestion.

I'm going to leave this issue here (but closed). If it affects someone, they are welcome to comment here and we can triage your suggestions.

You are under no requirement to move tools downloaded by arkade to /usr/local/bin, you can simply use them from $HOME/.arkade/bin as is the default.

Alex

[2022-01-06 09:29] #594 closed

[2022-01-06 09:30] alexellis commented on #579
@Shikachuu if you use this tool, then feel free to submit a PR.

Alex

[2022-01-13 18:59] Yannig commented on #583
This PR (https://github.com/alexellis/arkade/pull/602) can be used to download latest version of kubectx or kubens.
Use latest as version value to retrieve the last one:

    arkade get kubens@latest

[2022-01-13 19:07] Yannig commented on #560
Hi,

Sorry, I didn't read this conversation before doing my PR (https://github.com/alexellis/arkade/pull/602).

I have done a little experiment to retrieve the last version using Github API. Any feedback are welcome :)

[2022-01-14 12:05] mirageglobe opened #603 "ark get kubeseal has outdated version"
kubeseal library source is outdated. running ark get kubeseal downloads and older version 0.14.

![image](https://user-images.githubusercontent.com/577792/149512390-4d6ccf53-3572-465a-b942-62b958edab0c.png)

using versioned fails

![image](https://user-images.githubusercontent.com/577792/149512243-6bd656cb-302e-4dab-a2d3-7818d2dce6b9.png)

## Expected Behaviour

to install kubeseal latest

## Curr

[2022-01-15 13:10] max-ae commented on #207
`arkade` is now also available in the default Homebrew/core tap, so there is no more need for a third-party tap 😄

[2022-01-16 13:05] Yannig opened #605 "Add support for eksctl"
## Expected Behaviour

Run `arkade get eksctl` to get this tool installed.

## Current Behaviour

No installation

## Are you a GitHub Sponsor (Yes/No?)

- [ ] Yes
- [X] No

## Possible Solution

Add the definition inside pkg/get/tools.go

## Steps to Reproduce (for bugs)

## Context

## Your Environment

* What Kubernetes distribution are you using?

[code]

* Operating System and version (e.g. L

[2022-01-18 18:45] alexellis commented on #605
Hi thanks for the suggestion. Do note that all changes need to be proposed in an issue and given approval (before) you work on them.

That said, I've taken a look and given you a review. Please check your PR for more.

Alex

[2022-01-19 10:54] brysk opened #606 "Release 0.8.12 is missing arkade-darwin-arm64 binary"
I've follewed Readme instruction to download arkade but it looks like [arkade-darwin-arm64 ](https://github.com/alexellis/arkade/releases/download/0.8.12/arkade-darwin-arm64) binary is missing:

`curl -sLS https://get.arkade.dev | sudo sh`

## Expected Behaviour
Binary is downloaded and installed

## Current Behaviour
https://github.com/alexellis/arkade/releases/download/0.8.12/arkade-darwin-arm64

[2022-01-19 12:45] #605 closed

[2022-01-19 15:26] yankeexe opened #607 "Update natscli download URL"
## Expected Behaviour

Download natscli with `arkade get` command

[code]

## Current Behaviour

Returns a 404 on the download URL
![image](https://user-images.githubusercontent.com/13623913/150160834-c2119dd3-d21a-4505-bd5a-0373560bb22b.png)

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [ ] Yes
- [x] No

## Possible Solution

Update BinaryTemplate to us

[2022-01-19 17:00] yankeexe opened #609 "Schedule GH Actions to identify tools dead links"
## Expected Behaviour

Similar to #607 ; there have been a few occasions where the versioning/naming convention of some tools has changed that breaks our CLI and we are not aware unless we run into it or someone raises an issue regarding it.

Run [GitHub actions schedule event](https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#schedule) to run `make test` every day o

[2022-01-19 17:19] Yannig opened #610 "There is no latest version support for most tools"
## Expected Behaviour

Be able to download the latest version of any tools using version=latest or something similar.

## Current Behaviour
When we try to download k9s, we get the latest version. On the other hand, when trying to get helm or kubectl, you get a fixed value and - unless you know the version number - there is no way to automate this process.

## Are you a GitHub Sponsor (Yes/No?)

-

[2022-01-19 17:36] alexellis commented on #606
cc @TomTucka

[2022-01-19 17:45] alexellis commented on #606
Here's the new binary: https://github.com/alexellis/arkade/releases/download/0.8.13/arkade-darwin-arm64

For some CLIs you mat need to run `arkade get --arch x86_64` since there are limited choices for Darwin ARM64 at present.

[2022-01-19 17:51] alexellis commented on #610
We specifically always download the latest version of tools if no version is set in the template. What makes you think otherwise?

Give me some examples?

[2022-01-19 17:54] #564 closed

[2022-01-19 17:54] alexellis commented on #564
Closing. Thanks @Shikachuu

[2022-01-19 17:57] alexellis commented on #603
Hi @mirageglobe thanks for letting us know

This happens when projects change downstream.

Let's see if there's someone who wants to work on a fix?

@dirien @welteki @Yannig @cpanato

Seems like a gzipped tar is now used instead of a regular binary. We have examples like this that can be used for a starting point.

![image](https://user-images.githubusercontent.com/6358735/150187159-3aa88331-a1d0-

[2022-01-19 17:58] alexellis commented on #610
If you agree that this is the same issue as #560 I'll close this as a duplicate and we can continue to chat on the issue I wrote up last year. If not, let me know what is specifically different.

Alex

[2022-01-19 17:58] Yannig commented on #610
Sure.

[2022-01-19 17:58] #610 closed

[2022-01-19 18:10] Yannig commented on #560
Sorry for the other issues. I will continue the discussion here.

In the case of tools like kubectl and helm, the latter do not have binaries that can be downloaded directly from Github. It is therefore necessary to specify the version in order to be able to download the binary. On the other hand, in the case of these projects, they are present in Github and it is quite possible to retrieve the la

[2022-01-19 18:16] #607 closed

[2022-01-19 18:17] #526 closed

[2022-01-19 18:19] #606 closed

[2022-01-20 00:24] yankeexe commented on #603
@alexellis  I will take this issue.

[2022-01-20 08:11] Yannig commented on #603
I'm working on a feature to detect the last release and try to guess the one compatible with the current os and arch.

In this way we can autodetect the archives which correspond to certain common criteria (the presence of linux, mac or windows strings or the presence of amd64, arm64, etc).

As soon as I've made some progress on the subject, I'll create a branch with my work.

[2022-01-20 10:03] alexellis commented on #560
There are tools which do not use GitHub at all for their releases or binaries, but separate text files or HTTP endpoints.

There's been some discussion with @Shikachuu and my preference would be to implement an optional field like "source" = "github" (or "" blank as a default) / "hashicorp" / "kubernetes" etc for these non-standard tools.

At runtime, the value of this field would use a "VersionFi

[2022-01-20 10:17] developer-guy opened #612 "Feature request: Integrate with the Cosign project for arkade releases"
## Expected Behaviour>

verifiable arkade binaries

## Current Behaviour

There is no support for signing and verifying arkade binaries.

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [ ] Yes
- [x] No

## Possible Solution

using cosign and GitHub Actions

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* What Kubernetes di

[2022-01-20 10:20] developer-guy opened #613 "Feature request: Prevent download of unsigned binaries from arkade get"
## Expected Behaviour

Maybe we could provide an option as Docker did in its Content Trust feature (DOCKER_CONTENT_TRUST) variable to enable downloading binaries if the binary was signed, then verify it before downloading it.

## Current Behaviour

Not supported

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [ ] Yes
- [x] No

## Possible Solution

We coul

[2022-01-20 10:45] alexellis commented on #613
This issue needs fleshing out with more context.

Why? What's the use-case?

Pros/Cons of adding and maintaining this solution

How you plan to determine for a given binary tool, whether "the binary was signed" etc.

[2022-01-20 10:45] alexellis commented on #613
/set title: Feature request: Prevent download of unsigned binaries from arkade get

[2022-01-20 10:48] alexellis commented on #612
Thanks for your suggestion.

Just like on #613 this proposal is missing context, use-cases and pros/cons.

Please take a few moments to add some meat to the bones here.

I know you're aware of the [contribution guide](https://github.com/alexellis/arkade/blob/master/CONTRIBUTING.md), but please don't send a PR for either of these until they have approval and are marked as accepted.

[2022-01-20 10:48] alexellis commented on #612
/set title: Feature request: Integrate with the Cosign project for arkade releases

[2022-01-20 13:58] Yannig commented on #603
Here a first version of this feature: https://github.com/alexellis/arkade/pull/614

[2022-01-20 18:25] Yannig commented on #560
It looks like there are releases on Github for most of the tools. So far I have only found hashicorp/vagrant, minio/mc and rancher/kim. For the rest, it seems to be there.

[2022-01-23 05:49] vandot opened #616 "ark get kubectl uses wrong URL for M1"
`ark get kubectl` tries to download tool using wrong URL, right URL is https://storage.googleapis.com/kubernetes-release/release/v1.22.2/bin/darwin/arm64/kubectl

Change is in arch part `arm` to `arm64`

## Expected Behaviour
Running `ark get kubectl` would install kubectl

## Current Behaviour
Running `ark get kubectl` fails with
[code]

## Are you a GitHub Sponsor (Yes/No?)

Check at https://git

[2022-01-24 11:12] developer-guy opened #617 "[CLI]: add lima"
## Expected Behaviour

Install [lima](https://github.com/lima-vm/lima) through arkade

## Current Behaviour

Not supported yet

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [ ] Yes
- [x] No

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* What Kubernetes distribution are you using?

[code]

* Operat

[2022-01-24 20:51] developer-guy commented on #617
hello @alexellis, IMO, I have a problem when I want to install lima via arkade because lima depends on another called limactl which is packaged along with lima tool. In arkade, we extract the .tar.gz file into tmp/ folder, then we move the only lima binary into /root/.arkade/bin. when we do that, because the lima binary depends on limactl binary, we can't run either lima or limactl. So, I've opene

[2022-01-26 10:24] alexellis commented on #616
Hi, this may start to happen to many more CLIs now since arkade uses the binary's architecture to download tools and many tools do not have an M1 binary.

cc @tomtucka

What happens if you run: `arkade get kubectl --arch x86_64`?

In the meantime, if you'd like to send a PR - or if anyone else wants to send one (please also update the unit test) - that'd be appreciated.

Alex

[2022-01-26 10:49] alexellis commented on #617
Our tooling expects all binaries to be available in $PATH under $HOME/.arkade/bin/ or under /usr/local/bin

Is it possible for limactl to get the `lima-guestagent..` binaries from that location?

[2022-01-26 11:06] welteki commented on #616
Until this is fixed, running `arkade get kubectl --arch aarch64` works.

[2022-01-26 13:41] Shikachuu commented on #616
If this is not taken yet, I'll do it with an ETA of tomorrow morning.

[2022-01-26 13:54] vandot commented on #616
@welteki thanks that works
@alexellis as described in the issue `kubectl` has darwin M1 but its on different URL

[2022-01-26 16:35] #616 closed

[2022-01-26 16:50] alexellis commented on #617
/add label: enhancement

[2022-01-26 17:43] Shikachuu commented on #550
/close

[2022-01-26 17:43] #550 closed

[2022-01-26 17:43] Shikachuu commented on #535
/close

[2022-01-26 17:43] #535 closed

[2022-01-26 17:46] Shikachuu commented on #613
/add label: enhancement

[2022-01-26 17:46] Shikachuu commented on #612
/add label: enhancement

[2022-01-26 17:49] Shikachuu commented on #583
/add label: enhancement
/assign: me

[2022-01-26 17:51] Shikachuu commented on #582
/edit title: Feature request: Add support for LogCLI
/add label: enhancement

[2022-01-26 17:52] Shikachuu commented on #582
/add label: enhancement

[2022-01-26 17:53] Shikachuu commented on #583
/assign: me

[2022-01-26 17:54] Shikachuu commented on #581
/add label: enhancement

[2022-01-26 17:54] Shikachuu commented on #579
/add label: enhancement

[2022-01-26 17:54] Shikachuu commented on #579
/assign: me

[2022-01-26 17:59] Shikachuu commented on #111
/template
@eharrow are you still intrested?

Can you fill the issue template please?

[2022-01-26 18:01] Shikachuu commented on #111
/add label: invalid

[2022-01-26 18:01] Shikachuu commented on #111
/msg: template

[2022-01-27 09:03] Shikachuu commented on #557
This issue seems roughly the same as #609 , which I think @yankeexe is currently working on.
Can you confirm that?@YuviGold

[2022-01-27 09:14] Shikachuu commented on #479
/msg template

@MushiTheMoshi Are you still instrested? If thats the case, can you fill the issue template please?

[2022-01-27 09:14] Shikachuu commented on #479
/msg: template

[2022-01-27 09:14] Shikachuu commented on #479
/add label: invalid

[2022-01-27 09:18] Shikachuu commented on #571
/add label: enhancement

[2022-01-27 09:19] Shikachuu commented on #571
/edit title: Feature request: Add Kuma helm chart + kumactl cli app

[2022-01-27 09:20] Shikachuu commented on #581
/edit title: Feature request: Add support for compose-cli

[2022-01-27 09:21] Shikachuu commented on #580
/edit title: Feature request: Add support for docker compose v2

[2022-01-27 09:21] Shikachuu commented on #579
/edit title: Feature request: Add hostctl to `arkade get`

[2022-01-27 09:22] Shikachuu commented on #553
/close
#562 fixed this

[2022-01-27 09:22] #553 closed

[2022-01-27 13:29] YuviGold commented on #557
Only part of it. It will provide better coverage to identify current tests' failures.

But it still neglects all the other possible options. Tests that are getting outdated / new tools without tests / other architectures and operating systems that aren't being tested. This issue suggests dynamic testing.

[2022-01-27 13:57] YuviGold commented on #557
The 2nd option of the issue is much simpler, it just verifies that the URL is accessible without downloading and verifying the decompression.
I can easily add something like the following, which won't be time consuming:

[code]

WDYT? @Shikachuu  @alexellis

[2022-01-27 14:03] YuviGold commented on #560
Just checked about the different URLs

<details>
<summary>Click to expand the code:</summary>

[code]

</details>

[code]

I believe that a mix of `VersionSource` + Having a flexible `Version` function is the optimized solution. But we can start only with the first one to avoid refactoring.
@alexellis let me know if you want me to implement any of the solutions.

[2022-01-27 14:11] Shikachuu commented on #557
I like the idea, but we need to make a test that runs independently from the current tests.
(Most probably only in a CI environment.)

Without that it would made the contributor's life harder, imageine working on a tool for example Hashicorp Vault and all of the sudden Kubectl breaks in your tests, but you haven't touched any existing code.

[2022-01-27 23:40] MushiTheMoshi commented on #479
I am interested, but never done this before, what should Ï do ? where do I get that template?

[2022-01-29 15:09] adowair commented on #472
Hey @yankeexe, this is a great idea, I thought of this immediately when I used arkade for the first time. `brew` and `yum` both have the command `search`:
- `brew search <package>`
- `yum search <package>`
so following tradition, we could implement it that way as well

[2022-02-02 14:34] Shikachuu commented on #203
/msg: template

@nicholasjackson are you still intrested to do a PR?
Also can you fill the issue template please?

[2022-02-02 14:34] Shikachuu commented on #202
/msg: template

@nicholasjackson are you still intrested to do a PR?
Also can you fill the issue template please?

[2022-02-02 14:44] alexellis opened #620 "The loki stack chart has been deprecated and breaks with K8s 1.23+"
The loki stack chart has been deprecated and breaks with K8s 1.23+

## Current Behaviour

The [Loki-Stack Helm Chart](https://github.com/grafana/loki/tree/main/production/helm/loki-stack) used in `arkade install loki --grafana` has been deprecated

It fails to install on K8s 1.23 due to using `rbac.authorization.k8s.io/v1beta1` which has been removed from that version of K8s.

## Possible Solution

[2022-02-02 14:55] Shikachuu commented on #620
The helm repository url should here: https://github.com/alexellis/arkade/blob/master/cmd/apps/loki_app.go#L57 should be https://grafana.github.io/helm-charts

Also I don't know about any value changes, but definetly worth to run over it and check if the value names are still the same.

[2022-02-02 19:21] alexellis commented on #620
Also happy for @LucasRoesler to work on it. The sooner we get it fixed the better as it will start to affect more people as they move to K8s 1.23

[2022-02-12 15:26] #620 closed

[2022-02-12 15:27] #617 closed

[2022-02-12 15:27] alexellis commented on #617
Due to discussions with the maintainer, we cannot support limactl at this time.

[2022-02-12 15:28] #603 closed

[2022-02-13 09:35] karthick-kk opened #623 "Feature request: Add kubecm to arkade get"
https://github.com/sunny0826/kubecm
Manage your kubeconfig more easily.
Find more information at: https://kubecm.cloud

## Expected Behaviour
`arkade get kubecm` installs the binary

## Current Behaviour
Not implemented

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [ ] Yes
- [x] No

## Possible Solution

Add `kubecm` to `pkg/get/tools.go`

## Context
Rec

[2022-02-13 09:49] karthick-kk commented on #623
@alexellis have a working copy of codebase which implements this feature. please let me know if I should create a pull request

[2022-02-16 14:10] karthick-kk opened #624 "`arkade get k3d` is broken"
## Expected Behaviour
fetch k3d binaries from github repository
[code]

## Current Behaviour
fails to retrieve the binary
[code]

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [ ] Yes
- [x] No

## Possible Solution

modify owner from `rancher` to `k3d-io` in pkg/get/tools.go and get-test.go

## Steps to Reproduce (for bugs)

1.
2.
3.
4.
`❯ ark get k3d`

#

[2022-02-16 19:35] Shikachuu commented on #624
/add label: bug

[2022-02-16 19:37] #583 closed

[2022-02-16 19:37] #579 closed

[2022-02-16 19:47] Shikachuu commented on #402
/msg: template

[2022-02-16 19:47] Shikachuu commented on #402
/add label: invalid

[2022-02-16 20:20] Shikachuu opened #626 "Feature request: Add Consul to `arkade install`"
Originally reported by: @nicholasjackson

## Expected Behaviour
`arkade install consul` installs [HashiCorp Consul](https://www.consul.io/).

## Current Behaviour
Not implemented.

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [ ] Yes
- [X] No

## Possible Solution
Add Consul as an installable app.

## Context

Consul is a service mesh, created by HashiCo

[2022-02-16 20:21] Shikachuu opened #627 "Feature request: Add Vault to `arkade install`"
Originally reported by: @nicholasjackson

## Expected Behaviour
`arkade install vault` installs HashiCrop Vault.

## Current Behaviour
Not implemented.

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [ ] Yes
- [X] No

## Possible Solution
Add Vault as an installable app.

## Context

Vault is a secret management service, created by HashiCorp.

## Your Envi

[2022-02-16 20:22] Shikachuu commented on #203
/close
Closed in favor of #627

[2022-02-16 20:22] #203 closed

[2022-02-16 20:22] Shikachuu commented on #202
/close
Closed in favor of #626

[2022-02-16 20:22] #202 closed

[2022-02-16 20:24] Shikachuu commented on #227
@evalsocket are you still intrested?

[2022-02-16 20:25] Shikachuu commented on #227
/msg: template

[2022-02-16 20:27] Shikachuu commented on #165
@rberrelleza this issue is still there with the current version of arkade?

[2022-02-16 20:33] Shikachuu commented on #111
/close
Sorry, but as far as we know, there is no offical helm chart for pi-hole, nor a recommendation for this community chart.
Also the issue is invalid since because the issue template was not used, but feel free to open a new one any time.

[2022-02-16 20:33] #111 closed

[2022-02-17 00:50] rberrelleza commented on #165
@Shikachuu not anymore!
![image](https://user-images.githubusercontent.com/475313/154382837-a54f0740-3ba6-461f-aed6-ee635330981e.png)

[2022-02-17 12:24] #165 closed

[2022-02-24 12:44] #624 closed

[2022-02-24 12:47] alexellis commented on #623
Sure, looks great.

Do you want to raise a PR for it and link it to this issue with `Fixes: #...`

[2022-02-27 13:35] welteki opened #630 "`ark get kubestr` fails"
The url for kubestr releases changed.

## Expected Behaviour

Running `arkade get kubestr` installs kubestr

## Current Behaviour

Running `arkade get kubestr` fails with
[code]

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [x] Yes
- [ ] No

## Possible Solution

Update template

## Steps to Reproduce (for bugs)

1. `arkade install kubestr`
2.
3.
4.

##

[2022-02-27 13:36] welteki commented on #630
/add label: bug

[2022-02-27 13:53] welteki opened #632 "`arkade get k10tools` fails"
The url for k10tools releases changed.

## Expected Behaviour

Running `arkade get k10tools` installs k10tools

## Current Behaviour

Running `arkade get k10tools` fails with
[code]

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [x] Yes
- [ ] No

## Possible Solution

Update template

## Steps to Reproduce (for bugs)

1.`arkade install k10tools`
2.
3.
4.

[2022-02-27 13:54] welteki commented on #632
/add label bug

[2022-02-27 13:55] welteki commented on #632
/add label: bug

[2022-03-01 19:09] Shikachuu opened #634 "Single/double quote parsing issues with `--set` flags"
Single and double quotes handled inconsistently in key value paris in the values side.

Reported by @alexellis in the #contributors Discord chat.
## Expected Behaviour
Automatically remove  double quotes from: `nats.clusterName="faas-cluster"` and parse it to `nats.clusterName: faas-cluster`.

## Current Behaviour
Includes quotes in to the string itself.

## Are you a GitHub Sponsor (Yes/No?)

Che

[2022-03-01 19:10] Shikachuu commented on #634
/assign: me

[2022-03-01 19:10] Shikachuu commented on #634
/label: bug

[2022-03-01 19:11] Shikachuu commented on #592
/add label: bug

[2022-03-01 19:11] Shikachuu commented on #592
/assign: me

[2022-03-02 10:06] alexellis commented on #634
Closed as red herring, this was actually working. User error on my part.

[2022-03-02 10:07] alexellis commented on #592
In the string:

[code]

I believe the only problem is the way that some of the values for the keys are quoted with double quotes.

These will be removed by bash, so the way to get the value in, is to quote them as per:

[code]

[2022-03-02 11:25] #632 closed

[2022-03-02 11:25] #630 closed

[2022-03-02 12:12] #557 closed

[2022-03-02 17:40] karthick-kk opened #637 "Feature request: Add mkcert to `arkade get`"
https://github.com/FiloSottile/mkcert
A simple zero-config tool to make locally trusted development certificates with any names you'd like.

## Expected Behaviour

`arkade get mkcert` installs the binary

## Current Behaviour

[code]

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [ ] Yes
- [x] No

## Possible Solution

Add `mkcert` to `pkg/get/tools.go`
#

[2022-03-06 08:07] hholst80 commented on #402
Great job guys closing an issue after 10 months with "invalid" wo further information. This is how you build a failed state.

[2022-03-06 08:49] Shikachuu commented on #402
Hey @hholst80, I am sorry if you feel this way, but the issue isn't closed yet!
Can you give us some guidance, where and how should we update our bot's invalid template comment?
I would be much appreciated!

[2022-03-06 09:18] alexellis commented on #402
Derek added the label because the issue template wasn't filled in. Sorry that you get this way, but it's not personal.

Go ahead and fill out the template properly and we can remove the label and consider your request.

If you don't want to follow the contribution process, that's ok. Just let us know and we will get this closed for you.

Thanks for your interest in arkade

[2022-03-06 11:39] #402 closed

[2022-03-06 14:25] Shikachuu opened #639 "Traefik helm chart fails to install above K8s v1.22"
In K8s v1.22 support for `apiextensions.k8s.io/v1beta1` was dropped, in favor of `apiextensions.k8s.io/v1` (introduced in v1.16), we are using the old Traefik helm chart which is no longer updated.
## Expected Behaviour
Traefik installs the latest v2 release on new k8s versions.

## Current Behaviour
Throw the following error:
[code]

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.

[2022-03-06 14:25] Shikachuu commented on #639
/add label: bug

[2022-03-06 16:12] Shikachuu opened #640 "Out dated kube-state-metrics chart"
The kube-state-metrics chart that arkade using is [outdated.](https://github.com/kubernetes/kube-state-metrics#helm-chart)

## Expected Behaviour
`arkade install kube-state-metrics` installs the latest helm chart.

## Current Behaviour
First, it is failing at:
[code]
You can fix this with this bash command: (This was already a bad omen...)
[code]
Then running `arkade install kube-state-metrics -n

[2022-03-06 16:15] Shikachuu commented on #640
/add label: bug

[2022-03-06 20:07] Shikachuu commented on #609
Hey @yankeexe,
#636 closed this right?

[2022-03-07 00:52] #609 closed

[2022-03-08 09:44] #640 closed

[2022-03-08 09:45] #639 closed

[2022-03-08 09:45] Shikachuu commented on #637
/close
Closed by #638

[2022-03-08 09:45] #637 closed

[2022-03-08 17:00] karthick-kk opened #644 "Feature request: Add Gucci to `arkade get`"
Gucci is a simple CLI templating tool written in golang.
More information: https://github.com/noqcks/gucci

## Expected Behaviour

`arkade get gucci` installs the binary

## Current Behaviour

[code]
## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [ ] Yes
- [x] No

## Possible Solution

Add `gucci` to `pkg/get/tools.go`

## Steps to Reproduce (for bugs)

1.

[2022-03-13 07:02] adowair commented on #472
# Design Proposal

Alright folks, I'm giving designing this feature a go–this is my first time contributing to this project, so I'd appreciate feedback and advice. Arkade can be used to install two kinds of "things", both CLIs (via `arkade get`), and apps (via `arkade install`). One concern I had when thinking about this feature is: how to implement searching for **both** of these groups, without

[2022-03-20 10:15] Shikachuu opened #648 "Feature request: Add Mozilla SOPS to arkade get"
SOPS is a secret management toolkit, mostly used to encrypt secrets in yaml or json files.

## Expected Behaviour
`arkade get sops` downloads the latest binary.

## Current Behaviour
Not implemented.

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [ ] Yes
- [X] No

## Possible Solution
Add sops to `pkg/get/tools.go`

## Context
With sops we can use age, gp

[2022-03-20 10:24] alexellis commented on #648
Happy to have this 👍

[2022-03-21 12:04] alexellis commented on #644
I haven't heard of this tool. Do you use it?

[2022-03-23 12:47] karthick-kk commented on #644
Yes. We use this to generate helm values file based on configuration input. One realworld use case is to use it along with helmfile deployments with multi values file generated from this tool.

[2022-03-23 15:59] aantn opened #652 "Add robusta to arkade"
Robusta is an open source automations platform for Kubernetes. The primary use case is enriching Prometheus alerts with extra context, applying remediations when issues occur, and manually troubleshooting in-cluster applications.

## Expected Behaviour
It should be possible to install both the `robusta` cli and helm chart using Arkade.

Robusta is already used by both commercial and non-profit org

[2022-04-01 10:29] alexellis opened #654 "Feature: system packages for Linux servers, CI and workstations"
## Feature

Feature: system packages for Linux servers and workstations

There are so many times that I log into a server and install server software using a combination of curl and tar.

This provides the fastest way to install software, ensures the latest versions are available, something that package managers struggle to keep up with.

Generally, during scripting and automation, you'll find thi

[2022-04-01 16:30] richardcase commented on #654
I could use this in a number of places. Using linux package managers is ok but not all the tools we use are available or they are in a different repo or an older version. Having something to download the binary would be great.

[2022-04-02 09:48] #648 closed

[2022-04-02 12:49] iximiuz commented on #654
This would be definitely helpful! I was checking if `arkade` could install Go on my system a couple of days ago - having `arkade` already used to install a bunch of tools (`kind`, `kubectl`, etc.), it felt absolutely natural to employ `arkade` as a replacement of a package manager too.

My only concern is about the secureness of this procedure. Pulling random stuff from the Internet becomes more a

[2022-04-03 02:56] hwchiu opened #655 "ark get kubeseal uses wrong URL for M1"
## Expected Behaviour

Can get kubeseal without any error

[code]

## Current Behaviour

ARCH is empty value in the Mac M1 environment.

[code]

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [ ] Yes
- [X] No

## Possible Solution

The `uname -m` returns the arm64 in the MacM1 environment and should configure the ARCH base on it.

## Steps to Reproduce (fo

[2022-04-03 10:50] alexellis opened #659 "How are you using arkade?"
I'd like to know how you're using arkade.

* 🙌  Send a pull request to the ADOPTERS.md file

* 👀  If you're interested in adding your product or app, get in touch about a sponsored app (details in README)

* 🏆  Likewise, if you use arkade at home or work, and want to support my time on it, [sponsor me on GitHub](https://github.com/alexellis/arkade)

[2022-04-03 13:08] alexellis commented on #654
@iximiuz "pulling stuffed from some random place on the internet"

Explain how you got that from the proposal?

[2022-04-03 15:35] #655 closed

[2022-04-03 16:27] hwchiu opened #660 "ark get je uses wrong URL for M1"
## Expected Behaviour

[code]

## Current Behaviour

Use the wrong arch `amd32` in the Mac M1 env, should use the amd64.
jq Github doesn't have the arm64 released so far but its amd64 binary works on the Mac M1
reference: https://github.com/stedolan/jq/issues/2386

[code]

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [ ] Yes
- [X] No

## Possible Solutio

[2022-04-04 07:54] alexellis commented on #644
Are you happy to maintain this download in arkade, and fix breakages etc in the template and unit test going forward?

Let me know and we can get it moved forward. You'll need to rebase your PR now too.

[2022-04-04 08:24] alexellis commented on #660
/close: fixed in a a PR

[2022-04-04 08:24] #660 closed

[2022-04-04 08:25] #571 closed

[2022-04-04 11:15] JanDeDobbeleer opened #662 "Better Windows Support (msys + powershell/CMD)"
## Expected Behaviour
It works on all Windows flaws and shells

## Current Behaviour
It only works for mingw and git bash (which is hardly a native experience)

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [ ] Yes
- [x] No

## Possible Solution
There are two issue

## Steps to Reproduce (for bugs)

### Supporting msys

1. Get a Windows msys OS
2. Use arc

[2022-04-04 11:51] alexellis commented on #662
Hi @JanDeDobbeleer thanks for logging this.

When I put together arkade originally, I left this note in the README file:

What I am wondering, is whether arkade would support CMD.exe/PS with the patches above, or whether we'd run into issues elsewhere?

The following may also not work as expected, since Git Bash may report Windows as an OS to Go:

[code]

Do you see Windows users not adopting WSL,

[2022-04-04 12:04] JanDeDobbeleer commented on #662
Not really, it only needs to understand where to store the binaries. I would rewrite the logic [the same way we do for oh-my-posh](https://github.com/JanDeDobbeleer/oh-my-posh/blob/f9c160b937ef6790bc33cddb571b9c79cc6cfa10/src/environment/windows.go#L57) as that has been proven to work cross platform for quite a while already:

[code]

More from PowerShell, but yes.

In my opinion, there's no need

[2022-04-04 15:43] alexellis commented on #662
Couple of comments - > https://github.com/JanDeDobbeleer/arkade/commit/0c48c246d1232bbbc04a19b0b67c55f9610bc8ea

[2022-04-04 16:34] iximiuz commented on #654
@alexellis Sure! When we do things like `wget https://go. dev/dl/go1.18.linux-amd64.tar.gz`, it does look like pulling random stuff from the Internet to me. Even though in this particular case the source is (more or less) trusted.

Validating the source of the artifact is an important step during an installation of a package, but having a checksum verification is probably an even more important st

[2022-04-04 16:36] JanDeDobbeleer commented on #662
@alexellis that should return the same, oh-my-posh uses the same logic.

[2022-04-05 08:41] alexellis commented on #654
Whilst I agree that apt and pacman etc use GPG or other signing keys, I wouldn't have considered Google's download server to be untrusted or random. I checked, and the installation guide for Go follows the same pattern, they don't even supply a command to verify some checksum. https://go.dev/doc/install, I can't even find checksums on their download page: https://go.dev/dl/

Given that you use `ar

[2022-04-05 08:54] Shikachuu commented on #654
When we talk about Prometheus in this case, are we talking about prometheus itself only or with "standard" exporters like `node_exporter` as well?

[2022-04-05 09:10] Shikachuu commented on #654
@alexellis may I suggest adding [buildkit](https://github.com/moby/buildkit) to the list?

[2022-04-05 18:55] alexellis commented on #654
@Shikachuu prometheus = the download called prometheus

buildkit - potentially. I haven't had a need to add it stand-alone on a machine, and doesn't installing Docker add it?

Keep suggesting things that you personally install on Linux servers/workstations/CI hosts.

[2022-04-05 19:11] Shikachuu commented on #654
buildkit itself doesn't require Docker, only `runc`, `crun` or `containerd`.
I acutally use buildkit with containerd and nerdctl to substitue docker in my workstation, my laptop and on my "build" server as well.
(Also if your download the nerdctl-full package from their github release, it contains this combination of tools too.)

[2022-04-06 08:51] hwchiu opened #665 "ark get terraform uses wrong URL for M1"
## Expected Behaviour

[code]

## Current Behaviour

Two issues in the Terraform checking function.
1. No check the Mac M1
2. Default version 1.0.0 doesn't have the pre-build binary for Mac M1.

[code]

## Are you a GitHub Sponsor (Yes/No?)

Check at https://github.com/sponsors/alexellis

- [ ] Yes
- [X] No

## Possible Solution

1. Check the M1 arch properly
2. Upgrade the default version to the

[2022-04-06 14:17] alexellis commented on #654
Completed:
- [x] firecracker
- [x] Golang
- [ ] containerd
- [ ] node
- [ ] prometheus
- [ ] cni-plugins

[2022-04-06 21:30] #665 closed

[2022-04-06 21:48] dirien commented on #654
Really good idea, but I may suggest to start directly with cosign signed packages and show that its signed (or not signed). Think that would help tremendously!

[2022-04-06 22:15] alexellis commented on #654
These tools are not signed with Cosign, so I'm not sure what you're suggesting?

[2022-04-06 22:55] dirien commented on #654
Uhh just saw that you are right. Maybe for the future!

[2022-04-07 11:22] alexellis commented on #665
Thanks for this @hwchiu

As we're finding out with @Shikachuu too, Darwin is `arm64`, Linux uses `aarch64`

[2022-04-07 16:30] hwchiu commented on #665
@alexellis
Yes, I'm also thinking define a new variable for the `arm64` in the testing file, so we don't have to hardcode lots of  "amr64" in the whole file.

[2022-04-07 17:36] alexellis commented on #665
Please go for it

[2022-04-09 07:31] alexellis commented on #654
@dirien thanks for the PR for Prometheus, could you or @Shikachuu please send in a PR where you make the "arch" value come from a flag if .Changed is true - default it to ""? See how we for it for the `get` command. We need this for all of the system apps.

[2022-04-09 07:38] alexellis commented on #654
@Shikachuu for the containerd app, please make sure you install the systemd service as per the code I DM'd you on Discord. Then put the systemd behaviour behind a flag like `--systemd=true` (default true)

See also: https://github.com/openfaas/faasd/blob/2885bb0c514a403d317b93e6d8add1ad52239a13/pkg/systemd/systemd.go

[2022-04-10 07:50] dirien commented on #654
@alexellis Like this https://github.com/alexellis/arkade/pull/673?

[2022-04-10 11:44] alexellis commented on #654
That is exactly what I had in mind, could you cover the other apps too?

[2022-04-10 19:55] dirien commented on #654
Hi @alexellis, added the node support and I saw you the the CNI. 👍

[2022-04-14 07:31] vassie79 opened #677 "Incorrect status code when trying to install k3d"
## Expected Behaviour
Running `arkade get k3d` will install the latest version of `k3d`

## Current Behaviour
Running the above command produces the following error:
[code]

## Are you a GitHub Sponsor yet (Yes/No?)

- [ ] Yes
- [X] No

## Possible Solution

## Steps to Reproduce (for bugs)

1. Run `arkade get k3d`

## Context

I am trying to use Arkade to install the `k3d` binary.

## If requesti

[2022-04-14 07:36] #677 closed

[2022-04-14 07:36] vassie79 commented on #677
Upgrading to the latest version of `arkade` resolved the issue.

[2022-04-15 09:25] Shikachuu opened #678 "Feature request: Add nats-server"
## Expected Behaviour
`arkade get nats-server` installs the nats-server binary.
`arkade install nats-server` installs the nats-server helm chart.

## Current Behaviour
Not implemented.

## Are you a GitHub Sponsor yet (Yes/No?)

- [ ] Yes
- [X] No

## Possible Solution
Add a new tool to `pkg/get/tools.go`
Add Vault as an installable app.

## Context

We talked about adding this tool with @alexelli

[2022-04-23 18:28] scottylaw opened #681 "Feature - Supply tools via config"
## Expected Behaviour
Suppy tools via a tools.yml file that users can modify to add additional tools they would like to deploy via Arkade.

## Current Behaviour

Tools are currently hardcoded and require users to submit an issue/PR to get a new tool(s) added or they have to fork this repo and hardcode additional tools in their own repo.

## Are you a GitHub Sponsor yet (Yes/No?)

- [ ] Yes
- [X] N

[2022-05-03 13:07] vuldin opened #682 "Feature request: add `rpk` to `arkade get`"
The Redpanda Keeper (`rpk`) is Redpanda's CLI utility. `rpk` commands allow you to configure and manage Redpanda clusters, tune them for better performance, manage topics and groups, manage access control lists (ACLs), and more.

## Expected Behaviour

Future example output:
[code]

## Are you a GitHub Sponsor yet (Yes/No?)

- [ ] Yes
- [x] No

I haven't looked into this yet, but I'll start the co

[2022-05-03 19:42] alexellis commented on #682
Hi @vuldin please feel free to contribute this via a PR.

I'd suggest looking at a closed / merged PR to see how we tend to do this and what's involved.

GitHub Sponsorships are also appreciated from the community, at whatever tier and it'll show up on the repo when you comment in the future too.

Alex

[2022-05-03 20:36] vuldin commented on #682
Awesome thanks!

[2022-05-04 09:59] #681 closed

[2022-05-04 10:03] alexellis commented on #681
Hi @scottylaw,

Thanks for your interest in arkade.

Who is "we"? You may find the ["First impressions"](https://github.com/openfaas/faas/blob/master/CONTRIBUTING.md#first-impressions---introducing-yourself-and-your-use-case) section of the OpenFaaS contribution guide helpful

We are interested in helping you to use arkade, however vast sweeping design changes must be defended. Currently a single

[2022-05-04 10:05] alexellis commented on #681
/set title: [Feature request] Using arkade to download our own set of custom tools

[2022-05-04 15:32] welteki opened #683 "get.sh script exists with non-zero exit code on CentOS"
When running `curl -sLS https://get.arkade.dev | sudo sh` on CentOS the script exits with a non-zero exit code. Despite this arkade is installed.

## Expected Behaviour

`curl -sLS https://get.arkade.dev | sudo sh` should exit successfully

## Current Behaviour

`curl -sLS https://get.arkade.dev | sudo sh` exits with non-zero exit code.

## Are you a GitHub Sponsor yet (Yes/No?)

- [x] Yes
- [ ] N

[2022-05-04 15:46] rgee0 commented on #683
Replicated:

[code]

[2022-05-04 15:52] Shikachuu commented on #683
@welteki or @rgee0 can you provide `bash --version`?

If the problem only occures when using the `get.sh`, which seems like the case here since, I think its good to know the bash version!

Thanks! :smile:

[2022-05-04 15:55] rgee0 commented on #683
This is mine:
[code]

[2022-05-04 16:12] Shikachuu opened #684 "Feature request: add Caddy webserver"
## Expected Behaviour
`arkade get caddy` installs the Caddy binary.

## Current Behaviour
Not implemented

## Are you a GitHub Sponsor yet (Yes/No?)

- [ ] Yes
- [X] No

## Possible Solution
Add Caddy to the `tools.go` file.

## Context
It is usefull for `faasd`'s installer and also as a standalone ad-hoc webserver.

## If requesting a CLI for "arkade get"

How many downloads does this tool have?

[2022-05-05 07:53] #683 closed

[2022-05-10 12:01] oliverbaehler opened #688 "Feature Request: Adding Helm CT/CR"
## Expected Behaviour

`arkade get ct` installs the [Chart-Testing](https://github.com/helm/chart-testing) binary
`arkade get cr` installs the [Chart-Releaser](https://github.com/helm/chart-releaser) binary

## Current Behaviour

## Are you a GitHub Sponsor yet (Yes/No?)

- [x] Yes
- [ ] No

## Possible Solution

Add cr and ct to the `tools.go` file.

## Context

## If requesting a CLI for "arkade

[2022-05-10 17:13] Shikachuu commented on #688
Hey @oliverbaehler,

Thanks for the suggestions! CR (Chart-Releaser) seems fine, feel free to create a PR for it, if you intrested!

I am afraid that CT (Chart-Testing) has some dependencies that you can't install from arkade like Yamale and Yamllint (both of them written in python and does not have a static binary), without them 2 of the 5 available sub commands will not work.

I think it'll caus

[2022-05-11 14:26] welteki commented on #684
/close

[2022-05-11 14:26] #684 closed

[2022-05-11 16:19] alexellis commented on #688
I think you might be right @Shikachuu

[2022-05-13 15:07] MrWormHole opened #689 "Feature Request: Add terragrunt as CLI binary to arkade"
As a user, I want to be able to install terragrunt just like I install terraform. I will be willing to do a PR for this awesome project and the legend maintainer. Terragrunt is basically kustomize for terraform files.

Note: I would like to do this task if approval is given

## Expected Behaviour

When I do arkade get terragrunt, it should get it to arkade's installed directory.

## Current Behavi

[2022-05-13 15:56] YuviGold opened #690 "Go installation requires sudo"
## Expected Behaviour

Any user to be able to install `go` without `sudo` permissions.

## Current Behaviour

As part of the `arkade system install go`, the installation is being extracted to `/usr/local/go` which is a new directory and requires root permissions in order to be created.
By default, the `/usr/local` directory is owned by `root` and has write permission for `root` user only.

[code]

[2022-05-13 16:00] YuviGold commented on #690
/add label: bug

[2022-05-14 07:35] LucasRoesler commented on #690
@alexellis perhaps it should be installed to `$HOME/.local/bin` which is recommended by the XDG standard

https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html

Then add a flag to install to the system `--system`

And maybe an override for the path, if someone doesn't want to use XDG

[2022-05-14 07:49] alexellis commented on #690
Sorry, I misread this issue as:

"After installation, the Go binary cannot be executed by another other than root because it has the wrong permissions"

@YuviGold you can install your Go packages wherever you like, as per the `--path` flag, or the suggestion from @LucasRoesler

[code]

I'm going to close this as "working as designed" - there's no way we can write into a root-owned filesystem, with

[2022-05-14 07:49] #690 closed

[2022-05-14 07:52] alexellis commented on #690
[code]

Then:

[code]

[2022-05-14 07:53] alexellis commented on #690
I can also confirm that the permissions are correct when installed via `/usr/local/bin` using `sudo`:

[code]

[2022-05-14 07:54] alexellis commented on #689
Fine by me.

Alex

[2022-05-14 07:55] alexellis commented on #688
@oliverbaehler how do you want to proceed?

The Go binaries can be installed, but you or your users will need to install those Python packages separately by the sounds of it.

[2022-05-14 07:56] alexellis commented on #682
@vuldin when you have a PR ready, please link it to this issue with

[code]

[2022-05-14 08:54] oliverbaehler commented on #688
@alexellis if it's okay i would proceed with creating a pr for both. I am using arkade as part of a docker image which is used for ci purposes and it would be handy to install ct via ark.

[2022-05-15 08:46] YuviGold commented on #690
Thank you @alexellis for the quick response.
Actually, I know that `sudo` can be used and that a user cannot install it on a root directory.

The intention of this request was to install on a user-owned directory so `sudo` won't be required, the same as with any other installation `arkade` have.
Being provided with the `--path` flag is excellent, but I think that as a default `go` could be install

[2022-05-15 12:49] MrWormHole opened #692 "Feature Request: Add terragrunt as CLI binary to arkade"
As a user, I want to be able to install snyk just like I install any CLI. I will be willing to do a PR for this awesome project and the legend maintainer. Snyk is basically container scanner for container images. Can also do static analysis on TF files.

Snyk CLI is quite useful and also possible to download via yarn/npm but it would be great to download CLI binary without global node_modules depe

[2022-05-15 15:47] alexellis commented on #690
I'll update the PR to show alternative paths are available. Thanks for using arkade

[2022-05-19 09:33] sagneessens opened #693 "Increase FindGitHubRelease timeout"
The timeout for finding the latest github release is set to 5 seconds currently and this causes a timeout error.

## Expected Behaviour

The get timeout should be able to find the latest version and install the app.

## Current Behaviour

[code]

## Are you a GitHub Sponsor yet (Yes/No?)

- [ ] Yes
- [x] No

## Possible Solution

Increase the timeout value in the FindGIthubRelease function to 10 s

[2022-05-24 09:17] alexellis commented on #693
How do you know that a longer timeout would fix this? The GitHub HTTP URL should be instant and never take more than a few milliseconds.

You could try a local patch to see, but my suspicion is that you have some local networking issues.

Alex

[2022-05-24 16:51] Shikachuu commented on #692
/close

[2022-05-24 16:51] #692 closed

[2022-05-24 17:10] Shikachuu commented on #652
Hey @aantn,
Thanks for the interest in arkade.

Currently you cannot download pypi packages with arkade only binaries and as far as I know, there aren't any plans for implementing it. (Am I right here? @alexellis)

Does it still make sense to add the helm chart without the cli?

[2022-05-24 19:34] aantn commented on #652
Hi @Shikachuu,
We'd like to remove pypi from the picture here. In fact, that's part of the motivation for adopting Arkade.

The plan would be to build all-in-one binaries using PyOxidizer and then distribute those via Arkade.

[2022-05-25 11:22] alexellis opened #694 "GitHub Actions Runner as a system app"
I'd like to install the latest version of the GitHub Actions runner on Linux ARM and x84_64 without going to the download page, ideally via a Dockerfile

## Expected Behaviour

[code]

## Current Behaviour

This, with manual bumping of the version and changing of the architecture in two different Dockerfiles:

[code]

## Possible Solution

Since there are a bunch of files in a tar, this would be b

[2022-05-25 11:41] #694 closed

[2022-05-25 17:20] cyantarek commented on #693
Nonetheless, I think the error message returned from the tool is very cryptic and not so user friendly honestly.

`Error: Head "https://github.com/alexellis/k3sup/releases/latest": context deadline exceeded (Client.Timeout exceeded while awaiting headers)
`
Could be returned like this
`Error: Timeout while waiting for getting response back from the release repository`

[2022-05-25 17:29] alexellis commented on #693
There's no reason that I can think of why GitHub would take more than a few milliseconds to complete a HTTP request. Increasing the timeout is the wrong solution, but you're welcome to do a local build to see if it's different.

You may not like the error message, however it's from the Go standard library, so I'd suggest you raise an issue with Google and see if they can accommodate you.

As menti

[2022-05-27 17:38] MrWormHole commented on #689
hmm @Shikachuu I think that one was for snyk CLI but I managed to add the header wrong, oops.

[2022-05-31 09:28] sagneessens commented on #693
I've tested it with the extended timeout of 10 seconds and I can confirm that works.
It is however on an company network and on rerouting the traffic through another VPN it works as expected with the 5 second timeout.

So it is indeed a networking issue.

Perhaps a timeout flag or some documentation on this subject can help on preventing this issue with other user on a company network in the futur

[2022-06-09 09:32] rgee0 opened #697 "Error encountered when $HOME is not set"
## Expected Behaviour
When run in an environment where the $HOME environment variable isnt set the requested action should complete successfully.

## Current Behaviour
When run in an environment where the $HOME environment variable isnt set an error is encountered.
[Issue](https://github.com/openfaas/faasd/issues/282) was highlighted on faasd and triaged [here](https://github.com/openfaas/faasd/is

[2022-06-11 13:51] mikaoelitiana opened #698 "`minikube` installed with `amd64` binary instead of `arm64` on M1"
First, thanks for the great work behind arkade, this is awesome!!

I have just installed `minikube` with arkade on an M1 and the version installed was the `amd64` on instead of the `arm64`. Here are the installation logs:

[code]

## Expected Behaviour

Download should come from `https://github.com/kubernetes/minikube/releases/download/v1.25.2/minikube-darwin-arm64` for M1 chips.

## Current Behav

[2022-06-11 19:46] rgee0 commented on #698
See: https://github.com/alexellis/arkade/pull/699.
Your assistance and input has been requested on that PR.  I hope you'll be able to oblige.

[2022-06-12 05:39] jsiebens commented on #697
Just for the record: it's not Lima specific but more cloud-init in general, cloud-init startup script runs as root with no $HOME environment set up so this also effects running arkade during startup on cloud providers.

[2022-06-12 08:12] alexellis commented on #697
I am thinking that pwd should be used when HOME isn't set. Temp could also be an option but we don't know how large it may be.

Any concerns with going forward with that?

[2022-06-13 13:25] mikaoelitiana commented on #698
@rgee0 thank you for that. Sorry I came up late to help you

[2022-06-13 13:29] alexellis commented on #698
No problems. The change is in:

https://github.com/alexellis/arkade/releases/tag/0.8.27

[2022-06-14 18:27] alexellis commented on #697
@rgee0 @jsiebens

[2022-06-14 19:14] jsiebens commented on #697
When HOME is not available, installing packages with `arkade get` is more or less a system-wide install instead of in the context of a user. With the latest update, the faasd install scripts sets /usr/local as HOME (when necessary), which makes the tools available in /usr/local/.arkade. IMHO that seems a better fallback location than pwd or temp

Another idea is to add a flag or env var to `arkade

[2022-06-15 06:34] rgee0 commented on #697
I'd agree with /usr/local/.arkade, purely on grounds of consistency; its fixed whereas `pwd` could vary between runs / users / environments.

Not so keen on the flag / env var options as this is adding something that the user needs to configure.  There is little difference to advising a user to add `export HOME=` when required.

[2022-06-18 08:13] xshyamx commented on #547
Hi @alexellis ,

I'm encountering a special case with operator-sdk where there is no windows binary. There are a couple of options on how to handle it

1. Return empty URL for `BinaryTemplate` or `URLTemplate` both will fail with the following error messages
[code]
2. Check for empty string from `tool.GetURL` and throw an error

[code]

	Which results in

[code]

I prefer option 2 but, would like

[2022-06-19 07:29] alexellis commented on #547
I'd say that you should allow then URL to be generated so that it's a valid URL but returns a 404. That's the approach we've taken elsewhere. Try it and see the message that you get.

[2022-06-20 20:06] recollir opened #702 "Feature request: add cilium CLI"
## Expected Behaviour
`arkade get cilium` installs the [cilium](https://github.com/cilium/cilium-cli) CLI binary.

## Current Behaviour
Not implemented.

## Are you a GitHub Sponsor yet (Yes/No?)

- [ ] Yes
- [X] No

## Possible Solution
Add `cilium` CLI to the `tools.go` file.

## Context
The `cilium` CLI is used to interact with the `cilium` CNI - for installation, configuration and debug tasks.

[2022-06-20 20:07] recollir opened #703 "Feature request: add hubble CLI"
## Expected Behaviour
`arkade get hubble` installs the [hubble](https://github.com/cilium/hubble) CLI binary.

## Current Behaviour
Not implemented.

## Are you a GitHub Sponsor yet (Yes/No?)

- [ ] Yes
- [X] No

## Possible Solution
Add `hubble` CLI to the `tools.go` file.

## Context
The `hubble` CLI is used to interact with the `cilium` CNI - for installation, configuration and debug tasks. Thi

[2022-06-20 22:35] recollir opened #704 "Code duplication for kumactl"
The code to set up `arkade get` for kumactl is duplicated.

## Expected Behaviour
Single occurance of the code.

## Current Behaviour
Occurrence 1 - lines 2127 to 2150 in `cmd/get/tools.go`:
https://github.com/alexellis/arkade/blob/8b65a09f693cb71403cdcd07937788fa5b5e3c5a/pkg/get/tools.go#L2127-L2150

Occurrence 2 - lines 2180 to 2203 in `cmd/get/tools.go`:
https://github.com/alexellis/arkade/blob

[2022-06-22 12:24] AmrSaber opened #706 "Feature request: add gomplate"
## Expected Behaviour

`arkade get gomplate` installs [gomplate](https://github.com/hairyhenderson/gomplate) cli

## Current Behaviour

Not implemented
## Are you a GitHub Sponsor yet (Yes/No?)

- [ ] Yes
- [x] No

## If requesting a CLI for "arkade get"

How many downloads does this tool have? Check at:

https://somsubhra.github.io/github-release-stats/

The tool has 628,233 downloads for the lat

[2022-06-22 14:05] xshyamx commented on #547
Updated PR with suggested changes

[2022-06-22 22:40] recollir commented on #702
A PR based on #701 and the requested changes is ready to be submitted.

[2022-06-22 22:40] recollir commented on #703
A PR based on #701 and the requested changes is ready to be submitted.

[2022-06-24 08:07] alexellis commented on #704
Thanks for mentioning this, would you like to send a PR for us?

Otherwise, @Shikachuu perhaps you can run with this?

[2022-06-24 08:08] alexellis commented on #706
Please go ahead and send us a pull request @AmrSaber

The easiest way to get started, is to look at a closed and merged pull request to see what to change.

Let us know if you need anything cc @Shikachuu

Alex

[2022-06-24 08:09] alexellis commented on #702
Thanks

[2022-06-24 08:09] recollir commented on #704
I can do it, @alexellis.

[2022-06-24 08:10] alexellis commented on #704
Great, thank you

[2022-06-24 08:11] recollir commented on #702
Great. I will submit it then later on this evening.

[2022-06-24 08:11] alexellis commented on #693
@sagneessens please feel free to go ahead and change the timeout to 10 seconds. Thank you for working through the comments with me.

[2022-06-24 08:11] alexellis commented on #693
/add label: status/approved

[2022-06-25 07:57] recollir commented on #702
@alexellis See above submitted PR #707. I am ready to use this to also work on #703 once it gets approved and the issue the go ahead.

[2022-06-25 10:31] recollir commented on #704
@alexellis Done. PR submitted.

[2022-06-25 12:20] recollir opened #709 "Error in make test from cmd/kasten/k10app.go"
`make test` ends with `error 2` from a Go error msg relating to a `fmt.Println` usage.

## Expected Behaviour
No error msg. Running `make test` succeeds.

## Current Behaviour
Running `make test` with the current head of the master branch (9e4835fc254) results ends with `error 2`:
[code]

## Are you a GitHub Sponsor yet (Yes/No?)

- [ ] Yes
- [X] No

## Possible Solution

Replace `fmt.Println` wit

[2022-06-26 11:02] Shikachuu commented on #702
/add label: status/approved

[2022-06-26 11:02] Shikachuu commented on #704
/add label: status/approved

[2022-06-26 11:03] Shikachuu commented on #706
/add label: status/approved

[2022-06-26 11:08] Shikachuu commented on #709
Yeah, I have the same experience, I think the problem is the go version 1.18, I tried to build with 1.17 and 1.16 and those versions works just fine.

Should we upgrade the go version @alexellis?

[2022-06-26 12:52] recollir commented on #703
Shall I proceed with this, now that #702 is done through #707? @alexellis @Shikachuu

[2022-06-26 15:31] Shikachuu commented on #703
Sure!

[2022-06-29 06:09] alexellis commented on #547
Thank you. Can you check if you need to rebase? We are currently merging multiple PRs.

[2022-06-29 10:38] #592 closed

[2022-06-29 11:13] alexellis commented on #644
Please reopen this issue when you have time to work on it.

[2022-06-29 11:13] #644 closed

[2022-06-29 11:13] #709 closed

[2022-06-29 11:13] alexellis commented on #709
This isn't an error, it's a warning and a false detection.

I changed to Printf to stop Go complaining.

[2022-06-29 11:15] alexellis commented on #709
I've updated the CI to use Go 1.18 and modules to 1.17, in case someone is referencing it directly from 1.17 and cannot upgrade immediately.

[2022-06-29 11:16] #702 closed

[2022-06-29 11:16] alexellis commented on #702
Merged

[2022-06-29 11:18] alexellis commented on #697
Arkade installs to a temporary staging area of `$HOME/.arkade/bin`, my vision for this is that it's ephemeral, purely a cache and any permanent CLIs must be moved intentionally.

So I would expect `pwd` to be where work is staged or held when HOME is not set.

Example in cloud-init:

[code]

Whilst we're exploring this, I'm not sure if I remember what `--stash` was meant for?

[code]

[2022-06-29 11:19] #689 closed

[2022-06-29 11:19] alexellis commented on #689
I've added this into Arkade via a commit.

[2022-06-29 11:21] #693 closed

[2022-06-29 11:47] recollir commented on #704
Closing this now. #708 was merged.

[2022-06-29 11:47] #704 closed

[2022-06-29 12:13] #678 closed

[2022-06-29 14:05] recollir commented on #703
PR submitted a minute ago.

[2022-06-29 15:21] xshyamx commented on #547
Yes. Have already rebased

[2022-07-02 12:00] Shikachuu commented on #234
/close

[2022-07-02 12:00] #234 closed

[2022-07-02 12:03] Shikachuu commented on #207
@max-ae is right, I'll close this for now @alexellis.

[2022-07-02 12:03] Shikachuu commented on #207
/close

[2022-07-02 12:03] #207 closed

[2022-07-02 12:29] Shikachuu commented on #410
I can confirm thi issue is already fixed, here is an arm64 mac download:
![image](https://user-images.githubusercontent.com/32636587/177000793-34dbd5cf-f33a-4bb2-a98c-db342153187d.png)

and here is an arm64 linux download:
![image](https://user-images.githubusercontent.com/32636587/177000806-f45d2e6e-7820-4b4f-8413-7803e872e753.png)

[2022-07-02 12:29] Shikachuu commented on #410
/close

[2022-07-02 12:29] #410 closed

[2022-07-02 17:37] eddible opened #713 ""Forbidden" errors when running kubernetes-dashboard"
I've installed kubernetes-dashboard using Arkade but when I run it I get loads of errors, saying:

`namespaces is forbidden: User "system:serviceaccount:kubernetes-dashboard:default" cannot list resource "namespaces" in API group "" at the cluster scope`

The same error is then repeated for every aspect of the dashboard.

I followed the guide here to the letter but I think something may have chang

[2022-07-03 10:14] Shikachuu commented on #9
I'll close this, since it is seems a bit outdated, there were so much issue about the dashboard and even a new one came in (#713 ).

We'll update/refactor the dasboard soon.

[2022-07-03 10:14] Shikachuu commented on #9
/close

[2022-07-03 10:14] #9 closed

[2022-07-03 10:16] Shikachuu commented on #77
I'll close this issue if you don't mind, since the proposed repository has since been archived.

[2022-07-03 10:16] Shikachuu commented on #77
/close

[2022-07-03 10:16] #77 closed

[2022-07-03 11:42] Shikachuu commented on #713
This issue seems like a namespace or kubeconfig permission problem.
With the current version of the dashboard you are unable to change the namespace, I'm not sure if this is a global problem or not, but I assume #715 should fix yours at least.

[2022-07-05 08:15] Rabattkarte opened #716 "Feature: Allow to configure where to store downloaded binaries with `arkade get`"
## Expected Behaviour

`arkade` should allow me to override the output dir of to be installed apps. Either by a config flag and/or an environment variable such as `ARKADE_BIN_DIR`.

I'd like to see the option to have a bin dir in my project's directory to store the right versions of all necessary tools.

## Current Behaviour

Please consider the following two commands:

1. `arkade get kubectl`

[2022-07-12 08:15] alexellis commented on #274
Thank you @Shikachuu for taking these on.

Since this is really about apps for local development, I think that the Bitnami chart would be fine.

[2022-07-12 09:11] dirien commented on #716
I like this idea, and would love to implement it.

[2022-07-19 13:45] mrichar1 opened #720 "Feature request: add talosctl"
## Expected Behaviour
`arkade get talosctl` should install the Talos Linux OS cli tool: https://www.talos.dev/

## Are you a GitHub Sponsor yet?

- [ ] Yes
- [X] No

## If requesting a CLI for "arkade get"

How many downloads does this tool have? Check at:

https://somsubhra.github.io/github-release-stats/

1097 downloads of talosctl for release 1.1.0 (2022-06-22)

[2022-07-19 17:29] Shikachuu commented on #716
I also like the idea, to create a flag or an env var (ideally both) for the bin directory.
Should we add something like this? @alexellis

[2022-07-19 17:30] Shikachuu commented on #703
Thanks for the PR, @recollir I'll close this for now.

[2022-07-19 17:30] Shikachuu commented on #703
/close

[2022-07-19 17:30] #703 closed

[2022-07-19 18:14] Shikachuu opened #721 "Add just to arkade get"
## Expected Behaviour
`arkade get just` installs just.

## Current Behaviour
Not implemented.

## Are you a GitHub Sponsor yet (Yes/No?)

- [ ] Yes
- [X] No

## Possible Solution
Add just as an installable cli tool.

## Context
Just is a really nice, modern alternative for GNU make.

## If requesting a CLI for "arkade get"

How many downloads does this tool have? **210,429**
https://somsubhra.gith

[2022-07-19 18:15] Shikachuu commented on #721
Also if this tool gets accepted/merged we could create a PR for just, to add arkade as a package manager in the following readme section: https://github.com/casey/just#packages=

[2022-07-19 18:24] #480 closed

[2022-07-19 18:25] alexellis commented on #721
Thanks for the suggestion. Feel free to try it out and if it makes sense as a downloadable app, put the PR up for me to merge 👍

[2022-07-19 18:26] #713 closed

[2022-07-19 20:00] Shikachuu commented on #706
/close

[2022-07-19 20:00] #706 closed

[2022-07-27 17:08] Shikachuu commented on #720
/add label: status/approved

[2022-07-27 17:10] Shikachuu commented on #720
Hey @mrichar1,
Thanks for the intrest in arkade!
Please go ahead and create a PR for this, there are a lot of great examples in the merged PRs.

Let us know if you need anything!

[2022-07-27 17:29] Shikachuu commented on #652
Hey @aantn,
If you still open to it, I guess we can make this work!

Arkade uses the GitHub API to fetch the latest version of the given package, download and un-tar/zip the binary if it needs to.
So for the CLI you only need to produce, some statically linked binary, for all platforms that you want to support and write a simple go template for it and it should work.
Like this:
https://github.com/

[2022-07-27 17:30] Shikachuu commented on #652
/add label: status/approved

[2022-07-27 17:33] Shikachuu commented on #688
@oliverbaehler, sure!
Please create a single PR for each tool.

[2022-07-27 17:55] Shikachuu commented on #662
Hey @JanDeDobbeleer,
I have several questions about this implementation:

- Is it possible to implement this in a way, that it maps msys to ming, and ming stays compatible with mingw aswell?
See, if we were to implement this 1:1 we would have to rewirte every single template that currently uses ming as the OS flag in the template conditions, then we need to change the tests as well, then we need t

[2022-07-28 05:58] JanDeDobbeleer commented on #662
@Shikachuu

1. sure, that could be done I guess.
2. no, and there's no harm in calling win32 on Windows, golang does the same itself btw. They just abstract it away fro you ;-)

[2022-07-29 19:57] blaisep opened #725 "add example of Ingress for gitea"
Thank you @Technowlogick I was excited to see gitea... but I want to use it with Ingress and not `port-forward`
Do you have an example handy?

If not, I can write it up as a blog post. It would be nice to give arkade some more love.
@alexellis ?

_Originally posted by @techknowlogick in https://github.com/alexellis/arkade/issues/212#issuecomment-691319223_

[2022-07-29 21:26] Shikachuu commented on #662
I'm not much of a windows user myself, but reading about this, it seems similar to calling gnu binaries on a unix system, so it should be fine as you said so.

If you willing to create a PR with the mingw version as discussed above, I don't see any reasons why we shouldn't add this.

[2022-08-06 09:40] #721 closed

[2022-08-10 07:56] welteki opened #729 "Add lazygit to arkade get"
Lazygit is simple terminal UI for git commands.
https://github.com/jesseduffield/lazygit

## Expected Behaviour

`arkade get lazygit` install lazygit

## Current Behaviour

Not implemented

## Are you a GitHub Sponsor yet (Yes/No?)

- [x] Yes
- [ ] No

## Possible Solution

Add lazygit as an installable cli tool.

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

Lazygit is a simple termi

[2022-08-10 09:11] Shikachuu opened #730 "Add golangci-lint to arkade get"
## Expected Behaviour
`arkade get golangci-lint` installs the tool

Link to project: https://github.com/golangci/golangci-lint

## Are you a GitHub Sponsor yet (Yes/No?)

- [ ] Yes
- [X] No

## Possible Solution
Add golangci-lint to pkg/get/tools.go

## Context
Install it as a linter.

## If requesting a CLI for "arkade get"

How many downloads does this tool have? Total downloads: 275,446

## You

[2022-08-10 13:55] alexellis commented on #730
/add label: help wanted, good first issue

[2022-08-10 13:55] alexellis commented on #729
/add label: status/approved, good first issue, help wanted

[2022-08-10 13:55] #720 closed

[2022-08-10 19:54] Jasstkn commented on #730
@alexellis Hello. May I work on this?

[2022-08-11 06:09] Shikachuu commented on #730
Sure, let me know if you need anything!

[2022-08-11 06:18] Shikachuu commented on #725
I think it would be nice if you create a write up about this, but you can update the post install message too if you want to.

Also can you fill the whole issue template please?

[2022-08-11 07:00] alexellis commented on #730
👍

When do you think you can get to it?

I'd suggest looking at recently merged PRs for an example of what we are looking for.

[2022-08-11 07:19] Jasstkn commented on #730
I am going to start working on this today. Thanks for pointing to the examples, I will definitely check them out.

[2022-08-11 10:59] Jasstkn commented on #730
FYI: I submitted a PR.

[2022-08-11 16:14] #730 closed

[2022-08-11 16:18] Jasstkn commented on #729
I would like to work on this task too if you don't mind :)

[2022-08-11 16:21] Shikachuu commented on #729
Sure, let us know if you need a hand!

Thanks for picking this up! :smile:

[2022-08-11 16:25] Shikachuu commented on #494
Fixed in #723

[2022-08-11 16:25] Shikachuu commented on #494
/close

[2022-08-11 16:25] #494 closed

[2022-08-11 17:54] alexellis commented on #652
@aantn when do you think your binaries will be ready for `arkade get`?

Is your helm chart in a position to add to `arkade install` already?

[2022-08-11 17:58] alexellis commented on #725
+1 to this

We have an `openfaas-ingress` app, perhaps you were thinking of something like that?

The Gitea chart supports ingress, so you can just set those values via `arkade install gitea --set key=value`

Have a look here for what you need:

https://gitea.com/gitea/helm-chart/#ingress

Bear in mind that there's SSH access along with HTTP as options. SSH can't be exposed through ingress and wou

[2022-08-11 18:03] alexellis commented on #697
@Shikachuu could you move ahead with a solution where if "HOME" is not specified, then the current working folder is used as the base path instead?

[2022-08-11 18:07] alexellis commented on #654
We now have all the original apps requested along with `actions-runner` to get the latest GitHub Actions runner version.

[2022-08-11 18:09] #654 closed

[2022-08-11 18:19] Shikachuu commented on #716
There is an easy to replicate concrete use case for this one regarding `kubectl` specifically!

Lets assume you have 2 K8s clusters, one running v1.21.x and the other running v.1.24.x, ideally you would like to use different `kubectl`s for each cluster, [the offical docs state this too](https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/#before-you-begin).

[2022-08-11 18:40] rgee0 commented on #697
Presumably the script/user might also then call the binary that has just been downloaded. How does this work in situations where `pwd` isn’t in the path?

Feels like the user now has to know a little bit more about decisions in get.sh in order to get going, or what am I missing?

[2022-08-11 18:53] blaisep commented on #725
Oh! That's right, I have the inlets-operator running but not open faas
ingress

On Thu, Aug 11, 2022, 1:58 PM Alex Ellis ***@***.***> wrote:

[2022-08-11 19:15] Shikachuu commented on #697
Atleast the user will know where the binary is downloaded and we could put a notification there like:
[code]
or something like this.
What do you think @rgee0 ?

[2022-08-11 20:03] rgee0 commented on #697
So in the script scenario the user writing the script needs to know ahead of time what decisions get.sh will take, or has to parse your output message in order to provide the base path to subsequent calls?

I don’t know, maybe I’m not fully understanding the use case.

[2022-08-12 09:26] alexellis commented on #716
I'm not sure that's a use-case that needs two versions of the same tool.

The documentation says that you can use later versions of kubectl for older clusters

[2022-08-12 12:50] #729 closed

[2022-08-12 14:20] Jasstkn commented on #627
Hey @Shikachuu! I would like to try to implement this if it's still up-to-date issue.

[2022-08-12 14:34] Shikachuu commented on #627
Hey @Jasstkn,
As far as I know it is still up-to-date!

We should implement this as a cli tool and a helm chart too in two separate PRs.

For the helm chart, check out some already implemented projects, like:
Kubernetes Dashboard
https://github.com/alexellis/arkade/blob/master/cmd/apps/kubernetes_dashboard_app.go
Or Grafana
https://github.com/alexellis/arkade/blob/master/cmd/apps/grafana_app.go

[2022-08-12 15:11] #682 closed

[2022-08-12 15:36] Shikachuu commented on #157
Since then, we have the `--os` and `--arch` flags with a graceful handling of 404 may I close this?

[2022-08-12 15:38] Shikachuu commented on #169
Double that, this issue still stands @nunix?

[2022-08-12 15:45] Shikachuu commented on #448
Since PR #447 was merged for almost a year ago and it is working great.

I'll close this if you don't mind.

[2022-08-12 15:45] Shikachuu commented on #448
/close

[2022-08-12 15:45] #448 closed

[2022-08-12 20:43] aantn commented on #652
Hey @alexellis and @Shikachuu,
We're doing some work right now on preparing statically linked binaries. (Up until now we packaged up Robusta as Python package and installed it via pip, which caused a dependence on your local Python version.)

I'll touch base in another two weeks or so after things stabilize on our end with the binaries.

Thank you for the support for this!

[2022-08-12 21:12] rberrelleza commented on #157
Fine with me!

[2022-08-13 11:09] nunix commented on #169
Hi all,

really sorry for missing this issue (long time didn't use Git Bash).
So the good news is that the `osm` binary is correctly copied to `$HOME/.arkade/bin`, however the listing of commands from the Arkade install are still not OK (read: we cannot copy/paste them and it works).

Here's the installation output
![image](https://user-images.githubusercontent.com/905874/184480410-9e156da0-5a51-4

[2022-08-13 11:11] Shikachuu commented on #157
/close

[2022-08-13 11:11] #157 closed

[2022-08-15 08:57] YuviGold opened #736 "Automate generation of README tables"
The [README](https://github.com/alexellis/arkade/blob/master/README.md) tables of the catalog of CLIs and apps might become out of sync from time to time.
It should be automatically generated and fail build in case not committed.

## Expected Behaviour

Any new CLI / app to the catalog automatically updates `arkade` help messages and it should
update the static files as well. i.e. https://github.c

[2022-08-15 09:28] alexellis commented on #725
OK great, so I think we've answered the question. I'm going to close this and let us know how you get on with the ingress.hosts syntax and the `--set` flag for the gitea app.

[2022-08-15 09:28] #725 closed

[2022-08-15 12:10] Jasstkn commented on #627
One of the PRs to fix this issue is being submitted:
- https://github.com/alexellis/arkade/pull/738

[2022-08-15 12:42] alexellis commented on #736
Hi @YuviGold

Thanks for your interest here

As usual, all issues require approval from a maintainer before we can consider a technical solution.

Alex

[2022-08-15 14:29] Jasstkn commented on #627
And another one about adding Vault to apps is also ready to be reviewed:
https://github.com/alexellis/arkade/pull/739

[2022-08-16 07:54] #419 closed

[2022-08-18 07:07] YuviGold commented on #736
Closed the PR https://github.com/alexellis/arkade/pull/737 till deciding on the technical solution.

The solution needs to support:
- Generation script needs to run with the latest binary (in order to get latest changes, using bin binary)
- Running the script as part of the CI in order to verify it wasn't missed
- Making the script deterministic

[2022-08-18 09:06] welteki opened #742 "Cni system app not supported on armv7"
The cni system app is not supported on armv7. There are binaries available in the cni repo.

## Expected Behaviour

Expect `arkade system install cni` to work on armv7-linux

## Current Behaviour

Running `arkade system install cni` fails
[code]

## Are you a GitHub Sponsor yet (Yes/No?)

- [x] Yes
- [ ] No

## Possible Solution

Update arch check in:
https://github.com/alexellis/arkade/blob/1a4d5

[2022-08-18 10:05] #742 closed

[2022-08-19 10:07] Jasstkn opened #744 "Add colima to arkade get"
## Expected Behaviour

`arkade get colima` installs lima

Link to the project: https://github.com/abiosoft/colima/blob/main/docs/INSTALL.md

## Are you a GitHub Sponsor yet (Yes/No?)

- [ ] Yes
- [x] No

## Possible Solution

Add colima to pkg/get/tools.go

## Context

I use colima pretty often to use as a replacement for docker and spin up Kubernetes

## If requesting a CLI for "arkade get"

687

[2022-08-22 14:55] alexellis commented on #744
The way that Lima is packaged isn't compatible with arkade and the maintainer actively said he wasn't going to change the packaging to suit arkade better.

I'm not sure if colima has the same issues? https://github.com/lima-vm/lima/issues/591

[2022-08-24 07:02] krzwiatrzyk opened #745 "Arkade installs old version of Helm"
Currently the newest version of Arkade installs Helm in version 3.5.2.
Newest Helm is in version 3.9.1.

## Expected Behaviour

## Current Behaviour

## Are you a GitHub Sponsor yet (Yes/No?)

- [ ] Yes
- [ ] No

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## If requesting a CLI for "arkade get"

How many downloads does this tool have? Check at:

https://somsub

[2022-08-24 11:21] alexellis commented on #745
Hi @krzwiatrzyk, tanks for your interest. Please do fill out the whole template, which includes questions where you can tell us how this affects you and whether you're willing to send a PR to fix it.

[2022-08-24 11:29] #627 closed

[2022-08-24 13:25] Jasstkn commented on #745
As we discussed, I started working on it here: https://github.com/alexellis/arkade/pull/746

[2022-08-25 09:11] Shikachuu commented on #745
/close

[2022-08-25 09:11] #745 closed

[2022-08-26 15:48] Shikachuu opened #748 "Add butane to arkade"
## Expected Behaviour
`arkade get butane` installs butane.

## Current Behaviour
Not implemented

## Are you a GitHub Sponsor yet (Yes/No?)

- [ ] Yes
- [X] No

## Possible Solution
Add Butane to `pkg/get/tools.go`

## Context

Butane is a CoreOS config transpiler, generates Ingition files used for Flatcar Linux and Fedora/RedHat CoreOS.

## If requesting a CLI for "arkade get"

How many downloads

[2022-08-26 15:54] Shikachuu opened #749 "Add hadolint to arkade"
## Expected Behaviour
`arkade get hadolint` installs hadolint.

## Current Behaviour
Not implemented

## Are you a GitHub Sponsor yet (Yes/No?)

- [ ] Yes
- [X] No

## Possible Solution
Add Hadolint to `pkg/get/tools.go`

## Context
Hadolint is one of the most popular docker file linter, I mostly use it in my gitlab CI for my personal projects.

## If requesting a CLI for "arkade get"

How many do

[2022-08-27 18:55] alexellis commented on #749
I don't trust Docker Hub stats but if you use this we could add it. Feel free to go ahead

[2022-08-30 09:57] #716 closed

[2022-08-30 09:57] alexellis commented on #716
/lock: stale/resolved

[2022-08-30 09:59] alexellis commented on #662
Let's start with the harmless part:

`os.Getenv("HOME")` being changed to `env.GetUserHome()`

But let's use filepath.Join instead of `fmt.Sprintf` to create paths.

@Jasstkn would you like to take that?

[2022-08-30 10:01] alexellis commented on #662
As a side-note, I'd consider working with cmd.exe a non-goal at this time.

It may change in the future, at which point we now know what's required.

[2022-08-30 10:02] alexellis commented on #662
@JanDeDobbeleer when do Windows users need to use Msys2 over Git bash?

[2022-08-30 10:14] JanDeDobbeleer commented on #662
@alexellis this was me running this inside PowerShell if I'm not mistaken. But it's been a while, I'll have a proper look in the course of next week to address the comments too.

[2022-08-31 08:08] alexellis opened #752 "Improve the arkade app for openfaas Pro"
Improve the arkade app for openfaas Pro

## Expected Behaviour

It'd be convenient if the following set up the key required for the OpenFaaS Pro dashboard:

[code]

In addition, the autoscaler.enabled and dashboard.enabled features could be made into a first-level flag.

## Current Behaviour

Longer flags

[A few manual steps for creating the keys](https://docs.openfaas.com/openfaas-pro/dashboard/

[2022-08-31 08:12] alexellis commented on #752
Anything else you want to suggest @welteki ?

[2022-09-01 10:32] #749 closed

[2022-09-01 20:03] nitishkumar71 opened #755 "Yaml Image Verify Upto max level"
arkade supports container image verification for helm values.yaml. The capability should be extended to support other files such as docker-compose.yaml or any other yaml where image field is present under nested structure
## Expected Behaviour

verify should support image validation upto max nested level, where max level can be defined by user
## Current Behaviour

The current implementation only

[2022-09-02 08:58] Jasstkn opened #758 "Error when arkade get sops on mac arm"
Error during installation of sops

[code]

## Expected Behaviour

Sops is successfully installed.

## Current Behaviour

404 not found

## Are you a GitHub Sponsor yet (Yes/No?)

- [ ] Yes
- [x] No

## Possible Solution

Update tools.go with additional condition:
[code]

## Steps to Reproduce (for bugs)

1. Run arkade get sops on mac with arm

## Context

Can't install sops via arkade.

## Your En

[2022-09-02 09:03] Jasstkn commented on #744
Yes, you are right. If deps aren't satisfied (e.g. limactl) it won't work.

[2022-09-02 09:03] #744 closed

[2022-09-02 09:39] #758 closed

[2022-09-02 09:48] Jasstkn opened #760 "Error when arkade get helmfile mac m1"
Arkade fails when trying to install helmfile:

[code]

## Expected Behaviour

arkade successfully installs helmfile

## Current Behaviour

404 not found

## Are you a GitHub Sponsor yet (Yes/No?)

- [ ] Yes
- [x] No

## Possible Solution

1. helmfile migrated to dedicated org, owner field should be updated to `helmfile`
2. in the new repo binary is replaced by archive with `tar.gz`, so we need to

[2022-09-02 10:43] alexellis commented on #748
Go for it @Shikachuu

[2022-09-02 12:10] Jasstkn commented on #760
I'll work on this one later today if there are no objections.

[2022-09-02 12:27] Shikachuu commented on #760
Sure, thanks!

[2022-09-02 12:32] Jasstkn commented on #736
Maybe move table generation to a separate file then execute generation command/script and use git to define if there is a diff?

[2022-09-02 15:20] Jasstkn opened #762 "Improve e2e tests to cover more OS and architectures"
I use mac with arm architecture on daily basis and it's tiresome to fix all broken links for mac and/or arm architecture.

Probably related to #557

## Expected Behaviour

Tool that have mac and/or arm builds successfully installed.

## Current Behaviour

Very often I receive 404.

## Are you a GitHub Sponsor yet (Yes/No?)

- [ ] Yes
- [x] No

## Possible Solution

1. create a workflow to detect a

[2022-09-02 15:21] Jasstkn commented on #762
@Shikachuu Hello! If you have time, please, provide your feedback about this issue. I think you might bring valuable input 🙏🏻

[2022-09-02 17:07] #760 closed

[2022-09-02 18:25] Shikachuu commented on #762
Hey @Jasstkn,

The idea and the proposal theoritically looks simple, technically I think it isn't.
Right now, we only provide information about the binary in the templates (`BinaryTemplate` and `URLTemplate`), so currently we have no way determine if a given binary supports a given arch + OS combo.
Which leads to my first point:
1. We can't separate valid alerts from false alerts in these tests.
2

[2022-09-03 08:18] #748 closed

[2022-09-03 09:19] Jasstkn commented on #762
Yes, that's why I was thinking about scheduled run instead of running for every PR. It will be more like reporting system.

Regarding code changes - it seems to be a good approach but we need to carefully think through it.

[2022-09-04 12:55] #755 closed

[2022-09-04 13:03] alexellis commented on #744
There may be a case for using `arkade system install` here. What kinds of steps are required to install Lima?

[2022-09-04 18:18] alexellis commented on #762
I also use an M1. Unfortunately many projects do not ship binaries for us. Arkade was started 3 years ago and it's possible that some projects have progressed since then. PRs are welcome.

When that's the case or arkade hasn't been updated yet, you can use the --arch x86_64 flag. I did that this morning for stern.

[2022-09-04 18:27] Jasstkn commented on #744
@alexellis Hello. For lima installation steps aren't trivial tho:
https://github.com/lima-vm/lima#installation

[2022-09-05 08:26] alexellis commented on #762
@Jasstkn I think we can do more, would you like to lead the effort?

Perhaps we could generate some kind of markdown table, to inform what CLIs may be missing and for which architectures?

We would use it for our own purposes, to potentially raise issues on the projects that don't support ARM M1 yet, and to prioritise which templates to edit in arkade for things that are popular and useful to us p

[2022-09-05 13:59] Jasstkn commented on #762
Yes, I would like to implement this. Let me take few days to work on it and I'll create a draft PR once something is ready.

[2022-09-05 15:55] welteki opened #764 "Add run-job tool to arkade get."
Run a Kubernetes Job and get the logs when it's done 🏃‍♂️.
https://github.com/alexellis/run-job

## Expected Behaviour

`arkade get run-job` installs run-job

## Current Behaviour

Not implemented.

## Are you a GitHub Sponsor yet (Yes/No?)

- [x] Yes
- [ ] No

## Possible Solution

Add run-job as an installable cli tool.

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## If requesting

[2022-09-05 16:07] #764 closed

[2022-09-05 20:18] alexellis opened #766 "[CLI request] flyctl"
## CLI suggestion - flyctl

This is the CLI for fly.io and I wanted it whilst following: https://github.com/jsiebens/inlets-on-fly

https://github.com/superfly/flyctl/releases

[2022-09-05 20:45] Jasstkn commented on #744
I checked installation requirements. As a first step we have to install qemu which isn't possible via single binary - it either requires brew or `make` call from the directory with qemu's source code.

[2022-09-06 07:51] #752 closed

[2022-09-08 09:52] YuviGold commented on #626
Also would be nice to have the [consul CLI](https://www.consul.io/commands)

[2022-09-08 12:27] alexellis commented on #626
Feel free to raise an issue for the consul CLI @YuviGold

@jsiebens / @Jasstkn are either of you interested in adding Consul as an app? Do you know what values would be a useful default for K8s?

[2022-09-08 12:28] alexellis commented on #766
Would either of you like to pick this up @YuviGold / @Shikachuu / @Jasstkn ?

[2022-09-08 12:40] jsiebens commented on #626
Consul is already available as an app:

[code]

[2022-09-08 12:54] YuviGold opened #767 "Feature request: Add Consul to arkade get"
related to https://github.com/alexellis/arkade/issues/626

## Expected Behaviour

`arkade get consul` to download [HashiCorp Consul CLI](https://www.consul.io/commands)

## Current Behaviour

Not implemented.

## Are you a GitHub Sponsor yet (Yes/No?)

- [ ] Yes
- [x] No

## Possible Solution

Add Consul as a downloadable tool.

https://github.com/hashicorp/consul
https://releases.hashicorp.com/co

[2022-09-08 12:55] jsiebens commented on #626
Not much of a difference I guess. It's the same consul helm chart, which enables the service mesh by default.
Perhaps that's the reason we chose `arkade install consul-connect` instead of `arkade install consul`

[2022-09-08 12:59] Jasstkn commented on #626
yes, you are right: https://github.com/alexellis/arkade/blob/master/cmd/apps/consul_app.go#L107

[2022-09-08 13:02] Jasstkn commented on #766
I'll take it. I'm going to submit PR later today.

[2022-09-08 13:21] welteki opened #768 "Add tc-redirect-tap to system apps"
Add a system app to install the tc-redirect-tap CNI plugin. The plugin allows you to adapt pre-existing CNI plugins/configuration to a tap device.

Binaries are being built in this repo of Alex:
https://github.com/alexellis/tc-tap-redirect-builder

## Expected Behaviour

`arkade system install tc-redirect-tap` should install tc-redirect-tap

## Current Behaviour

No system app for tc-redirect-tap

[2022-09-08 13:24] welteki commented on #768
Would you like to pick this up @Jasstkn?

[2022-09-08 13:27] Jasstkn commented on #768
hey. If it's not super urgent and expected to be done strictly today, then yes, I can take this into work :)

[2022-09-08 14:01] alexellis commented on #768
Does by the end of the weekend sound reasonable?

[2022-09-08 14:02] Jasstkn commented on #768
Yep, I'll definitely manage to submit a PR by it 👍🏻

[2022-09-08 15:00] alexellis commented on #626
Sounds like we may not need this then? Should we wait until a user asks for it specifically rather than the company that sells it?

[2022-09-08 18:44] alexellis opened #770 "[Add CLI] inlets/mixctl"
## Details

[inlets/mixctl](https://github.com/inlets/mixctl) is a new TCP forwarding proxy (CLI) that acts like HAProxy, but doesn't require Linux kernel privileges and works on various operating systems and CPU architectures.

Adding an arkade app will make it convenient for inlets users to download to machines where it's required.

[2022-09-08 19:50] Jasstkn commented on #768
/assign: me

[2022-09-08 19:51] Jasstkn commented on #762
/assign: me

[2022-09-09 07:36] #766 closed

[2022-09-09 17:54] alexellis commented on #770
@Jasstkn I thought you might want to try out mixctl? It's getting popular on Twitter and the code should be quite instructional for handling sockets in Go.

https://twitter.com/alexellisuk/status/1567954172657418242?s=20&t=pcgdC4lVxoGTZ5o5KnylGQ

There's also a couple of suggested experiments of putting pqbench and iperf3 through mixctl vs a direct connection or with HAProxy. I think it should per

[2022-09-10 18:51] #770 closed

[2022-09-11 15:25] YuviGold opened #771 "Run lint static analysis on the repository as part of CI"
## Expected Behaviour

Fail CI on linting errors

## Current Behaviour

No static analysis validations.

## Are you a GitHub Sponsor yet (Yes/No?)

- [ ] Yes
- [x] No

## Possible Solution

Use https://github.com/golangci/golangci-lint as `make lint`.

## Context

The `arkade` repository is becoming bigger, and it's recommended to follow some linting rules as a standard. There are static analysis

[2022-09-20 15:26] ibliss opened #773 "Command to get the RabbitMQ secret results in empty string"
The command at
https://github.com/alexellis/arkade/blob/master/cmd/apps/rabbitmq_app.go#L117
does not work

## Expected Behaviour
The command given should output the secret

## Current Behaviour
There is no output
Suggestion: Correct the command, and add a newline to improve readability

## Are you a GitHub Sponsor yet (Yes/No?)

- [ ] Yes
- [X] No

## Possible Solution
https://github.com/alexelli

[2022-09-22 09:13] welteki commented on #768
Hi @Jasstkn. Have you started to work on this already?

[2022-09-22 10:55] alexellis commented on #768
@welteki please can you run with this, so we can get the app in place now that it's been two weeks without a PR?

[2022-09-22 11:40] #768 closed

[2022-09-22 12:06] alexellis commented on #768
Thanks @welteki

[2022-10-02 13:29] 88plug opened #775 "Add Akash Network"
Propose to add [Akash Network CLI](https://github.com/ovrclk/akash) as a tool and in the future add the provider [helm charts](https://github.com/ovrclk/helm-charts) as an application.

## Expected Behaviour
arkade system install akash should install akash cli

## Current Behaviour
No Akash Network in arkade yet.

## Are you a GitHub Sponsor yet (Yes/No?)
- [ ] Yes
- [X ] No

## Possible Solution

[2022-10-02 13:32] alexellis commented on #775
Thanks for your interest in arkade “88”

For the Helm chart, we’d need a sponsored app. You could ask Greg to contact me. Feel free to add the CLI using a recently merged PR as an example.

[2022-10-02 13:58] 88plug commented on #775
Thanks #776

[2022-10-03 20:15] alexellis commented on #773
PRs are welcome if you know what the command should be

Otherwise if you'd like to become a sponsor maybe we can spend a few hours to look into it for you

[2022-10-04 07:49] alexellis commented on #773
@DavidIsa do you have time to look into this for @ibliss?

[2022-10-04 12:56] DavidIsa commented on #773
Yes, I will look into it

[2022-10-04 18:27] alexellis commented on #773
Thank you 🙏

[2022-10-05 11:30] #773 closed

[2022-10-06 10:59] YuviGold opened #778 "Feature Request: Add retry mechanism"
## Expected Behaviour

arkade is being used in CI pipelines and from time to time might fail on network hiccups.
It would be great if internally it could retry its `http` requests for common failures.

## Current Behaviour

In the following examples you can see a network failures that caused to exit with an error without retrying

[code]

[code]

## Are you a GitHub Sponsor yet (Yes/No?)

- [ ] Ye

[2022-10-06 11:01] alexellis commented on #778
Hi @YuviGold

Thanks for your interest in arkade.

This is the first time hearing of issues with GitHub's releases pages which use S3 underneath.

How often do you get a 503 from GitHub / S3, and do you know why this affects you specifically?

I think that we'd have to hear pain from a bunch more users to consider changing the code.

What company is this for? Perhaps if they wanted to become a Git

[2022-10-07 10:06] JanDeDobbeleer commented on #662
@alexellis just had a look and made sure to make the most minimal changes to support this correctly.

This is not about cmd.exe but any shell outside of git bash (and truth be told, we need to get rid of that monster). You can find the slimmed down version [here](https://github.com/alexellis/arkade/compare/master...JanDeDobbeleer:arkade:msys2).

<img width="1056" alt="image" src="https://user-imag

[2022-10-08 08:18] alexellis commented on #662
Thanks for continuing the discussion @JanDeDobbeleer 👍

What I like:

It's got a windows-only build tag: `//go:build windows`

What I'm unsure about:

[code]

Does this require CGO?

Am I over-simplifying this?

If all we're doing is finding out whether we're on Windows or not, can't we get that by the .exe extension of the binary or the GOOS variable?

[2022-10-08 08:35] alexellis commented on #662
What do you get with this?

[code]

[code]

[2022-10-08 08:38] JanDeDobbeleer commented on #662
@alexellis it doesn't require cgo, all it does is call the native windows API (which, I understand, looks very alien of you've never been there before). Additionally, you can run amd64 on Windows ARM and 386 on amd64 so you'll want to know the actual architecture to offer the best compatible experience.

[2022-10-08 08:51] alexellis commented on #662
Do we need an architecture? Only x86_64 is supported by arkade for Windows.

[2022-10-08 10:16] JanDeDobbeleer commented on #662
@alexellis those two are whatever you built for. It doesn't necessarily reflect the actual OS's architecture (see my previous [remark](https://github.com/alexellis/arkade/issues/662#issuecomment-1272267412)). For oh-my-posh this is required as we do have that support, and this way it's also available to anyone going forward. Windows ARM will become the norm, just like Apple also moved to it for ob

[2022-10-08 10:19] alexellis commented on #662
That’s OK with me for where we are today. There is no support in any of our app definitions for Windows ARM. So the only platform is AMD64 - I.e. if you’re using a .exe we know the platform exactly

If we added ARM64, the built flag would be different and so input the correct architecture.

Or are you telling me that someone could install the arm binary on amd64, then execute it?

[2022-10-08 10:20] JanDeDobbeleer commented on #662
The other way around, you can run a amd64 binary on ARM and nothing would work. So you need this.

[2022-10-08 11:37] alexellis commented on #662
Spell out the scenario for me please?

[2022-10-08 14:22] JanDeDobbeleer commented on #662
@alexellis can we take a step back before I do that as it's important to understand why I did this. All it does is mimic the same functionality that's in `GetClientArch` for unix and mac. That one uses `uname -m` to identify the architecture and calling `GetNativeSystemInfo` is the equivalent on Windows. Yes, we could resort to `GOOS` and `GOARCH` but the same argument goes for unix and mac as wel

[2022-10-12 07:48] shawnngtq opened #780 "[Question] Unusable offline?"
This is unusable for offline machine right?

## Expected Behaviour

## Current Behaviour

## Are you a GitHub Sponsor yet (Yes/No?)
- [ ] Yes
- [x] No

## Possible Solution

## Steps to Reproduce (for bugs)

## Context

I am using **restrictive offline redhat VM**. This is the recommended tool to install openfaas over helm and I am really hoping somehow it's usable.

Otherwise, I have no choice bu

[2022-10-12 08:20] alexellis commented on #780
Helm is the right tool for an offline installation of OpenFaaS.

Feel free to reach out to us if you need support air gapping OpenFaaS CE / OpenFaaS Pro. https://openfaas.com/support

You may also want to look at faasd, which doesn't use helm or Kubernetes and has a bash installer: https://github.com/openfaas/faasd

[2022-10-12 08:20] #780 closed

[2022-10-12 08:21] alexellis commented on #780
/set title: Can I install the openfaas arkade app without the Internet?

[2022-10-12 08:21] alexellis commented on #780
/add label: support,question

[2022-10-13 10:45] alexellis opened #781 "Add downloads for: kubeconform, conftest and kubeval"
## Expected Behaviour

Add downloads for: kubeconform, conftest and kubeval

## Current Behaviour

These are available in kube-tools by @stefanprodan, but we don't have them here yet

https://github.com/stefanprodan/kube-tools

The new style for arkade in GitHub makes it work in a similar way to kube-tools, but for many more CLIs:

[code]

## Possible Solution

See past examples of merged PRs, pic

[2022-10-13 10:45] alexellis commented on #781
@Jasstkn I've added the hacktoberfest tag to this repo, so if you're interested in sending a PR it would count towards you getting a free t-shirt from DigitalOcean :)

[2022-10-15 09:12] Jasstkn commented on #781
I'll work on that one :) Thanks for giving me a heads up

[2022-10-15 09:43] nitishkumar71 commented on #781
@Jasstkn Do let me know, if you need any help to add any of these.

[2022-10-15 18:05] Jasstkn commented on #781
Hey folks. I submitted a PR with the changes, let me know if there is anything else I can do :)

[2022-10-15 18:07] Jasstkn commented on #762
I've tried to implement this but the unexpected issue was hitting to Github's limits. Therefore I think this approach is bad idea in general.

[2022-10-15 18:07] #762 closed

[2022-10-17 06:57] #781 closed

[2022-10-18 14:11] welteki opened #785 "Add google crane to arkade get"
[crane](https://github.com/google/go-containerregistry/blob/main/cmd/crane/README.md) is a tool for interacting with remote images and registries.

## Expected Behaviour

`arkade get crane` installs crane

## Current Behaviour

Not implemented

## Are you a GitHub Sponsor yet (Yes/No?)

- [x] Yes
- [ ] No

## Possible Solution

Add crane to arkade get

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

[2022-10-18 14:42] #785 closed

[2022-10-21 08:19] welteki opened #788 "Wrong binary name for tc-redirect-tap on arm64"
The binary is copied to the installation path with the arm64 suffix in its name. Tools trying to use the plugin expect it to be named `tc-redirect-tap` instead of `tc-redirect-tap-arm64`.

## Expected Behaviour

Running `sudo arkade system install tc-redirect-tap` on an arm64 device should install the cni-plugin in `/opt/cni/bin/tc-redirect-tap`

## Current Behaviour

Running `sudo arkade system i

[2022-10-21 12:55] #788 closed

[2022-10-21 18:33] Jasstkn opened #790 "Add WithHelmUpdateRepo(updateRepo) to all missed helm apps"
## Expected Behaviour

update-repo works for all apps

## Current Behaviour

See discussion in https://github.com/alexellis/arkade/pull/757#discussion_r963122446 for details

## Are you a GitHub Sponsor yet (Yes/No?)

- [ ] Yes
- [x] No

## Possible Solution

Add `WithHelmUpdateRepo(updateRepo).` to each app under `cmd/apps/`

## Steps to Reproduce (for bugs)

1. Missing `--update-repo` option
[co

[2022-10-21 18:36] Jasstkn opened #791 "Add Temporal's CLI to arkade get"
## Expected Behaviour

`arkade get tctl` works

https://github.com/temporalio/tctl

## Current Behaviour

No such CLI is added

## Are you a GitHub Sponsor yet (Yes/No?)

- [ ] Yes
- [x] No

## Possible Solution

Add to `pkg/get/tools.go`

## Context

Can't install tctl via arkade

## If requesting a CLI for "arkade get"

How many downloads does this tool have? 3,387

## Your Environment

* What K

[2022-10-22 07:29] tuxtof opened #792 "add eksctl-anywhere to arkade get"
## Expected Behaviour

`arkade get eksctl-anywhere` works

[eks-anywhere](https://github.com/aws/eks-anywhere)

## Current Behaviour

Error: tool eks-anywhere not found

## Are you a GitHub Sponsor yet (Yes/No?)

- [ ] Yes
- [X] No

## Your Environment

* What Kubernetes distribution are you using?

[code]

* Operating System and version (e.g. Linux, Windows, MacOS):

[code]

* What arkade version

[2022-10-22 12:25] alexellis commented on #792
If it has a static binary then please feel free to send us a PR for this.

For a guide on how to add it and test it, please see recently closed PRs. @Jasstkn provides good examples

[2022-10-22 13:48] tuxtof commented on #792
Hello @alexellis
if external PR are accepted , let's do it

[2022-10-23 14:17] nitishkumar71 opened #794 "Add Support of viddy"
Add installation support for https://github.com/sachaos/viddy cli
## Expected Behaviour

Add installation support for https://github.com/sachaos/viddy
## Current Behaviour

Not available
## Are you a GitHub Sponsor yet (Yes/No?)

- [ ] Yes
- [x] No

[2022-10-24 10:43] alexellis commented on #791
Go for it @Jasstkn

[2022-10-24 10:44] alexellis commented on #790
Please go ahead and work on this @Jasstkn

[2022-10-24 18:07] #794 closed

[2022-10-24 19:46] Jasstkn commented on #778
FYI: There are [some examples in the e2e-tests](https://github.com/alexellis/arkade/actions/runs/3315057541/jobs/5475142895#step:4:1055)

[2022-10-25 08:50] #790 closed

[2022-10-25 08:50] #791 closed

[2022-10-28 09:42] chmouel opened #799 "Add gosmee client"
## Expected Behaviour

Get [gosmee](https://github.com/chmouel/gosmee) available so I can expose my github workflows or others to  integrate with SCM providers.

## Current Behaviour

NA

## Are you a GitHub Sponsor yet (Yes/No?)

- [ ] Yes
- [X] No

## Possible Solution

I would like to contribute it and checking with you first.

## If requesting a CLI for "arkade get"

How many downloads does th

[2022-10-28 16:32] alexellis commented on #778
@Jasstkn thanks

Can you have the tests print out headers on error, to see if GitHub is trying to tell us something?

[2022-11-05 06:12] nitishkumar71 opened #801 "Add Support of firectl"
## Expected Behaviour

Add support for https://github.com/firecracker-microvm/firectl cli
## Current Behaviour

NA
## Are you a GitHub Sponsor yet (Yes/No?)

- [ ] Yes
- [x] No

## If requesting a CLI for "arkade get"

How many downloads does this tool have? Check at:

https://somsubhra.github.io/github-release-stats/

Total 24 Downloads

[2022-11-08 13:11] tuxtof opened #803 "Add Support for clusterawsadm"
## Expected Behaviour

Add Support for clusterawsadm CLI

## Current Behaviour
NA

## Are you a GitHub Sponsor yet (Yes/No?)

- [ ] Yes
- [X] No

## Context

## If requesting a CLI for "arkade get"

How many downloads does this tool have? Check at:

https://somsubhra.github.io/github-release-stats/

  Total Downloads 62,680

[2022-11-09 09:42] alexellis commented on #803
Adding the "missing link": https://cluster-api-aws.sigs.k8s.io/clusterawsadm/clusterawsadm.html 🙂

Feel free to send a PR for this, use a closed PR as a template and pay attention to the testing steps we require too.

[2022-11-09 09:44] #801 closed

[2022-11-09 22:59] welteki opened #805 "Add a flag to deploy OpenFaaS Pro with JetStream"
Add an extra flag to the openfaas app to deploy OpenFaaS Pro with the `jetstream` queue mode enabled.

## Expected Behaviour

Make it more convenient to deploy OpenFaaS Pro with queue mode `jetstream`:

[code]

## Current Behaviour

Longer command to enable the `jetstream` queue mode:

[code]

## Are you a GitHub Sponsor yet (Yes/No?)

- [x] Yes
- [ ] No

## Possible Solution

Add a `--jetstream`

[2022-11-13 12:53] nitishkumar71 opened #812 "Add suppport for grafana agent"
Add support for https://github.com/grafana/agent
## Expected Behaviour

`arkade` should support `agent` cli
## Current Behaviour

`arkade` does not support `agent` cli
## Are you a GitHub Sponsor yet (Yes/No?)

- [ ] Yes
- [x] No

[2022-11-26 17:27] nitishkumar71 opened #815 "Add support for open source container registry"
Add support for `registry` component from https://github.com/distribution/distribution. `registry` allows user to manage self hosted container registry. Use can configure it to run server and store images in disk or any cloud bucket. Refer [link](https://github.com/distribution/distribution/blob/main/docs/configuration.md) for full configuration details.

## Expected Behaviour

This will help uses