[2019-11-21 15:39] alexellis opened #11 "[Feature] Add app for kube-state-metrics"
## Expected Behaviour

`k3sup app install kube-state-metrics` then profiting from some insightful metrics.

## Current Behaviour

Could use `k3sup app install chart`, but a specific app would be more discoverable

## Possible Solution

Use chart from: https://github.com/kubernetes/kube-state-metrics

[2019-12-09 19:42] burtonr opened #15 "Fix --kubeconfig flag priority"
The `kubeconfig` flag on the `app install` command does not affect the actual kubernetes command execution. The kubernetes command is executed against the default kubeconfig file, not the one passed in via flags.

## Expected Behaviour

Passing the `kubeconfig` flag on the `app install` command should use that kubeconfig file when installing the app.

## Current Behaviour

The `kubeconfig` variabl

[2020-01-11 19:43] alexellis opened #12 "[Feature] Traefik v2 app"
## Task

Add app for traefik v2

https://docs.traefik.io

https://docs.traefik.io/getting-started/install-traefik/#use-the-helm-chart

[2020-01-20 21:07] alexellis opened #10 "[Feature] armhf support for kubernetes-dashboard app"
## Feature

There is armhf support for the kubernetes-dashboard, so we should look at adding that for the dashboard because it's super popular with Raspberry Pi users.

https://github.com/helm/charts/tree/master/stable/kubernetes-dashboard

For an example on how to find the architecture, see the [openfaas app](https://github.com/alexellis/arkade/blob/master/cmd/apps/openfaas_app.go)

Here's the da

[2020-01-30 11:21] henry2man opened #9 "PR: Update kubernetes dashboard & fix account creation"
Kubernetes Dashboard is outdated (current version is 2.0.0-rc2). Also the script fails creating an admin user.

## Expected Behaviour

 `$> k3sup app install kubernetes-dashboard`

* Installs latest kubernetes-dashboard (2.0.0-rc2) and
* hints the user how to create admin user, not creating it directly. According to https://github.com/kubernetes/dashboard/blob/master/docs/user/access-control/creat

[2020-02-04 18:30] nitishkumar71 opened #8 "basic auth does not get disabled after enabling it first for openfaas app"
## Expected Behaviour

We want to disable basic-auth on openfaas when installing it using k3sup. So any request to URL **/system/functions** can be sent without basic **Authorization** header.
## Current Behaviour

k3sup install is not disabling basic-auth for openfaas app, even after passing the argument to do disable it. It throws error invalid credentials.
## Possible Solution

## Steps to Repr

[2020-02-12 09:06] Waterdrips opened #7 "add --helm3 to the minio app"
## Expected Behaviour

we should be able to use helm3 for minio and make it default
## Current Behaviour

helm2
## Possible Solution

add helm3 using the same pattern as other apps

[2020-02-26 11:31] Waterdrips opened #1 "get.sh not creating Alias"
The alias should be created by get.sh

There is a naming issue, it was called ALIAS but the script was looking for ALIAS_NAME

PR Incoming

[2020-02-26 11:33] #1 closed

[2020-02-26 11:37] Waterdrips opened #3 "[Feature Request] verify command for each app"
It might be useful to have a command that verifies that an app was installed correctly? like looking at the deployments/CRDs and making sure they have started?

Plus we could then setup a load of tests in CI for each app that uses the verify command?

[2020-02-26 11:46] alexellis opened #4 "[App request] Prometheus Operator"
## App

Prometheus Operator -> `prometheus-operator`

https://github.com/helm/charts/tree/master/stable/prometheus-operator

I would set the push gateway to false an persistence to false (but give users a flag to enable it)

[2020-02-26 11:47] alexellis opened #6 "[App request] Grafana"
## App

Grafana - for dashboards and monitoring

Name `grafana`

Helm: 3 only

Persistence off by default, but flag available

https://github.com/helm/charts/tree/master/stable/grafana

[2020-02-26 11:54] pisymbol opened #13 "Support custom namespaces on app install"
Currently 'k3sup app install' command installs everything in the 'default' namespace.

It would be really nice if there was an option '-n,--namespace' that would propagate its value to the actual install command (e.g. helm) so an admin can choose what namespace an app gets installed in.

[2020-02-26 11:54] alexellis opened #14 "[Feature] Add apps from Weaveworks"
## Description

I'd like to see the following, if it makes sense on a case-by-case basis:

* Flux CD (now CNCF) - https://fluxcd.io
* Helm Operator (in CNCF repo, but still a Weaveworks project) - https://github.com/fluxcd/helm-operator
* Weave scope - https://www.weave.works/oss/scope/ and https://github.com/helm/charts/tree/master/stable/weave-scope
* Flagger by @stefanprodan - we have an Istio

[2020-02-26 11:55] alexellis commented on #13
This depends on the helm chart in question, most don't support changing the namespace when templating with helm2, with --helm3=true, it may be possible to do this.

[2020-02-26 11:56] alexellis commented on #15
Please could someone suggest a simpler alternative fix?

[2020-02-26 22:32] Waterdrips opened #19 "Add `arkade update` instructions like we have in k3sup"
## Expected Behaviour

`arkade update` could print the upgrade instructions (like k3sup does)
## Current Behaviour

no command
## Possible Solution

check how k3sup does it, and use a similar approach
https://github.com/alexellis/k3sup/blob/master/cmd/update.go

[2020-02-26 22:34] Waterdrips commented on #19
Derek add label: help wanted, skill/beginner, good first issue

[2020-02-26 22:37] Waterdrips commented on #7
Derek add label: help wanted, skill/beginner, good first issue

[2020-02-26 22:52] #19 closed

[2020-02-26 22:52] alexellis commented on #19
I'm surprised that I missed this, will add it in whilst I'm there.

[2020-02-26 22:53] alexellis opened #20 "Add --helm3 flag to chart app"
## Description

Add --helm3 flag to chart app

The `arkade install chart` command should have helm3 support and use it by default.

[2020-02-26 22:54] alexellis commented on #20
Derek add label: help wanted, skill/beginner, good first issue

[2020-02-27 13:50] alexellis opened #21 "Remove duplication via Go chaining/structs/WithOptions()"
## Description

There are opportunities to remove duplication between each app through the use of method chaining / fluent APIs and the use of structs or WithOptions().

Chaining:

[code]

Structs could reduce custom variables and flags parsing:

[code]

WithOptions:

containerd has a non-fluent API that is not chained, but passed in via a series of extra args:

[code]

[2020-02-28 09:15] Waterdrips commented on #21
I think this is a great idea, we could get it into one app we know well (like inlets-operator or openfaas) and work out the kinks?

What about something to "automate" getting kubeconfig, cluster/client ARCH and such things too?

[2020-02-28 09:16] alexellis commented on #21
That approach sounds ideal, incremental and experimental, then we could include more after that.

[2020-02-28 09:31] LucasRoesler commented on #21
Who is responsible for validating the value that is passed in? I don't think this approach would allow the `SetFoo` method to validate the value and return an error because the signature would have to be

[code]

but for chaining to work, it needs to be

[code]

I guess we could add a separate

[code]

or this is returned from the `Install` method?

[2020-02-29 10:33] kadern0 commented on #20
Hi, I've been looking at this one. I have it somehow working, but I get validation errors from helm. Any ideas?

`./arkade install chart --repo-name stable/nginx-ingress --repo-url https://kubernetes-charts.storage.googleapis.com --set defaultBackend.enable=false
Using kubeconfig: /home/kaderno/.kube/config
Using helm3
Client: x86_64, Linux
2020/02/29 21:15:47 User dir established as: /home/kadern

[2020-03-01 06:16] braybaut commented on #12
https://github.com/alexellis/arkade/pull/23

[2020-03-01 21:00] aidun commented on #21
I introduced the app type and some cleanups in #24 maybe you can take some parts of it.

[2020-03-01 21:31] howardjohn opened #25 "Istio installs unsupported version"
## Expected Behaviour
Applications should install supported versions

## Current Behaviour

https://github.com/alexellis/arkade/blob/master/cmd/apps/istio_app.go#L77 and unsupported version of Istio is installed: https://istio.io/news/support/announcing-1.3-eol-final/
## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* What Kubernetes distributio

[2020-03-02 10:16] aidun commented on #25
I have to install a x86 cluster to test. I think I can make the required tests this afternoon or someone else would check my PR

[2020-03-02 14:40] Waterdrips commented on #10
/close

This is fixed

[2020-03-02 14:40] #10 closed

[2020-03-02 16:09] aidun commented on #20
Do you have a PR for this, so we I can watch at your code?

[2020-03-02 20:52] aidun commented on #25
/assign: me

[2020-03-02 21:17] kadern0 commented on #20
Here it is:
https://github.com/alexellis/arkade/pull/27

[2020-03-03 11:17] #25 closed

[2020-03-03 11:17] alexellis commented on #25
Thanks for your interest @howardjohn 👍

[2020-03-03 16:01] howardjohn commented on #25
Thanks for updating!

On Tue, Mar 3, 2020 at 3:17 AM Alex Ellis <notifications@github.com> wrote:

[2020-03-03 19:01] aidun opened #29 "[Feature] Move lib code from cmd/app/kubernets_exec.go to pkg"
Currently app code and lib code is scattered in `cmd/apps/kubernetes_exec.go` and `pkg`. This is a bit misleading and should be changed.

## Expected Behaviour

All shared code should be placed under `pkg`.

## Current Behaviour

The functions will not be private, they will be public.

## Possible Solution

I suggest to move the helm related code to `pkg/helm` and the Kubernetes related code to `p

[2020-03-04 07:29] aidun opened #31 "[Bug] wait flag on install commands is missing"
Every app can implement a --wait flag. The flag is provided by `cmd/install.go`. The definition of the flag is missing.

## Expected Behaviour

Every sub command of install should have the ability to use the --wait flag

## Current Behaviour

The commands fail with an error if you provide the flag.

## Possible Solution
Provide something similar to this in the install command:
[code]

## Steps to

[2020-03-04 07:30] aidun commented on #31
@Waterdrips found point where it got lost:

https://github.com/alexellis/k3sup/commit/6184746be85963f66fa0f0b8a1a4111d35959a3e#diff-9062f38da02df2d6f4a859a669b5b08dL36

[2020-03-04 07:37] Waterdrips commented on #31
@aidun thanks, did you want to raise a PR to put it back in?

[2020-03-04 07:37] aidun commented on #31
Im already on it

________________________________
Von: Alistair Hey <notifications@github.com>
Gesendet: Wednesday, March 4, 2020 8:37:04 AM
An: alexellis/arkade <arkade@noreply.github.com>
Cc: Markus Hartmann <markush1986@gmail.com>; Mention <mention@noreply.github.com>
Betreff: Re: [alexellis/arkade] [Bug] wait flag on install commands is missing (#31)

@aidun<https://github.com/aidun> thanks,

[2020-03-04 07:47] Waterdrips opened #33 "Build E2E Test suite"
It would be useful to have an E2E test solution for:
* Installing an app (and possibly dependency apps, like for openfaas-ingress)  on k3d
* waiting for it to finish (both using the --wait flag and with a command to verify its up)
* Checking its configured as expected

We would want to be able to have a framework where we could add a "test manifest" like the app, any flags and overrides, and the e

[2020-03-04 07:56] aidun commented on #31
Derek assign: me

[2020-03-04 07:58] Waterdrips commented on #31
You need to be in the Derek file to use the commands,

/assign: aidun

[2020-03-04 07:59] Waterdrips commented on #31
/assign: aidun

[2020-03-04 08:00] aidun commented on #31
okay, that makes sense :/

[2020-03-04 08:35] #31 closed

[2020-03-04 18:30] aidun commented on #4
Also helm3 only?

[2020-03-04 18:49] aidun commented on #3
For this it would be useful to have something like a ArkadeApp-Interface with the common operations:

[code]

this Interface should be used by all Operations from the cmd Package. You suggested something in #21 for a different reason. I think we should work on an Interface and some basic types like Helm2App and Helm3App.

[2020-03-04 19:11] aidun commented on #29
Is it worth it to provide a WIP-PR?

[2020-03-05 07:13] Waterdrips commented on #33
This other feature would be useful here
https://github.com/alexellis/arkade/issues/3

[2020-03-05 20:13] alexellis opened #35 "Notice about Permission error"
This fixes an issue where some code that ran in get.sh created a .arkade folder owned by root.

See the release notes, and run the instructions if you are running into permissions issues.

https://github.com/alexellis/arkade/releases/tag/0.1.8

[2020-03-06 09:08] TheYkk opened #36 "PR: Version upgrades"
## Version upgrades available
- k3s
- helm3
- kubernetes-dashboard
- cert-manager

[2020-03-08 07:22] kadern0 commented on #7
While working on this, I've found an issue in the code. If the user doesn't supply access and secret keys, they get generated with:
`password.Generate()`

Then we pass such keys within the `overrides` parameter to `helm3Upgrade` and in there, we parse them and use them as `Args` in `execute.ExecTask`.

The problem is that the key contains a "," the task execution will fail because it will be unabl

[2020-03-08 09:51] embcla opened #41 "Helm release unknown"
Hey Alex, I believe the tool would be better if it told the user the release it created.

For example at the end of the install, print out something like

<installed_app.name> installed with release name: <installed_app.release>
Happy helming!

[2020-03-08 12:49] Waterdrips commented on #7
Can the keys be quoted? Will that fix the problem?

[2020-03-09 11:34] alexellis opened #42 "Prevent installation of minio on armhf"
## Description

Prevent installation of minio on armhf since no images are available at this time upstream.

## Solution

Check the way we do this for the Istio app.

[2020-03-09 12:25] #6 closed

[2020-03-09 12:29] aidun commented on #42
Installation only on `amd64` or not on `armhf`?

[2020-03-09 12:47] alexellis opened #43 "Add app for Redis"
## App

Redis, via Bitnami's chart

This is only available for amd64

https://github.com/bitnami/charts/tree/master/upstreamed/redis

[2020-03-09 12:58] aidun opened #44 "Add Info message to Grafana-App"
Add Info message to Grafana-App

## Expected Behaviour
arkade info grafana

## Possible Solution
Split Install and Info-Message of the app.

[2020-03-09 19:27] aidun commented on #43
I take it.

[2020-03-09 19:41] aidun opened #46 "[Feature] Add App type to arkade"
Add an type `App` to arkade, to unify the way commands such as `install` and `update` interact with apps.

## Expected Behaviour

I would suggest an interface in `pkg/app`:

[code]

In addition to this a Helm3-Implementation in `pkg/app` wich will cover the most apps:
[code]

In `pkg/apps/` I would place a `<app-name>.go` file which has a `Make<app-name>App` function. This function should return t

[2020-03-09 20:18] alexellis commented on #42
I believe that it only works on AMD64 (PCs like Istio) cc @harshavardhana

[2020-03-09 20:19] #42 closed

[2020-03-10 08:21] kadern0 opened #47 "Minio app - generated secret key might fail to be parsed"
If the user doesn't provide  `--secret-key`, one will be generated. With current setup, some special characters might end up in the key and this will fail later on as it won't be parsed properly:

## Expected Behaviour
Not failing on parsing the secret-key

## Current Behaviour
[code]
## Possible Solution
I think the easiest and fastest solution is to disable the special characters on the `generat

[2020-03-10 18:34] nickgerace opened #49 "Add app for Tekton"
[Tekton pipelines](https://github.com/tektoncd/pipeline) is a rapidly-growing pipelines service for Kubernetes. It would be a great addition!

## Expected Behaviour

n/a

It should install Tekton pipelines and dashboard on the Kubernetes cluster.

## Current Behaviour

n/a

Same as above.

## Possible Solution

I have made a PR, but I am required to have an issue as well. Alex and I spoke on Twitt

[2020-03-11 08:21] kadern0 opened #50 "Metrics server uses amd64 image on arm nodes"
## Expected Behaviour
Check node architecture and use appropriate image. Following images available:
- metrics-server
- metrics-server-amd64
- metrics-server-arm
- metrics-server-arm64

## Current Behaviour

[code]
## Possible Solution
Check node architecture and use right image.
## Steps to Reproduce (for bugs)
1.  ./arkade install metrics-server --namespace kube-system --helm3
[code]

[2020-03-11 08:24] alexellis commented on #50
Is there an alternative for this, or do we just need to block it?

It may be the reason that @ibuildthecloud ships metrics-server inside k3s (which is available for different architectures)

[2020-03-11 08:25] kadern0 commented on #50
In this case, it should be an easy fix. We can choose image depending on the node arch. I can give it a go.

[2020-03-11 08:35] kadern0 opened #51 "Mongodb and PostgreSQL install fails on arm nodes"
Trying to install mongodb or PostgreSQL on a Raspberry Pi cluster doesn't work.

## Expected Behaviour
Using a working image or throwing an error to prevent creation of all resources in the cluster.
## Current Behaviour
It uses the image x86-64:
`docker.io/bitnami/mongodb:4.2.4-debian-10-r0`
`docker.io/bitnami/postgresql:11.7.0-debian-10-r9`

## Possible Solution
MongoDB and PostgreSQL ARM images

[2020-03-11 08:52] kadern0 opened #52 "PostgreSQL install fails on arm nodes"
Trying to install PostgreSQL on a Raspberry Pi cluster doesn't work.
## Expected Behaviour
Using a working image or throwing an error to prevent creation of esources in the cluster.

## Current Behaviour
It uses the image x86-64:
`docker.io/bitnami/postgresql:11.7.0-debian-10-r9`

## Possible Solution
PostgreSQL ARM images do exist, but they will require some configuration and testing. Until then,

[2020-03-11 09:24] alexellis commented on #52
Hi, no need to raise issues for each app, just use one to track compatibility and then add the restriction flag we talked about.

[2020-03-11 09:54] alexellis commented on #51
(FYI: no Bitnami images work on ARM) please see my comment on #52

We will need to do an architecture check on each and then prevent the installation.

[2020-03-11 10:06] #52 closed

[2020-03-11 10:14] aidun opened #53 "[Feature] Helm Install without streaming stdout to console"
Some helm charts have a really nice output. You have to copy that output to your info message, to make the install and info command work. If you use the install command you get the output two times.

## Expected Behaviour

It should be possible to control the output of the helm charts, to make the cli expirience nicer.

## Current Behaviour

## Possible Solution

Add a option for supressing the ou

[2020-03-11 10:16] aidun opened #54 "[Feature request] Add cli completion"
I would be a nice expierence to tab trough the cli options.

## Expected Behaviour

Tab trough the cli options

## Current Behaviour

No tabbing

## Possible Solution

https://github.com/spf13/cobra/blob/master/bash_completions.md

[2020-03-11 10:42] aidun opened #55 "Error when charts folder already exists (regression)"
If you install an app twice arakde will fail.

## Expected Behaviour

Arkade should install the app with new parameteres or set the default values.

## Current Behaviour

[code]

## Possible Solution

Cleanup the `/tmp/charts` directory after installation.

## Steps to Reproduce (for bugs)

1. arkade install cert-manager
2. arkade install cert-manager
3.
4.

## Context

## Your Environment

* What

[2020-03-14 04:48] kadern0 commented on #51
PR ready!

[2020-03-14 08:38] kadern0 commented on #7
@Waterdrips got it fixed! Sometimes reading the documentation helps :)

[2020-03-14 09:03] #44 closed

[2020-03-14 09:04] #51 closed

[2020-03-14 09:06] #50 closed

[2020-03-14 09:11] alexellis commented on #7
Are the values being sent via Command or Args?

[2020-03-14 09:44] kadern0 commented on #7
Same as before, just limited the allowed symbols within the generated secret key

[2020-03-14 12:35] LucasRoesler commented on #55
I am also seeing the same behavior

[code]

[2020-03-14 13:04] alexellis commented on #55
Can you rm -rf the tmp/charts folder?

[2020-03-14 13:04] alexellis commented on #55
/set title: Error when charts folder already exists (regression)

[2020-03-14 13:04] alexellis commented on #55
@Waterdrips this seems like regression. Would you be able to take a look into it?

[2020-03-14 14:13] LucasRoesler commented on #55
Removing the tmp folder does work, but of course needs to be done every time.

I took a quick look at the code and I didn't see any obvious global way to handle this, it would have to be added to each app.  There are 16 cases of `chartPath := path.Join(os.TempDir(), "charts")`

![image](https://user-images.githubusercontent.com/891889/76683670-34ce6580-6606-11ea-88fa-9547c79b038b.png)

[2020-03-14 14:18] alexellis commented on #55
This is regression and it used to work fine. I wonder if it was caused by #37 #36 ?

[2020-03-15 10:12] Waterdrips commented on #55
/assign: me
I saw this last week when I ctrl-c an app half way through install.

Didint think much of it at the time
I'll take a look today or early tomorrow

[2020-03-15 10:33] #55 closed

[2020-03-16 09:11] kadern0 commented on #47
Fixed by #48

[2020-03-16 09:11] #47 closed

[2020-03-17 16:21] alexellis commented on #54
[openfaas/faas-cli](https://github.com/openfaas/faas-cli) AFAIK has this

[2020-03-17 17:24] aidun commented on #54
It should be easy to implement. I prototyped it on the day I created the issue

[2020-03-18 10:56] Waterdrips opened #64 "Allow a license file for inlets operator"
## Expected Behaviour

Provide a license key file location ad a command line flag, the contents of this file should be used as the license.

## Current Behaviour

You have to provide a license as a string, which gets printed to the console by `arkade`
## Possible Solution

add a new flag for `--license-file` which reads the file.

[2020-03-18 10:59] Waterdrips commented on #64
/assign: codeanit

[2020-03-18 11:00] Waterdrips commented on #64
/assign: me

[2020-03-18 11:01] Waterdrips commented on #64
/assign: codeanit

[2020-03-18 11:04] Waterdrips commented on #64
@codeanit was taking a look at this

[2020-03-18 11:09] codeanit commented on #64
@Waterdrips Thanks.

As discussed, I will review the codebase, and get back to you on how we will be collaborating on this as I am a newbie here :)

Cheers,

[2020-03-18 14:07] pableeee commented on #54
I can take a look at it ;)

[2020-03-18 14:14] aidun commented on #54
If you need help or feedback. Let me know.

[2020-03-18 14:47] Waterdrips commented on #4
/assign: @rajalokan

[2020-03-18 14:47] Waterdrips commented on #4
/assign: me

[2020-03-18 14:47] rajalokan commented on #4
/assign me

[2020-03-18 20:29] pableeee commented on #54
let me know if something needs to be corrected

[2020-03-19 12:21] #7 closed

[2020-03-19 13:51] alexellis commented on #46
This would be part of #21 in my opinion, I'm going to close as a duplicate. Can you leave a brief comment on the issue with your suggestion?

[2020-03-19 13:51] #46 closed

[2020-03-19 13:51] alexellis commented on #46
/add label: duplicate

[2020-03-19 14:45] aidun commented on #21
Hi all, I provided a implementation proposol for the App type in #46 and a like to make a draft pr with a sample app for helm 3. It would be no problem, because I already did it in #24 and can recycle some parts. What do you think @Waterdrips @alexellis

[2020-03-21 15:19] nimamahmoudi opened #68 "Error installing metrics-server"
## Expected Behaviour
running `arkade install metrics-server` to install metrics server.

## Current Behaviour
[code]
## Possible Solution
I believe this is an issue with the help version, not sure though.

## Steps to Reproduce (for bugs)
1. `k3sup install` to install a k3sup server.
2. `arkade install metrics-server`

## Context
Trying to install `metrics-server`.

* What Kubernetes distribution

[2020-03-22 07:08] kadern0 commented on #68
Hi @nimamahmoudi same version works fine for me. Do you have helm3 installed? Could you try same command with `--helm3=false` to see if this could be the issue?

[2020-03-22 17:36] nimamahmoudi commented on #68
@kadern0 Thanks for following up. I checked the cluster and it seems like it had metrics-server installed by default (don't know why it was enabled by default, but I also had traefik ingress installed there by default). I expected it to work like installing Kubernetes. Issue is resolved.

[2020-03-22 17:36] #68 closed

[2020-03-23 16:59] codeanit commented on #64
@Waterdrips Hope things are well at your end.
I got delayed with some personal matters. We(Kathmandu, Nepal) are having a lock down from tomorrow.
Could you please attach a sample license file? The nature to file(type, content) could be helpful.
Thanks.

[2020-03-25 13:06] dharmit commented on #51
This is probably tangential to what's covered in this issue. I'm seeing below on my laptop:
[code]
Kubernetes cluster in question is a [minishift VM](https://www.okd.io/minishift/) running on my laptop. Am I missing something?

[2020-03-25 14:42] Jeff-Lowrey opened #71 "Download for Windows lacks instructions or usable script"
Since Arkade provides a prebuilt binary for Windows, it should be easy to find and download.

The script at https://get-arkade.dev/ (or https://github.com/alexellis/arkade/blob/master/get.sh) is a bash script and will not run on Windows.

Either the main README should include instructions to manually download the right windows binary, or it should include instructions similar to the one to get the

[2020-03-25 21:28] alexellis commented on #71
Hi Jeff,

You need to use Git Bash, that's how it's meant to be used. None of the apps will work otherwise since we rely on bash being available.

If you want to use cmd or PowerShell, simply download the binary from the releases page. Since Arkade came from k3sup, I'll check if the note was copied across or not.

The workshop explicitly instructs users to install Git Bash.

Alex

[2020-03-25 21:28] #71 closed

[2020-03-25 21:31] alexellis commented on #71
A note has been copied over from k3sup here: https://github.com/alexellis/arkade#get-arkade

[2020-03-29 09:15] alexellis opened #72 "[App request] Add ArgoCD"
ArgoCD is useful for CD with a GitOps approach.

Likely unavailable for ARM, however for Intel it would be useful.

Seems like the team just use a couple of manifest / kubectl commands for installation:

https://argoproj.github.io/argo-cd/#quick-start

Add an info message with an instruction to their user-guide / getting started page.

Ideally to also deploy a sample repo such as:

https://github.

[2020-03-29 09:20] alexellis commented on #72
<img width="862" alt="Screenshot 2020-03-29 at 10 18 25" src="https://user-images.githubusercontent.com/6358735/77845417-b1387b00-71a6-11ea-8016-0c82e80b7df2.png">

https://github.com/alexellis/arkade/blob/master/cmd/apps/kubernetes_dashboard_app.go

[2020-03-29 09:47] alexellis commented on #72
Fixed by #73

[2020-03-29 09:47] #72 closed

[2020-03-29 15:26] rmarcandier opened #74 "Install postgresql using arkade"
I am trying to install PostgreSQL on my mac using arkade.

## Expected Behaviour

[code]

## Current Behaviour

[code]

## Possible Solution
No sure

## Steps to Reproduce (for bugs)

[code]

## Context
I am trying to install PostSQL

## Your Environment

* What Kubernetes distribution are you using?

[code]

* Operating System and version (e.g. Linux, Windows, MacOS):

[code]

* What arkade versi

[2020-03-30 17:22] jevin36 opened #75 "Install PostgreSQL on arm64 device"
I was trying to run your todo app tutorial on a Pinebook Pro (aarch64, arm64 device) but unfortunately the official postgresql helm chart only supports pc architecture.

## Expected Behaviour
PostgreSQL Arm64 is used

## Current Behaviour
Arkade exits with an error

## Possible Solution
On https://hub.docker.com/r/arm64v8/postgres there seems to exist an arm64 postgresql version - this would be gr

[2020-03-30 17:36] #75 closed

[2020-03-30 17:38] alexellis commented on #75
Hi thank you for using my blog post and for your interest in this project. The company (Bitnami) that maintains docker images and helm charts for Kubernetes as far as I am aware is not providing support for ARM.

The error you are seeing is because we are aware of this fact and are trying to help you avoid any confusion by installing incorrect charts to your computer.

You can get managed SQL on d

[2020-03-30 20:02] Kerwood commented on #15
Sooo... Is this going to be fixed or ?

[2020-03-31 06:46] aditsachde opened #76 "[Feature Request] Add MetalLB"
If running on a set of Raspberry Pis or anywhere that does not provide a loadbalancer, we have to fall back to using host ports for Kubernetes. [MetalLB](https://metallb.universe.tf/) solves this issue by providing a bare metal load balancer implementation, and it works quite nicely I would say. I currently use it on all my clusters without any issues, and it would be great to see it added to Arka

[2020-03-31 07:25] alexellis commented on #76
Hi, thanks for your interest in arkade.

Most folks don't have BGP at home, so can you give the precise configuration that works for your home network? Re: helm, that's a shame, but the Kubernetes dashboard and ArgoCD are also installed by YAML manifests.

Also, have you seen the inlets-operator? Take a look. You can get real, public IPs and it's also an LB.

[2020-03-31 07:28] alexellis commented on #15
See my comment from a month ago. What specific issue are you running into? Some people don't set their KUBECONFIG variable correctly. If you do that, then you shouldn't need this flag.

[2020-03-31 08:50] winwisely99 opened #77 "add to gofish"
It would be awesome to have ks3 and arkade in gofish.

Its the only cross plarform brew like experience i know and we use it for bootstrapping.

https://gofi.sh/index.html
https://github.com/fishworks/fish-food/tree/master/Food

[2020-03-31 08:56] winwisely99 commented on #77
[code]

[2020-03-31 09:09] Kerwood commented on #15
My `KUBECONFIG` variable is set to `./kubeconfig` but I figured that when setting the `--kubeconfig` paramenter, one could override which kubeconfig ark would use.

[2020-03-31 13:22] alexellis commented on #77
What do you need from me?

[2020-03-31 13:23] alexellis commented on #15
You should never use ./, always use `pwd` to get the whole absolute path. Otherwise it won't work when you move out of the folder or another app does.

[2020-03-31 17:15] aditsachde commented on #76
I've actually been following inlets-operator since the day it was released! 😃 I just haven't had a need for a second public IP as of now. What I did with metalLB is simply apply the manifests, and then apply the following ConfigMap.

[code]

BGP is not actually needed, it will work happily at layer 2. All my VMs run on the `10.0.2.0/24` network, so I just gave metalLB a range of 20 unused IPs in t

[2020-04-02 07:46] developer-guy opened #78 "[Feature Request] Adding Consul & Vault support"
There is a great documentations for usage of Helm charts of these Hashicorp tools like Consul & Vault.

It would be great if we added Consul & Vault installation support to Arkade.

https://www.vaultproject.io/docs/platform/k8s/helm/configuration/
https://www.consul.io/docs/platform/k8s/helm.html

[2020-04-02 13:37] saiyam1814 opened #79 "[Feature Request] Adding Rancher App"
Rancher Application installation via arkade onto kubernetes cluster

[2020-04-02 13:50] aidun opened #82 "[Feature Request] Add Jenkins App"
@alexellis want to have Jenkins as app in Arkade

## Expected Behaviour

Jenkins should be installed to the cluster and should be able to run jobs. In addition it would be nice, if Jenkins could spawn containers as worker nodes.

## Possible Solution

* Jenkins should be install via the https://github.com/helm/charts/tree/master/stable/jenkins helm chart.
* Jenkins should run in its own namespace

[2020-04-02 13:54] aidun commented on #76
I can confirm this. I run metallb on my raspi cluster and it works very well.

[2020-04-03 11:44] alexellis commented on #74
Can you run `kubectl describe node` please?

[2020-04-03 11:44] alexellis commented on #74
Also, it seems like you have the KUBECONFIG set incorrectly due to this error:

[code]

Closing, but feel free to add more info.

[2020-04-03 11:44] #74 closed

[2020-04-03 13:36] Waterdrips commented on #64
/close

This was fixed by #83

[2020-04-03 13:36] #64 closed

[2020-04-07 21:29] #11 closed

[2020-04-08 10:09] alexellis commented on #82
The only acceptance criteria for me is the following:

That's it, and it's more or less a one-liner.

Beyond that I'd like to see the usual checks on arm and the persistence flag set to false by default.

If the chart has an LB option, feel free to bubble that up in a flag too, like we do with openfaas.

Do you think you'd have time to work on the app this week?

[2020-04-08 10:12] aidun commented on #82
Okay, no Problem, I can implement it in this way. I think I can do it today or tomorrow.

[2020-04-08 15:58] PierreRustOrange opened #88 "ark alias conflicts with Ark, the KDE archiving tool"
## Expected Behaviour
When  arkade is installed, my os basic tools should keep working... ;)

## Current Behaviour
When arkade is installed, it creates a symlink `/usr/local/bin/ark` that override the `ark` utility ( located in `/usr/bin/ark`) which is used to handle all archive file on KDE desktops (tar, bz, etc.). All gui-based operations on these files are then broken (from the file manager, et

[2020-04-08 16:50] alexellis commented on #88
Hi @PierreRustOrange would it be useful to you if we have an env-var to suppress the alias?

[code]

[2020-04-08 17:54] PierreRustOrange commented on #88
Thanks for your answer.

I'd rather have an env-var to create the alias than to suppress it,  it's actually very easy to fix the problem (only need to rm the symlink), the only difficult part is to identify it. It took me some time to understand why I could not open any tar.gz anymore...
Either way, as long as it is mentioned in the doc I'd say it's fine !

[2020-04-08 18:01] alexellis commented on #88
What if we checked for ark existing in PATH before creating it? Would that resolve this issue?

[2020-04-09 07:52] PierreRustOrange commented on #88
That's a great idea, that would completely resolve the issue and could probably be implemented by simply checking the return form `whereis ark` before creating the symlink.

[2020-04-09 09:51] alexellis commented on #88
I know you didn't come here necessary to write a PR, but would you be up for giving it a shot? we use get.sh in this repo.

[2020-04-09 10:38] PierreRustOrange commented on #88
You're right, I should have done that before.
The PR is done, my bash is probably a bit rusty, there might be a more efficient way to implement that check but it seems to do the trick.

[2020-04-09 12:50] aidun commented on #82
I think I have the PR ready, but some strange behavior while testing. I think it might be a problem of my internet connection. I think I can push it tested this evening.

[2020-04-13 08:23] mkol5222 opened #92 ""arkade install" fails on Win (Git Bash) due to helm download URL guess?"
Hello, I am using arkade on Win10 in Git Bash installed via "choco install git"

WHAT FAILS
arkade install fails because trying to get helm from
https://get.helm.sh/helm-v3.1.1-mingw64_nt-10.0-18362-amd64.tar.gz

REPLICATION
[code]

Am I using wrong distro of Git Bash or startegy to guess helm download URL is not complete? (uname -a abobe)

Thank you

[2020-04-13 08:37] mkol5222 commented on #92
manual fix was:
- download helm from
[code]

- extract and copy helm.exe
[code]

- testing some arkade install then worked for me
[code]

[2020-04-13 08:41] alexellis commented on #92
Hi "mkol5222"

Thanks for logging this issue. We should be able to resolve the auto-download of helm on Windows. I'll ping you when there's something to test.

Alex

[2020-04-13 10:10] #92 closed

[2020-04-13 10:12] alexellis commented on #92
PR #93 fixes this issue, you'll be able to test the new binary release when it's published via https://github.com/alexellis/arkade/releases/tag/0.2.6

To test simply `arkade upgrade`, then `rm -rf ~/.arkade` before running `arkade install` again with an app that uses helm3.

[2020-04-13 13:47] mkol5222 commented on #92
Many thanks for amazingly fast fix delivery. I was starting our new lab and it got latest arkade release that was able to fetch helm and all was working fine and smooth even on Win10 inside Git Bash.

[2020-04-13 15:36] alexellis commented on #92
Tell me about what you're using arkade for? We have a Slack community with a general and contributors channel inside OpenFaaS slack https://slack.openfaas.io

[2020-04-13 16:16] pableeee opened #94 "Error installing istio app"
Hi,
I was attempting to follow [Alex's istio blog post](https://blog.alexellis.io/a-bit-of-istio-before-tea-time/), but i'm having issues installing istio.

## Current Behaviour
[code]

## Steps to Reproduce (for bugs)

1. kind create cluster
2. arkade install istio --init=true

[arkade.log](https://github.com/alexellis/arkade/files/4470235/arkade.log)
## Context

## Your Environment

* What Kuber

[2020-04-13 16:32] alexellis commented on #94
Can you try it again?

[2020-04-13 16:44] pableeee commented on #94
I just did, but got the same results.
Should I change something before retrying?

[2020-04-13 17:29] alexellis commented on #94
I can also reproduce the issue with KinD and a Linux host.

I wondered if whoever changed the Istio settings in #26 switched us over to helm3 which the [docs state is unsupported](https://archive.istio.io/v1.4/docs/setup/install/helm/), but helm 2 also seems to give the same error.

[code]

@howardjohn any thoughts on why this would "suddenly" stop working? The version still appears to be pinned a

[2020-04-13 17:33] alexellis commented on #94
@pableeee I wonder if this is a timing / readiness issue?

I ran the command a second time and "it worked"?

[code]

[2020-04-13 17:37] howardjohn commented on #94
https://github.com/alexellis/arkade/blob/master/cmd/apps/istio_app.go#L121 is triggering some jobs. Maybe those do not complete before the next step. IN https://istio.io/docs/setup/install/helm/#installation-steps we add a `kubectl wait` step

[2020-04-13 17:41] alexellis commented on #94
From my testing, it appears to just be a timing issue. The CRDs come up but seem to take up to 60s to 2 minutes to appear.

[2020-04-13 17:41] alexellis commented on #94
See below:

[code]

[2020-04-13 17:44] alexellis commented on #94
See how @stefanprodan does this in Flagger -> https://github.com/weaveworks/flagger/blob/98ba38d436f75334487730374c699b183b1f204a/test/e2e-smi-istio.sh#L14

We have to do the same.

[2020-04-13 17:58] pableeee commented on #94
@alexellis It does looks like a timing issue, running the command for a second time gets the job done.

[2020-04-13 19:07] #82 closed

[2020-04-13 20:01] alexellis opened #96 "[Feature] Download common tools"
Download common tools

## Expected Behaviour

Download tools like kubectl, kubectx, k9, faas-cli and so forth.

## Current Behaviour

helm 2 / 3 and Linkerd are downloaded into ~/.arkade when certain apps are installed.

## Possible Solution

Take the approach from the faas-cli -> https://github.com/openfaas/faas-cli/blob/30b7cec9634c708679cf5b4d2884cf597b431401/commands/cloud.go#L155

## Steps to

[2020-04-15 17:51] tomtom215 opened #98 "Error installing Grafana"
## Expected Behaviour

Install Grafana

## Current Behaviour

Installation fails

## Possible Solution

Verifying the 'stable' repo for grafana

## Steps to Reproduce (for bugs)

1. install arkade
2. run 'arkade install grafana'

## Context

## Your Environment

* What Kubernetes distribution are you using?
[code]
[code]

* Operating System and version (e.g. Linux, Windows, MacOS):

[code]

* What

[2020-04-15 17:54] alexellis commented on #98
Sorry I am going to need more information than that to be able to help.

Can you paste the whole console output please?

[2020-04-15 17:54] alexellis commented on #98
cc @aidun @Amalkh5

[2020-04-15 18:11] aidun commented on #98
I tried to verify this behavior. With arkade@master and k3d@1.17.4 the install process works fine. @tomtom215 if you can provide more information, I can look a bit more specific.

[2020-04-15 18:25] Amalkh5 commented on #98
I did get the same error `Error: repo stable not found` with arkade@0.2.8 and k8s@1.18.0.
[code]

[2020-04-15 18:32] aidun commented on #98
😅 addHelmRepo is missing in the Code. I thought Helm has always a stable repo 🤔

[2020-04-15 19:14] alexellis commented on #98
Not with helm 3. Who authored this app? We just need the add statement, should be present in the nginx-ingress app or similar.

[2020-04-15 19:14] tomtom215 commented on #98
Apologies for the initial lack of details (dinner was ready). @Amalkh5  this is the same error I saw

2020/04/15 19:42:50 Client: x86_64, Linux
2020/04/15 19:42:50 User dir established as: /home/tom/.arkade/
Hang tight while we grab the latest from your chart repositories...
...Successfully got an update from the "jetstack" chart repository
...Successfully got an update from the "openfaas" chart r

[2020-04-15 19:17] aidun commented on #98
@alexellis I can fix it. Should be no problem.

[2020-04-15 21:46] gabrielsson commented on #76
I now run metalB on my raspi cluster as well, I uninstalled the servicelb that came with k3s to be able to share IP addresses for both UDP and TCP on the same LoadBalancer ip. Using pretty much the same configMap as above but obviously on a different IP range.

[2020-04-16 09:41] alexellis commented on #98
Thanks @aidun

[2020-04-16 12:08] aidun commented on #98
PR is ready, tested with k3d and removed stable repo before testing.

[2020-04-16 12:54] #98 closed

[2020-04-19 14:15] craigbox commented on #94
@howardjohn linked to where it's listed in the Helm docs; if there's anywhere else you'd like me to update, then happy to do so!

[2020-04-20 07:56] wingkwong commented on #12
Following @braybaut's steps , the installation was fine but it showed ``404 page not found`` when visiting ``http://localhost:8082/dashboard/``. Any idea?

Arkade version.
[code]

Steps to reproduce:
[code]

[2020-04-20 09:23] alexellis commented on #12
I think you port forwarded Traefik itself rather than the dashboard. @Waterdrips can probably assist here

[2020-04-20 09:55] Waterdrips commented on #12
It does appear not to be working. It should be matching the /dashboard/ route using the traefik ingressroute CRD, but it doesnt seem to pick that up.

Ill have a look and see if i can work it out

[2020-04-20 21:00] andrevtg opened #100 "openfaas-ingress without TLS (no cert-manager)"
When testing locally we could skip cert-manager and still use openfaas-ingress,

Currently openfaas-ingress breaks ir cert-manager CRDs aren't in place.

Perhaps a "--no-tls" option?

[2020-04-22 15:15] mzac opened #101 "[Feature request] Add 'remove' or 'uninstall' command"
## Expected Behaviour
Should be able to remove or uninstall an app without having to delete it manually

## Current Behaviour
To remove or uninstall an app you have to use kubectl commands

## Possible Solution
The remove or uninstall feature could be integrated into arkade

## Context
I installed an app and wanted to remove it

## Your Environment

* v1.17.4+k3s1

[code]

* Operating System and v

[2020-04-24 09:04] #49 closed

[2020-04-28 07:36] alexellis commented on #101
/add label: not/approved

[2020-04-30 10:12] Waterdrips opened #102 "inlets-operator read license from file / create k8s secret for license"
once support for the license being a secret is merged into the inlets-operator chart it would be good to support that here, so the license is not exposed in deployments etc.

## Expected Behaviour

allow a flag of --license-file (or similar) to create the k8s secret and pass it to the chart (once this issue is implemented: https://github.com/inlets/inlets-operator/issues/67 )

## Current Behaviour

[2020-05-01 00:04] ishanmkh opened #103 "[Feature Request] Adding Pixie"
👋 we recently launched [Pixie's](https://github.com/pixie-labs/pixie) beta with community users spanning both application developers deploying on K8s and SRE/DevOps managing workloads.

It'd be great if Pixie could be added to the supported list of apps! we're fans and our community would love it as well.

Pixie is k8s native. It can be installer by running `bash -c "$(curl -fsSL https://withpixie

[2020-05-01 15:25] alexellis commented on #103
Hi thanks for your suggestion.

I clicked through and read this but I still don't understand what the product does? Can you explain in plain language why I would use this and how much it costs?

[2020-05-01 17:55] aledbf opened #104 "[Feature] Update location of nginx-ingress chart"
## Context

Due to the deprecation of the stable chart repository, the nginx-ingress chart is being migrated to
https://github.com/kubernetes/ingress-nginx/tree/master/charts/ingress-nginx
The installation instructions already use this chart https://kubernetes.github.io/ingress-nginx/deploy/#using-helm

**Note:** the migration introduced breaking changes:
- the chart was renamed to `ingress-nginx`

[2020-05-02 02:02] ishanmkh commented on #103
Sure @alexelli! sorry about the confusing description

You can use Pixie to get performance monitoring data (and dashboards) for your services & workloads without code-level instrumentation.

It's intended to make troubleshooting production and ci/cd canary workloads faster and easier by giving automatic monitoring coverage.

Here's a sample of what you'd get out of the box:
- Service level latenc

[2020-05-04 02:09] kylos101 opened #106 "OpenFaas: MaxInFlight sent to STAN is 0 (even when max-inflight @ install is >= 1)"
## Expected Behaviour
MaxInFlight received by STAN should match what was specified during install with ark

## Current Behaviour
STAN is receiving a MaxInFlight of 0

## Possible Solution
[Change this string from max_flight to max-flight? I could be horribly wrong, I don't know GO.](https://github.com/alexellis/arkade/commit/496f8b4c9aa06512faa3f3841e02e810d1d9a455#diff-6939d1a84033db97f5e630a192f

[2020-05-04 09:51] alexellis commented on #106
I'll take a look today

[2020-05-04 11:12] kylos101 commented on #106
Okay, I recall it works when nats external enabled is false. I figure it
may only be a problem when external is true, or perhaps specific to my
environment.

FYI, I have authentication disabled in NATS, currently, because auth cannot
be set yet when installing STAN via the helm chart.

Thanks,

Kyle

On Mon, May 4, 2020, 5:52 AM Alex Ellis <notifications@github.com> wrote:

[2020-05-04 12:05] #106 closed

[2020-05-04 22:30] kylos101 commented on #106
Works like a champ, thank you, @alexellis !

[2020-05-07 05:59] blaisep opened #108 "[App Request] install/upgrade Datadog agent / daemonset"
## Expected Behaviour

[code]
## Current Behaviour

Currently I install the daemonset as a custom chart using Datadog's `stable/datadog` repo:
[code]
The UI is captured here:
https://asciinema.org/a/327151

I have also installed it as a daemonset, which apparently is the preferred approach.
https://docs.datadoghq.com/agent/kubernetes/?tab=daemonset

## Possible Solution

I believe that `arkade` co

[2020-05-10 01:44] nimamahmoudi opened #109 "Metrics-server doesn't work on a local cluster spun up using k3sup"
I installed the `metrics-server` on a `k3s` cluster created using `k3sup`, but the metrics-server doesn't seem to be able to collect metrics.

## Expected Behaviour
`kubectl top node` to show the metrics of the nodes in the cluster.

## Current Behaviour
[code]
I get errors like this in the logs of the successfully provisioned metrics server pod:
[code]

## Possible Solution
Probably something is

[2020-05-10 07:22] alexellis commented on #109
Hi there, thanks for your interest in arkade

1) k3s has metrics-server built in now, so there's no need for you to try to install it again. See the docs at k3s.io
2) the error you saw is normal, the metrics are not instant and take a few minutes to collect.

Since this isn't related to arkade I'm going to close. If you need technical support for Kubernetes, their Slack is a good place to start, a

[2020-05-10 07:22] #109 closed

[2020-05-11 18:50] gshiva commented on #74
@alexellis  -  can we add this as a hint in the error message. Spent an hour on this till I found this ticket.

[2020-05-11 19:52] alexellis commented on #74
@gshiva I am sorry but I don't know what you are referring to. Can you please open your own issue?

Did you have no valid KUBECONFIG? arkade installs apps to Kubernetes clusters, so you should obviously have a working Kubernetes cluster.

[2020-05-11 19:53] #104 closed

[2020-05-11 19:54] alexellis commented on #103
Let's keep the issue open for a week or two more to gauge interest from the arkade community.

I'm not sure if you're aware, but there is a generic installation command:

[code]

[2020-05-11 19:54] alexellis commented on #102
Sounds good to me

[2020-05-12 00:06] gshiva commented on #74
I did have valid kubeconfig and a working cluster. When I logged in, I forgot to set the KUBECONFIG and typed

`arkade install ....`

Got the error

`Node architecture: ""
Error: only Intel, i.e. PC architecture is supported for this app`

Since I had installed previously (and deleted) a cluster with raspberry pi, I thought something was wrong with arkade.

The suggestion is to append to the error

[2020-05-12 10:38] pierluigilenoci commented on #104
@alexellis why closed? the migration is done?

[2020-05-12 10:41] alexellis commented on #104
Look as the linked PRs, what am I missing?

[2020-05-12 12:59] pierluigilenoci commented on #104
I'm sorry, I got confused. It's all right. 😕

[2020-05-12 19:34] nimamahmoudi commented on #109
Oh, I probably deleted the metrics server that came along with k3s. Regarding the error, it doesn't show any metrics even after days have passed, so there is an error. But, I will get to the k3s implementation.

Thanks for the help.

[2020-05-13 05:30] ishanmkh commented on #103
sounds good @alexellis. it's a new project with initial community outreach planned in the coming few weeks so we can circle back after that.  thanks!

[2020-05-13 13:44] #103 closed

[2020-05-13 13:44] alexellis commented on #103
Thanks, please feel free to report back here, and do take a look at `arkade install chart --help`, you're welcome to use this in your docs.

[2020-05-13 13:51] alexellis commented on #109
I would expect an error if you deleted the built-in k3s controller.

[2020-05-13 13:51] alexellis commented on #109
/set title: k3s support issue

[2020-05-13 13:51] alexellis commented on #109
Try creating a new cluster, and feel free to use Slack for technical support requests like this.

[2020-05-13 13:51] alexellis commented on #109
/msg: slack

[2020-05-13 23:31] ishanmkh commented on #103
sure @aledbf will add it to our docs!

[2020-05-15 07:37] alexellis opened #110 "Make Ingress generators K8s 1.18 compatible"
In Kubernetes 1.18 the Ingress definitions have changed slightly.

In particular the @paurosello mentioned the change about `ingressClass` becoming part of the spec, instead of being an annotation.

If we can add both, perhaps that will help keep backwards compatibility for the time being?

https://kubernetes.io/docs/setup/release/notes/#extending-ingress-with-and-replacing-a-deprecated-annotation

[2020-05-15 09:28] eharrow opened #111 "[feature] Add pihole install"
Available from https://hub.helm.sh/charts/mojo2600/pihole

[2020-05-15 12:16] alexellis commented on #111
Is this third-party/community-quality or from the upstream project? The naming of mojo2600 makes me think it's the former?

[2020-05-15 16:18] eharrow commented on #111
Not sure. I have not used helm before and think this is one devs attempts at a helm chart.

[2020-05-17 15:41] Waterdrips commented on #110
We can't add both. A 1.18 cluster:
[code]

a 1.17 gives a validation error if the field exists but we can set `--validate-false` to get past that.

We might have to get the k8s version when installing ingress and decide if we are doing annotation or field.

Ill have a look at checking the version using the go client or something..

[2020-05-17 15:56] alexellis commented on #110
You can't set an annotation for backwards compatibility? Since when were annotations something the Kubernetes API rejected deployments over.

If there's no workaround, then like you say the code will need an additional flag or test to determine the API version.

@viveksyngh cc

[2020-05-17 16:21] alexellis commented on #110
Please don't add a dependency to the Kubernetes go client to arkade, the size of the binary will balloon out of control.

Rob Scott is saying that it *is supported* to have both the annotation and the spec, despite the hard error. Perhaps the best solution for arkade is to run `kubectl apply` with `--validate=false`.

https://twitter.com/robertjscott/status/1262053313786216449?s=20

For the Ingres

[2020-05-17 16:23] aledbf commented on #110
The `validate=false` will help to bypass the validation https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/networking/validation/validation.go#L216

[2020-05-17 16:30] alexellis commented on #110
https://twitter.com/robertjscott/status/1262053313786216449?s=20

<img width="603" alt="Screenshot 2020-05-17 at 17 28 45" src="https://user-images.githubusercontent.com/6358735/82154154-e470bf80-9863-11ea-925a-eed0999461cd.png">

It's unclear whether this is intended or unintended behaviour from the K8s team, it certainly doesn't look like both the spec attribute and the legacy annotation are com

[2020-05-17 16:30] alexellis commented on #110
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#ingressspec-v1beta1-networking-k8s-io

[2020-05-17 16:36] Waterdrips commented on #110
I was already using `--validate=false`

[code]

The error is ^ there

the yaml:

[code]

[2020-05-17 16:39] robscott commented on #110
To clarify here, the only reason both a class field and annotation should exist on an Ingress resource at the same time would be part of an upgrade from one approach to the other. Only one of these values will be read from at any given time. When both are set, the annotation is given precedence. Why set both on new resources if only one is going to be used?

[2020-05-17 16:40] alexellis commented on #110
There's more, [apparently the ingressClass has to be defined separately](https://github.com/openfaas-incubator/ingress-operator/issues/27#issuecomment-629824067), if it's a miss on a K8s 1.18 cluster, what happens then? @aledbf do you know?

[2020-05-17 16:46] alexellis commented on #110
Sorry to mix two issues here, but whilst you have eyes on @robscott

What would you recommend we do for both separate projects? I'd be interested in your opinion if you're open to giving it.

https://github.com/openfaas-incubator/ingress-operator/issues/27#issuecomment-629826740

[2020-05-20 16:15] alexellis opened #112 "[App] Add nats-connector to arkade"
## Expected Behaviour

Add an app for the openfaas nats-connector helm chart to arkade, once complete openfaas users will be able to subscribe to events from NATS simply by running `arkade install nats-connector`

https://github.com/openfaas/faas-netes/tree/master/chart/nats-connector

[2020-05-21 19:24] chriskinsman opened #113 "Support request for Traefik2"
## Expected Behaviour
Expect that all IngressRoute CRDs would be installed

## Current Behaviour
Not installed

## Possible Solution
Install and update ClusterRole to have access

## Steps to Reproduce (for bugs)
1. Base k3sup install
2.
3.
4.

## Context
Trying to setup IngressRouteTCP but have to install the CRDs and update the roles to get there

## Your Environment
Raspbian Buster Pi 3B+

* Wh

[2020-05-21 19:24] #113 closed

[2020-05-21 19:27] alexellis commented on #113
Here's everything from start to finish using arkade to install traefik2 and k3sup --no-extras to install k3s.

[code]

[2020-05-23 18:01] alexellis commented on #103
Hi @ishanmkh, you may be interested in our new [Sponsored Apps](https://github.com/alexellis/arkade#sponsored-apps), have a read and see if it's a good fit for you.

Alex

Btw are you working with @aledbf or did you mean to tag me in the last comment?

[2020-05-24 19:34] EnigmaCurry opened #114 "Support issue for Microk8s"
## Expected Behaviour

arkade should be able to connect to my cluster API running on port 16443

## Current Behaviour

My cluster API (microk8s) uses port 16443 not port 8080:
[code]

But arkade tries to connect to port 8080:

[code]

## Your Environment

* What Kubernetes distribution are you using?

microk8s v1.18.2 on Ubuntu 18.04 LTS

[code]
Client Version: version.Info{Major:"1", Minor:"18+",

[2020-05-25 18:23] ishanmkh commented on #103
@alexellis very interested to be a sponsored app. sent an email to figure out details. let's do it!

btw -added `aledbf` by mistake. was meaning to cc you. corrected.

[2020-05-27 13:58] alexellis opened #115 "[App] - Add Loki for log indexing/viewing and integration to OpenFaaS"
## Add an app for Loki

Loki can be used for log indexing/viewing, and there is a separate integration for OpenFaaS by @LucasRoesler

[Loki](https://grafana.com/oss/loki/) appears to have a helm chart now: https://github.com/grafana/loki/blob/master/docs/installation/helm.md

## Additional context

@LucasRoesler has a Loki log provider for which we can also create a separate arkade app `openfaas-l

[2020-05-27 14:03] mehyedes commented on #115
I would like to work on this issue if that's ok

[2020-05-27 14:03] alexellis commented on #115
Sounds good to me. I've just updated the issue with 3 steps, do you have any questions?

[2020-05-27 15:49] mehyedes commented on #115
Thanks, not for now. But will let you know if anything comes up.

[2020-05-27 20:04] njjry opened #116 "Enable the scale to zero on raspberry pi"
I would like to use the scale-to-zero on raspberry pi. But the instruction only uses arkade install to install openfass. So I wonder if there is a way to configure the --dry-run to false using arkade install or any other ways to install openfaas with --dry-run to false on raspberry pi?
I am using raspberry pi 3B+.

Thanks

[2020-05-28 10:48] alexellis commented on #116
Hi, thanks for using OpenFaaS and arkade.

This question would be better served via Slack.

Alex

[2020-05-28 10:48] #116 closed

[2020-05-28 10:49] alexellis commented on #116
For your reference, you can pass any helm configuration via `--set` so, look at the helm chart README file for the correct flag and then add `--set`, so `arkade install openfaas --set faasIdler.dryRun=false`

[2020-05-28 10:49] alexellis commented on #116
/msg: slack

[2020-05-28 20:10] njjry commented on #116
Thanks

[2020-06-02 17:19] kilgariff opened #117 "Support spaces in Windows user paths"
I tried using Arkade on a Windows system using git bash. My username has a space in it, so the directory `~/.arkade` expands to `C:\Users\Ross Work\.arkade`. Arkade does not support this.

## Expected Behaviour
Arkade should work seamlessly on Windows when the user path contains a space.

## Current Behaviour
When helm is invoked, the first part of the user path before the first space (`C:\Users\R

[2020-06-02 19:17] alexellis commented on #117
We should be using command for the full path and then the args for everything subsequent.

If you want to test and propose a fix in a PR, I'll take a look.

[2020-06-03 16:24] alexellis commented on #115
@mehyedes how are we doing with this app? We're looking to move forward with a blog post which would need this. https://trello.com/c/6cTnrTIG/127-add-loki-logs-blog-post

[2020-06-04 01:59] gloubix opened #118 "portainer"
Hi !

Thx to all the work done i managed to install a k3s node with rancher multipass on my mac to start playing with but i can't find a way to add persistance to portainer intalled via arkade.

At each reboot i have to recreate all : adm password settings etc ; anyway to add persistance ?

Thx

[2020-06-04 08:02] Waterdrips commented on #115
/assign: me

We discussed with @mehyedes and it sounds like you might be busy and unable to get to this soon.

Ill take this if you don't mind?

[2020-06-04 08:05] mehyedes commented on #115
Sure @Waterdrips . Thanks

[2020-06-08 09:34] alexellis commented on #115
We now have the `loki` app thanks for @Waterdrips in #119 - now to go and add openfaas-loki

[2020-06-15 10:27] alexellis opened #120 "[App] openfaas mqtt-connector"
We should have an app to install the mqtt-connector for openfaas which enables functions to be fired off in response to IoT events -> https://github.com/openfaas-incubator/mqtt-connector

It was recently merged into the faas-netes chart repo -> https://github.com/openfaas/faas-netes/pull/643

[2020-06-15 18:22] Waterdrips commented on #120
/assign: me

I can take a look ad adding this to arkade, Ill use the new style that was brought in as part of the Loki app and iterate improvements on that style if needed too.

[2020-06-16 09:30] alexellis commented on #118
Hi @gloubix - I assume that Portainer do not have this enabled in their chart.

@deviantony - do you have support for persistent volumes in the [Portainer helm chart yet](https://github.com/portainer/portainer-k8s/)?

Alex

[2020-06-16 09:32] alexellis commented on #118
@gloubix from looking at the chart that the guys have upstream, it would appear that this is not supported yet, feel free to log an issue with them [on their thread here](https://github.com/portainer/kubernetes-beta/issues/1)

I'll close this issue now and am happy to update the `portainer` app once the helm chart is updated.

[2020-06-16 09:32] #118 closed

[2020-06-16 09:32] alexellis commented on #118
/set title: Support request for Portainer

[2020-06-16 09:32] alexellis commented on #118
/add label: support

[2020-06-16 09:34] alexellis commented on #120
Thank you

[2020-06-16 09:36] alexellis opened #121 "[App] NFS provisioner"
The NFS provisioner for Kubernetes allows NFS to back PersistentVolumes and looks relatively simple to install:

[code]

I'm looking for someone to add an `nfs-provisioner` app.

Follow the example of the `loki` app which uses a newer style

[2020-06-16 09:36] alexellis commented on #121
/add label: good first issue,help wanted

[2020-06-16 09:42] alexellis commented on #114
Hi, we don't actually set or configure a port, helm should determine this from your KUBECONFIG.

Alex

[2020-06-16 09:42] alexellis commented on #114
/set title: Support issue for Microk8s

[2020-06-16 09:43] alexellis commented on #114
See also:

https://github.com/helm/helm/issues/7106

and

https://github.com/ubuntu/microk8s/issues/833

That should help you, and no change is required IMHO in arkade.

[2020-06-16 09:43] #114 closed

[2020-06-16 09:44] alexellis commented on #108
This may make a good sponsored app (see README) - or if there is unprecedented, genuine demand from the community, I may consider it as a contributed app.

[2020-06-16 09:44] #108 closed

[2020-06-16 09:45] alexellis commented on #96
Fixed in: #97

This initial version of `arkade get` works with binaries on release download URLs, folders that are zipped, or individual files which are tar/gz'd does not work yet and will require additional work.

[2020-06-16 09:45] #96 closed

[2020-06-16 09:47] alexellis opened #122 "[Tool] Download kubectx bash script"
`kubectx` is essential for switching between clusters.

We should add a tool definition to download the bash variant of kubectx from its GitHub releases page - https://github.com/ahmetb/kubectx/releases

There is a zipped binary version, but this is not supported due to the file being compressed. At a later date we can switch to that variant of the download, but for now the bash file should work w

[2020-06-16 09:47] alexellis commented on #122
/add label: good first issue,help wanted

[2020-06-16 09:48] alexellis commented on #122
See also: https://github.com/alexellis/arkade/blob/master/cmd/get.go and https://github.com/alexellis/arkade/blob/4efd6d7869abd557e28d95e15da26eaf0ca31f35/pkg/get/get.go#L150

[2020-06-16 10:03] alexellis opened #123 "[Tools] - arkade get should be able to cope with tgz/zip and multi-file archives"
Today arkade can download a single binary from a release page using a Go template to form the URL.

[code]

Helm, however ships as a compressed multi-file archive with the binary inside. We do download this automatically via `arkade install` but the behaviour should be adapted for `arkade get` so that we can add helm and similar CLIs i.e. `arkade get helm` downloads the helm binary.

kubectx now s

[2020-06-16 10:04] alexellis commented on #123
/add label: good first issue, help wanted

[2020-06-16 10:07] alexellis commented on #102
@Waterdrips 👋  what's the status of this one please?

[2020-06-16 10:10] alexellis commented on #112
For this PR I would suggest following the example of the `loki` app which was refactored by @Waterdrips recently to use some helpers and to deduplicate code.

[2020-06-16 10:11] alexellis commented on #112
/add label: good first issue, help wanted

[2020-06-16 10:13] alexellis commented on #123
There will be common code between `get.go` and `helm.go -> https://github.com/alexellis/arkade/blob/master/pkg/helm/helm.go#L23

Some common code can be extracted here for re-use, but the first implementation would be fine with some duplication making it easier to review.

[2020-06-16 11:31] kadern0 commented on #121
@alexellis, @Waterdrips I've been working for a bit on this, but don't understand something on this code:
https://github.com/alexellis/arkade/blob/master/pkg/apps/loki.go

Shouldn't it be application agnostic (function name and file name)? Do I create one for the nfs-provisioner with almost the same code as the loki one?

[2020-06-16 11:35] Waterdrips commented on #121
Yeh it can be changed to a generic helm app in pkg/apps.

I was looking at that earlier and thought that. I'm happy for that to be renamed and take a generic app struct as input.

I was working on a larger reactor for more apps and made that change in my branch.

The only thing to mention is that lots of apps need pre helm and post helm commands run, so a generic helm one would need wrapping in an

[2020-06-16 13:19] EnigmaCurry commented on #114
Thank you, I can confirm this fixed it for me (it was non-obvious to me since kubectl was already working):

[code]

[2020-06-16 13:22] viveksyngh commented on #112
Derek assign: me

[2020-06-17 14:13] #112 closed

[2020-06-17 15:07] aidun opened #128 "Register functions for commands"
Instead of adding each command to cmd/info.go and cmd/install.go there should be an easy way to avoid merge conflicts.

## Expected Behaviour

I would be nice if you can call cmd.Register(command) in the init function of your cmd/apps/NewApp.go file.

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* What Kubernetes distri

[2020-06-18 07:46] #122 closed

[2020-06-19 10:31] aidun commented on #21
@alexellis I was working on this issue before as you can see. I saw also the changes made for the Loki app, they are targeting in the same direction. The details from #129 are additions to it.

[2020-06-19 16:12] goffinf opened #131 "arkade install returns empty node architecture"
Trying out arkade for the first time, following nuno's WSL2+k3d blog post (see: https://wsl.dev/wsl2-k3d-arkade/)

The arkade install *does* work successfully on a WSL2 that has NOT been configured for SystemD, but NOT for one that has. So, whilst this may or may not be an arkade issue per se, I would like to understand why, especially given that if I simulate the GetNodeArchitecture (see below) m

[2020-06-19 16:20] alexellis commented on #131
You'll usually see an empty architecture for the node if you are mistakenly running as root or have a bad KUBECONFIG setting.

[2020-06-19 16:28] alexellis commented on #131
Are you running as root? Have you tried setting a KUBECONFIG env var?

[2020-06-19 16:33] goffinf commented on #131
Ah mystery solved ... I ran a different arkade install (cert-manager) and noted this in the output:
[code]

Sure enough, checked kubectl permissions and execute was only enabled for root.  A quick chmod +x, then tried the portainer install again ...
[code]

So all good now.  Sorry for the noise. Happy to close

Regards

Fraser

[2020-06-19 16:33] #131 closed

[2020-06-19 16:34] alexellis commented on #131
/lock resolved

[2020-06-19 16:34] alexellis commented on #131
Thanks for using arkade

[2020-06-19 18:22] LucasRoesler commented on #115
@Waterdrips I finally published the helm chart for openfaas-loki via a github page, this will work now

[code]

[2020-06-19 19:41] alexellis opened #132 "Bug with Loki app prevents installation"
Bug with Loki app prevents installation

## Expected Behaviour

To install loki

## Current Behaviour

[code]

The wrong repo name is added:

[code]

## Possible Solution

## Steps to Reproduce (for bugs)

Run the following:

[code]

## Context

The app is effectively broken.

[2020-06-19 19:54] #123 closed

[2020-06-19 20:07] #121 closed

[2020-06-19 20:27] #132 closed

[2020-06-19 20:28] #43 closed

[2020-06-19 21:56] Waterdrips commented on #115
Thanks @LucasRoesler - PR opened to include this in arkade :tada:

[2020-06-19 22:01] goffinf commented on #101
Hmm why not-approved ?

This seems like a reasonable feature request and something I also wanted to do shortly after using arkade to install and app as a test ?

[2020-06-22 18:52] aidun commented on #21
@Waterdrips I added a solution for pre and post tasks to draft pr, to show how it could work.

[2020-06-23 06:35] pyramation commented on #101
I just ran into this when debugging an install. Wanted to uninstall and then install again since pods weren't running, and wanted to debug the state just before install occured.

[2020-06-23 10:14] alexellis commented on #101
You can install apps twice, the second time should overwrite the first, and / or upgrade it. For OpenFaaS, that's certainly the case. For others removal and uninstallation is tricky and varies per app.

This is not in scope for the time being and has very little demand from the community, but a high cost to implement and maintain for each app.

[2020-06-23 13:03] #115 closed

[2020-06-23 13:08] goffinf commented on #101
I see. That somewhat puts me off using arkade TBH. I believe that any installer of any kind should always provide an uninstall capability, and without it ... well its like doing unit testing only for the happy path. The use cases are obvious here.  Build it and they will come ?

[2020-06-23 13:13] alexellis commented on #101
@goffinf entirely up to you sir, whether you are put off or not unfortunately doesn't change the effort involved in maintaining this feature for every app.

Which particular apps are you wanting to remove? Most are installed with helm3 and you can simply run `~/.arkade/bin/helm3/helm ls` to see which apps you have and then run `helm remove` to uninstall. Not every app is installed with helm, but w

[2020-06-27 04:09] trevormerritt opened #140 "Amusing Typographical Error."
There is an amusing typographical error in the documentatoin.

## Expected Behaviour
Documentation has an error.

## Current Behaviour
Documentation has an error.

## Possible Solution
Corrects typographical error.

## Steps to Reproduce (for bugs)
Visit github.com/alexellis/arkade and view the README.md.  Locate the error

## Context
I was reading the documentation to understand the project.

##

[2020-06-27 04:09] trevormerritt commented on #140
See 141

[2020-06-27 04:09] #140 closed

[2020-06-28 17:50] gshiva opened #142 "[App Request] please add grafana"
Prometheus + Grafana has become pretty much standard now

https://github.com/helm/charts/tree/master/stable/grafana

[2020-06-28 17:55] alexellis commented on #142
Hi, thanks for your suggestion. Did you know that we have Grafana already? I would always recommend looking at what is already supported before asking for an app.

[2020-06-28 18:03] gshiva commented on #142
Did go through the list before adding... and reviewed the prometheus ticket. Maybe an update to https://github.com/alexellis/arkade/README.md ?

[2020-06-28 18:03] #142 closed

[2020-07-03 08:59] goffinf commented on #101
Sorry Alex, this has been niggling me. I get the compromise to be struck between the amount of effort required to implement an additional feature vs. the benefit to the broader user base (as opposed to just the person that raised it). I am aware that I can fill this particular gap another way, but it somewhat diminishes the value of arkade if I need to switch out to do something that it feels like

[2020-07-14 08:45] alexellis opened #143 "[Bug] Redis app won't install - namespace missing"
I was bragging about how great the arkade community was on a Zoom call and wanted to show off how easy it was to install Redis, then this happened 🙈

[code]

The namespace needs to be created by the app - see how we do it for openfaas or the others?

I don't mind if you create the namespace and swallow the error if it already exists, or if you want to do an apply vs create to suppress any errors.

[2020-07-14 08:48] Waterdrips commented on #143
I wonder if this "auto create" should live behind a --create-namespace flag?.

Helm moved to erroring instead of creating (helm2 created, helm3 errored) to match K8s ecosystem.

We could add a check for the namespace, if it doesnt exist and the flag isnt set, tell people that they need to add the flag or create the namespace?

Im happy to do either (auto create, or prompt/flag?) - might be best to

[2020-07-14 13:06] babvin opened #144 "nfs-client-provisioner install failed"
## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1. Installed nfs-client-provisioner using the command -  arkade install nfs-client-provisioner --nfs-server 192.168.15.17 --nfs-path /mnt/transcend
2.
3.
4.

## Context

Trying to install nfs-client-provisioner to enable NFS storage on Raspberry Pi 4 Kubernetes cluster

## Your Environment

* What

[2020-07-14 13:21] alexellis commented on #144
Hi, I'm guessing that this is only supported for ARMHF (Raspbian / RaspiOS) and for x86_64 (regular PCs) and that there is no support for arm64 in our arkade app.

Try switching to a 32-bit operating system.

In the meantime @aidun @kadern0 do you both mind taking a look for an arm64 image, if there is one?

Alex

[2020-07-14 13:24] babvin commented on #144
Hi Alex, Thanks for the quick response. I'll wait for the arm64 image. BTW arkade is awesome!

Cheers,
Vinay

[2020-07-14 13:26] alexellis commented on #144
The image does actually work on 64-bit RaspiOS - so you may want to move to that?

I'm guessing that the arm image has a 32-bit binary that happens to not work with Ubuntu and that RaspiOS is in some kind of compatibility mode.

[code]

[2020-07-14 13:28] alexellis commented on #144
Yes, can confirm as per below:

[code]

[2020-07-14 13:31] alexellis commented on #144
There is a bug in the code that is using the client's OS to determine which image to install from. I can fix this for you.

[2020-07-14 13:33] babvin commented on #144
That would be of great help! Thank you sir

On Tue, 14 Jul 2020 at 7:01 PM, Alex Ellis <notifications@github.com> wrote:

[2020-07-14 13:40] #144 closed

[2020-07-14 13:42] alexellis commented on #144
PR raised and merged. You will find a new version you can take in a few minutes at: https://github.com/alexellis/arkade/releases/tag/0.4.1

If you found value in arkade and a fast response time, please feel free to join my Insiders Updates program - you'll get to hear more about the arkade roadmap and features along with Kubernetes tutorials. https://github.com/sponsors/alexellis/

[2020-07-15 09:27] kadern0 commented on #143
Did the same as how grafana app does it.

[2020-07-15 09:46] #143 closed

[2020-07-17 14:06] alexellis opened #149 "Offer version flag for most popular apps"
In most instances we pin the version of charts or Kubernetes YAML files, but where possible, and for the most popular apps, we should allow the user to override the version

## Expected Behaviour

With cert-manager, a `--version` or `--chart-version` flag would be beneficial to users who want a newer or older version of arkade, or who are using arkade in a deployment / IaaC pipeline.

## Current B

[2020-07-17 19:03] aidun commented on #144
Sorry for the late reply. Is this task still open @alexellis ?

[2020-07-17 19:08] aidun commented on #21
@Waterdrips @alexellis should I work on it more in my sparetime or is it a task with low priority?

[2020-07-17 19:08] #128 closed

[2020-07-17 19:13] aidun commented on #149
I think this idea has some challenges. The installation process and the options defined hard coded in arkade are maybe specific to the hard coded version.

I love arkade for the simple idea of "we know what's good for you". We choose a version, maintain the defaults and everything works. More options means more possibilities and leads to more issues we can't care about.

[2020-07-17 21:53] alexellis commented on #149
Thank you for your input. Version overrides may not be guaranteed to work with every variation - i.e. the note on cert-manager. This is going to be required however to give a stable environment.

[2020-07-20 08:49] Waterdrips commented on #21
I like the implementation - it would be potentially more valuable to start porting some of the apps over to the existing new style.

Probably pick some of the simpler apps (without pre and post steps).

[2020-07-20 08:54] aidun commented on #21
I saw no specific issue for that. If it is okay, I will raise issues to migrate some apps. I can do some of the PRs to, but not all.

Can we label the issues as good first issue?

[2020-07-20 09:10] Waterdrips commented on #21
sure - if you mention this issue in the ones you open I can go and add the label.

[2020-07-21 08:09] alexellis opened #152 "Add "k3sup" to "get" command"
Add "k3sup" to "get" command, so that users can run:

[code]

The faas-cli command configuration should be very similar, if not identical for making this patch.

[2020-07-21 08:11] viveksyngh commented on #152
Derek assign: me

[2020-07-21 09:01] alexellis commented on #152
Thank you :)

[2020-07-24 18:49] #152 closed

[2020-07-24 20:53] rberrelleza opened #157 "How to fail if tool is not supported in os/arch?"
What's the recommendation on handling binaries that are not available on the users OS or arch? E.g. I'm looking into adding [kubie](https://github.com/sbstp/kubie/releases), but they only have binaries for linux and macos on amd64.

Is there a way to fail `arkade get` with a friendly message?

[2020-07-25 08:04] alexellis commented on #157
Hi @rberrelleza - not as far as I know, what happens currently - 404?

We could give an error like, Server returned a not found error, APP may not be available for your system.

[2020-07-25 14:23] WLun001 opened #158 "add shell completion"
Feature request to have additional command to generate shell completion.

[code]

I can take this task if that's ok

[2020-07-27 13:36] meyskens opened #160 "Registry ingress shoud use namespaced Issuer"
## Expected Behaviour
The `docker-registry-ingress` should only create resources like the cert-manager Issuer in the namespace it is being installed into.

## Current Behaviour
The `docker-registry-ingress` creates a cluster wide issuer called `letsencrypt-prod-registry` potentially exposing a security risk by allowing all name spaces to use it or cause a naming collision to break another app.

##

[2020-07-27 13:52] Waterdrips commented on #160
This makes sense. Does the openfaas-ingress also create a cluster issuer? If so that could be updated too?

[2020-07-27 14:09] alexellis commented on #160
For the openfaas app, having the option to go to ClusterIssuer may be better for backwards compatibility, for the other apps I wouldn't offer it.

[2020-07-27 15:31] Waterdrips opened #162 "[ Proposal ] Remove duplication when adding a new app command"
To add a new app installer you currently need to register it's cobra command in `install.go` and add a case statement in `info.go`

I have notices people missing the `info.go` step, which means we dont get the `arkade info <app>` output.

It could also be useful to be able to generate a list of the apps (theres a mention of this on #159 for shell completion)

## Expected Behaviour

register a new

[2020-07-27 15:44] Waterdrips commented on #157
If we know which arche/os combos are supported can we create a map/list for a tool and verify the client conforms before trying a get?

could be a
[code]
Hang that off the `Tool` and add a `func (t *Tool) IsSupported(os, arch string) bool`
then have a func that takes that map, given `os` and `arch` and sees if its there?

[2020-07-27 17:23] rberrelleza commented on #157
Today, depending on the tool, you might get a 404 or a template-related error (for cases where a variable might not generated or something like that).

I like @Waterdrips approach here. I think we could add that as an optional field, so that we can give the user a more specific error message (e.g. "kubie is not available on Windows") rather than a more cryptic, or implementation specific error, li

[2020-07-27 17:37] alexellis commented on #157
I think that handling the HTTP code would be a simple approach. The templates just need to go to an invalid URL when there's no package available

[2020-07-27 17:38] alexellis commented on #157
There shouldn't be errors from the template. Can you show some examples?

[2020-07-30 12:20] alexellis opened #163 "[App] GitLab"
## Expected Behaviour

Offer `gitlab` as an app using its helm chart:

* https://docs.gitlab.com/charts/
* https://docs.gitlab.com/charts/installation/

## Context

From the docs:

Suggested on Twitter -> https://twitter.com/alexellisuk/status/1288518379607937024

[2020-07-30 12:41] Johannestegner commented on #163
Hi there!

Started writing on this in a fork (https://github.com/Johannestegner/arkade) (branch `feature/gitlab-app` which is not yet pushed).
This will be my first contribution to this repository and GitLab is quite a huge application (with many services), so I'm thinking to open up the following optional flags:

[code]

I feel that the default values of persistent storage and other things like t

[2020-07-30 13:05] Johannestegner commented on #163
Correction to this:

[code]

[2020-07-30 22:40] rberrelleza commented on #157
None of the ones in arkade. This came to me while I was working on adding kubie. It doesn't have a windows or arm release, and didn't know what best practice to follow.

[2020-08-02 18:39] OfTheDelmer opened #165 "add note for zsh"
When trying to install with zsh it seems like the password prompt flashes for 2 secs and fails.

## Expected Behaviour

I'm not sure what the exact issue is, but with `zsh` the following seems to work:

[code]

## Current Behaviour

Running the current install I see the password prompt for a second and then it disappears.

[code]

## Possible Solution

[code]

## Steps to Reproduce (for bugs)

1.

[2020-08-06 16:45] alexellis opened #168 "Remove custom helm download code"
## Expected Behaviour

There is now generic code to download helm, so we can get rid of the duplicated code for downloading helm here:

https://github.com/alexellis/arkade/blob/master/pkg/helm/helm.go#L24

We have a "tool" for helm3 and `arkade get`:

https://github.com/alexellis/arkade/blob/master/pkg/get/tools.go#L24

The linkerd2 app provides an example of how to download helm:

https://github.

[2020-08-06 20:51] nunix opened #169 "[Git Bash] Arkade get OSM path errors"
## Expected Behaviour

On Windows Git Bash, when running `ark get osm`, the last two commands should be able to run on Git Bash with errors.
The commands should be adapted as follow:

[code]

OR

[code]

## Current Behaviour

The current commands displayed at the end of `ark get osm` will generate the follow errors:
`chmod +x C:\Users\corsair\AppData\Local\Temp/osm.exe`
![image](https://user-image

[2020-08-06 20:52] alexellis commented on #169
Thank you for the issue. arkade install Pam/linkerd works as expected though?

[2020-08-06 20:57] nunix commented on #169
no problem, and I will test the other 2 you're mentioning.
But before that, I do confirm that `ark install osm` works fine:
![image](https://user-images.githubusercontent.com/905874/89581978-280e1080-d838-11ea-8e50-bad25bdbcb80.png)
![image](https://user-images.githubusercontent.com/905874/89581984-2a706a80-d838-11ea-86cf-bdea4018ebfa.png)

[2020-08-06 21:04] nunix commented on #169
`ark install linkerd` ends in error indeed:
![image](https://user-images.githubusercontent.com/905874/89582555-1bd68300-d839-11ea-8e61-e8cc7273e999.png)

[2020-08-07 08:02] alexellis commented on #169
Thank you for the detailed report Nuno.

So for Git Bash we primarily need to work on `arkade get`

For Git Bash users only:

* Suggest copying to /usr/bin/ instead of /usr/local/bin/
* Remove suggestion of sudo

[2020-08-09 06:16] itsksaurabh opened #171 "Optimise func MakeInfo() inside cmd/info"
currently, The switch statement inside `func MakeInfo()` repeats the same lines of code multiple times which can be seen [here](https://github.com/alexellis/arkade/blob/master/cmd/info.go#L40).

So, to make the func concise, clean, and more readable, It is better to optimize the code.

[2020-08-09 18:30] kylos101 opened #173 "ark get faas-cli yields 404"
When I try to get faas-cli, I get a 404 error.

## Expected Behaviour
A 200 response, with faas-cli having been successfully gotten.

## Current Behaviour
[code]

## Steps to Reproduce (for bugs)
1. using ark 0.5.1
2. ark get faas-cli

## Context
I have to get faas-cli "the old way". ;)

## Your Environment

* What Kubernetes distribution are you using?

[code]

* Operating System and version (e.g

[2020-08-09 18:41] kylos101 opened #174 "Idea: add doctl tool"
Cloud providers often have CLI tools. I currently use Digital Ocean. Installing doctl (the Digital Ocean tool) with ark would be a nice alternative to:

[code]

## Expected Behaviour
`ark get` would include support for `doctl`.

## Current Behaviour
Ark does not currently include Amazon (aws), Azure (az), or Digital Ocean (doctl) CLI tools. Some of then are tied to an SDK or seem big. doctl seems

[2020-08-09 19:32] alexellis commented on #174
Thank you for the suggestion. doctl is also useful for managing Kubernetes clusters on DOKS, so I'd be up for accepting a PR.

Would you like to work on this, or should we find someone else on Slack to take it?

[2020-08-09 19:34] alexellis commented on #173
Oh dear, thank you for logging this. I'll take a look, do I need WSL to repro it (I see the word "Microsoft" in there)? Cc @nunix

[2020-08-09 19:37] alexellis commented on #173
Can't reproduce this yet, I've tried it on MacOS:

[code]

[2020-08-09 19:38] alexellis commented on #173
Fails on standard Ubuntu x86 Linux:

[code]

[2020-08-09 19:43] kylos101 commented on #174
Hi Alex, I'd be happy to work on it. I've never worked in Go though, so
it's going to take me a little bit to ramp up. Is that okay?

On Sun, Aug 9, 2020, 3:32 PM Alex Ellis <notifications@github.com> wrote:

[2020-08-09 19:44] nunix commented on #173
Hi,

I do confirm it fails and the reason is that it fails to get the binary at the end (@alexellis in your output it's the same)
![image](https://user-images.githubusercontent.com/905874/89740422-d14b4580-da88-11ea-8c3c-9b0a83ff502e.png)

While in your output of MacOS you have `faas-cli-darwin` at the end.

So "not" a WSL issue (my guess).

[2020-08-09 19:48] Waterdrips commented on #173
/assign: me

I can fix this

[2020-08-09 19:53] Waterdrips commented on #174
@kylos101 I'm happy to provide help in testing/questions for this if that helps. Just let me know :)

[2020-08-09 19:54] kylos101 commented on #174
That'd be perfect, thank you, @Waterdrips !

[2020-08-09 19:58] alexellis commented on #173
Fixed and released: https://github.com/alexellis/arkade/releases/tag/0.6.1

Thanks @Waterdrips

[2020-08-09 19:58] #173 closed

[2020-08-09 20:00] alexellis commented on #174
Start by adding your definition here:

https://github.com/alexellis/arkade/blob/master/pkg/get/tools.go

And by adding a test there:

https://github.com/alexellis/arkade/blob/master/pkg/get/get_test.go

Take special care around the extensions and names for different platforms and OSes - https://github.com/digitalocean/doctl/releases

We have Go templates to generate the proper name, and you should

[2020-08-09 20:02] #171 closed

[2020-08-09 20:07] nunix commented on #173
working on WSL
![image](https://user-images.githubusercontent.com/905874/89740845-bf6ba180-da8c-11ea-9875-5e1b816be0b1.png)

great and fast work 👍

[2020-08-09 20:15] alexellis commented on #173
Thank you Corsair

[2020-08-09 21:33] kylos101 commented on #173
Thanks a lot, gang!

[2020-08-09 22:15] Waterdrips commented on #160
/assign: me

[2020-08-10 08:05] kadern0 commented on #169
@alexellis I'm trying to figure out if the user is running Git Bash. So far I can think of:
- Checking if the OS is Windows
-

[2020-08-10 09:01] alexellis commented on #169
There's code already that detects the client OS and architecture - you should see it in the codebase, search for "mingw", we can use that. (And yes this applies only to Git Bash on Windows)

[2020-08-10 12:03] nunix commented on #169
for Windows, you might want to check the kernel as it's different for Git Bash and WSL2:

- Git bash
![image](https://user-images.githubusercontent.com/905874/89774858-eebef480-db06-11ea-9c15-775133e0f722.png)

- WSL2
![image](https://user-images.githubusercontent.com/905874/89775288-cf749700-db07-11ea-9658-a4712201c6aa.png)

For WSL1, I'm not currently running any distro but the kernel would be 4

[2020-08-10 12:23] alexellis commented on #169
Thanks for the additional input. We already have code to determine Git Bash (please see my previous comment)

https://github.com/alexellis/arkade/issues/169#issuecomment-671240988

[2020-08-10 13:45] nunix commented on #169
haha, sorry for redundency 😅
then I'll wait for testing it once a first pre-release it out 👍

[2020-08-15 16:15] kylos101 commented on #174
Hi @Waterdrips I think #179 is ready for you to take a peek?

A couple things (you'll see these as Conversations on the Files in the PR):
1. I'm a unsure if anything else is needed for ARM and wanted to get your feedback. If we do nothing else, if someone tries from a device with an ARM processor, it'll yield a 404. I'm pretty sure that's okay because it doesn't look like DO provides support for A

[2020-08-16 09:42] alexellis opened #180 "[CLI tool] Add kubebuilder"
## Description

Add [kubebuilder](https://book.kubebuilder.io/quick-start.html#create-a-project) - a binary for building Kubernetes controllers.

[2020-08-17 08:27] alexellis commented on #157
I think that just allowing the code to hit a 404 should be OK.

[2020-08-18 05:12] viveksyngh commented on #180
I will be working on this.

[2020-08-18 07:47] Amalkh5 commented on #180
@viveksyngh I already finished this issue yesterday, can you please review my PR?

[2020-08-18 10:47] #160 closed

[2020-08-18 15:56] alexellis opened #183 "Add kustomize as a CLI"
## Add kustomize as a CLI

This tool is essential for use with Kubebuilder, as per: #180

Unfortunately, the release versions are weird, they are as per: `kustomize/v3.8.1` vs `v3.8.1`, which means we can't find the latest image and just use that.

I've not seen this pattern in any other projects, so this will be an exception and the version will have to be hard-coded.

https://github.com/kubernet

[2020-08-19 01:29] digitalsanctum opened #184 "Attempt to install openfaas results in "Error: rendered manifests contain a resource that already exists...""
## Expected Behaviour

Install works without issue.

## Current Behaviour

Here's the full arkade command and resulting error:
[code]

## Possible Solution

## Steps to Reproduce (for bugs)

See above

## Context

## Your Environment

* What Kubernetes distribution are you using?

[code]

* Operating System and version (e.g. Linux, Windows, MacOS):

[code]

* What arkade version is this?
[code]

[2020-08-19 08:07] alexellis commented on #180
I've merged it, thank you @Amalkh5

[2020-08-19 08:07] alexellis commented on #180
/close: fixed

[2020-08-19 08:07] #180 closed

[2020-08-19 08:10] #183 closed

[2020-08-19 22:06] kylos101 commented on #174
Added in #186. Thank you for the help @Waterdrips  and @alexellis!

[2020-08-19 22:06] #174 closed

[2020-08-20 17:19] matonb opened #188 "arkade install portainer fails on arm64"
## Expected Behaviour
Portainer container gets installed.

## Current Behaviour
Fails with message:
[code]
## Possible Solution
Update `portainer_app.go` to allow arm64 architecture

## Steps to Reproduce (for bugs)
[code]

## Context
Trying to create k3s cluster on Raspberry PI 4s with Portainer
I have portainer running (docker run portainer/portainer, args omitted...) on another RPi 4 with Raspb

[2020-08-20 18:39] alexellis commented on #188
Hi there, the error you are seeing was added by us on purpose to prevent incorrect installation. They may have changed this since we built the app? Can you link to where they started releasing a 64-bit arm image?

[2020-08-20 21:03] deviantony commented on #188
Heya, the portainer-beta for k8s was only built for Linux amd arm. The upcoming version 2.0 (should be released by the end of the month) will have k8s support and multi-platform support as well.

[2020-08-20 21:24] alexellis commented on #188
/close: resolved

[2020-08-20 21:24] #188 closed

[2020-08-20 21:24] alexellis commented on #188
Thanks for commenting @deviantony

[2020-08-20 21:27] alexellis commented on #188
So @matonb it seems that arkade is technically correct, but if you like, you can view the code and apply Portainer to your RPi using the approach we take in the app. It may work in some circumstances where the RPi's 64-bit OS can run a 32-bit binary (that's probably what you saw) - that's not a generic rule for arm chips however.

https://github.com/alexellis/arkade/blob/master/cmd/apps/portainer_

[2020-08-21 05:32] rberrelleza opened #189 "Add a progress bar to the download message"
It would be useful to have a progress bar when arkade is downloading a binary.

## Expected Behaviour

When a binary is being downloaded, arkade could show the speed, size and percentage of completion.

## Current Behaviour

Today, nothing is shown. For large binaries, it's hard to tell if the download is working on ot.
## Possible Solution

At okteto, we've had success using https://github.com/ch

[2020-08-21 05:48] rberrelleza opened #190 "Unable to unzip Lens for new app"
I was trying to add Lens to arkade. When trying to download it on a mac, arkade failed to unzip the file.

## Expected Behaviour

Lens would be downloaded, extracted, and the binary placed in the arkade bin folder
## Current Behaviour

`arkade get lens` fails with the following error:

[code]

This is generated on the call to unzip.Unzip, line 20.

Looking at the code, there aren't any other appli

[2020-08-21 07:44] alexellis commented on #190
/set title: Unable to unzip Lens for new app

[2020-08-21 07:44] alexellis commented on #190
@tuananh @Amalkh5 do you have any suggestions? Could this be specific to the format of zip that lens is using?

[2020-08-21 08:39] Amalkh5 commented on #190
@alexellis i think this is specific to format the lens is using because they are using dmg.
And i would suggest to update zip code to support that format.

[2020-08-21 08:42] alexellis commented on #190
DMG zip file?

[2020-08-23 19:40] Amalkh5 commented on #190
@alexellis @rberrelleza
I tried to unzip the file through the command line and i got the following error:
[code]

[2020-08-23 23:01] rberrelleza commented on #190
Interesting @Amalkh5 ! I unzipped it by double clicking on it and it work fine. Wonder was different between that and using `unzip`

[2020-08-24 10:49] alexellis commented on #168
@Amalkh5 were you working on this?

[2020-08-24 10:50] alexellis commented on #165
@OfTheDelmer thanks for the report. Did the change I made in the commit above help at all?

[2020-08-24 10:51] alexellis commented on #157
It seems that we get a "404 not found" message, I'm OK with that. We could perhaps write something like "arkade didn't find a compatible binary for your system"

Adding --os --arch flags to `arkade get` would be helpful for testing though, where we can inject/override the values.

[2020-08-24 10:55] alexellis commented on #101
@goffinf would you be open to answering my question above?

https://github.com/alexellis/arkade/issues/101#issuecomment-648137586

Which apps did you want to remove?

Did you know that they can all be managed with the version of helm that arkade downloads? `helm ls` / `helm remove` is pretty much all you need for most of them.

[2020-08-24 14:18] #101 closed

[2020-08-24 16:46] Amalkh5 commented on #168
@alexellis how can I replace the current code logic in downloading helm and helm3  while the  "tool" only provides helm3?
because of all logic in helm.go https://github.com/alexellis/arkade/blob/master/pkg/helm/helm.go#L24 decoded around the fact that there are helm and helm3

[2020-08-24 17:21] alexellis commented on #168
Good point Amal. We can add helm2 as a tool or depreciate it. I would vote for deprecation of helm2. @Waterdrips wdyt?

[2020-08-24 17:27] Waterdrips commented on #168
Depricate is usually my preference 🙂🤞

[2020-08-24 17:36] alexellis commented on #168
Let's do it then? First PR will remove helm 2 completely. Second PR should remove the duplication with helm 3.

You guys can split the work, or I'm happy for Amal to run with it.

[2020-08-24 18:32] Amalkh5 commented on #168
@Waterdrips happy to do both, what do you think?

[2020-08-24 18:57] Waterdrips commented on #168
Go for it. Let me know if you need anything from me

[2020-08-25 12:19] matonb commented on #188
@alexellis

In answer to your question, I'm not sure when they started to release them, but there are offical arm64 porintainer images on dockerhub

[2020-08-25 13:34] Amalkh5 commented on #168
@Waterdrips as I working on the code I noticed that char_app,cronconnector_app,kafkaconnector_app, and postgres_app are installed using helm2 only, is that right? and if so I think we need first to make them support helm3

[2020-08-25 14:10] alexellis commented on #168
They will all work with helm 3, don't worry about it. Alex

[2020-08-25 14:26] Amalkh5 commented on #168
@alexellis because I got the following error in [TemplateChart](https://github.com/alexellis/arkade/blob/master/pkg/helm/helm.go#L277) function :-
[code]
then i check with helm3 template to find out that they changed release name parameter from `--name` to `release-name`
after i update it i got the following error:-
[code]

[2020-08-25 15:11] alexellis commented on #168
You'll need to just move away from using helm template, or look up the new syntax. I'd suggest not using the templating behaviour, we don't support it in the newer apps anyway.

[2020-08-26 03:43] tuananh commented on #189
@rberrelleza is there an example how to hook it with Http client?

[2020-08-26 03:53] tuananh opened #193 "Add helmfile as tool"
Add `helmfile` https://github.com/roboll/helmfile as tool

## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* What Kubernetes distribution are you using?

[code]

* Operating System and version (e.g. Linux, Windows, MacOS):

[code]

* What arkade version is this?

[code]

[2020-08-26 04:17] rberrelleza commented on #189
@tuananh I wrote a quick one here based on how we use it in okteto: https://gist.github.com/rberrelleza/29daea3dffd20e7a28dd8948b4c2cfbc

[2020-08-26 04:34] rberrelleza commented on #189
another option could be to use  https://github.com/hashicorp/go-getter. Which is something we could even use more broadly, since it automatically deals with unzipping and things like that.

[2020-08-26 13:08] alexellis opened #195 "arkade get needs to create $HOME/.arkade if it doesn't exist"
arkade get needs to create $HOME/.arkade if it doesn't exist

## Current Behaviour

[code]

## Possible Solution

Create the folder always, and ignore the error, or check if it exists and then create it if it doesn't.

[2020-08-26 13:08] alexellis commented on #195
/add label: good first issue,help wanted

[2020-08-26 13:08] alexellis commented on #195
Reported by @tuananh on Slack

[2020-08-26 13:13] guacamole commented on #195
@alexellis can i give this a shot?

[2020-08-26 13:22] alexellis commented on #195
Feel free to try. It is user-facing so ideally needs completing today.

We have other issues that are less critical if you're not comfortable with the timeline.

[2020-08-26 13:26] guacamole commented on #195
I'll do it today!

[2020-08-26 14:44] alekczapski commented on #195
I see that $HOME/.arkade is not enough, you need create $HOME/.arkade/bin

[2020-08-26 14:50] guacamole commented on #195
that's exactly what i found and by adding the `/bin` to `$HOME/.arkade` it worked :)

[2020-08-26 15:22] alexellis commented on #195
I just ran `mkdir $HOME/.arkade` and it worked for me.

The `get` code needs to create and manage the folder, we already have code for that, so we just need to re-use it.

[2020-08-26 15:25] #195 closed

[2020-08-26 15:26] alexellis commented on #195
Sorry for butting in here, but I thought this was too urgent to leave unresolved.

It's a very minor change to make it work: https://github.com/alexellis/arkade/releases/tag/0.6.9

Feel free to send another PR if you feel I've missed something.

[2020-08-26 19:09] Amalkh5 commented on #168
@alexellis I opened PR #197 to remove the templating behavior from the apps mentioned above which will also add support for helm3.
After that, I will open PR to remove helm2 completely.

[2020-08-27 07:57] tuananh commented on #189
@alexellis what's your thought on this?

[2020-08-27 07:59] alexellis commented on #189
Which specific binaries were causing you to question whether the command worked?

I don't know if I'm spoiled with 100mbps internet, but I've not seen this as a concern so far and know how tricky animations become once applied to CI / headless scripts / Jenkins etc..

[2020-08-27 16:15] alexellis commented on #193
Hi @tuananh, In future please could you wait for approval before working on a PR to add a tool or app?

Thanks

[2020-08-27 16:16] tuananh commented on #193
@alexellis sure. we use `hemlfile` at work a lot so I thought it might be useful

[2020-08-27 23:31] rberrelleza commented on #189
@alexellis it happened with kubectl. I installed it this morning and it took 8-12 seconds, without any output. Maybe is just my internet that is slow 🤷

[2020-08-28 05:31] nickgerace opened #198 "Use Latest Dashboard in Tekton App"
The [Dashboard](https://github.com/tektoncd/pipeline) for the [Tekton App](https://github.com/alexellis/arkade/blob/master/cmd/apps/tekton_app.go) is uniquely versioned from the core [Tekton Pipelines](https://github.com/tektoncd/pipeline) service. It's currently outdated, and since it is independently versioned, I believe it should be removed altogether from the Tekton Pipelines installation.

##

[2020-08-28 08:17] alexellis commented on #198
Thanks for raising this Nick.

Given that we also deploy ArgoCD with a dashboard, what would prevent us from deploying Tekton with a compatible pinned version of its dashboard?

[2020-08-28 08:40] alexellis opened #200 "Add terraform binary to "get" command"
## Description

Add terraform binary to "get" command

## Steps

* Step 1: locate terraform's release binaries, which oddly are not on the GitHub repo: https://github.com/hashicorp/terraform/releases
* Step 2: add terraform to https://github.com/alexellis/arkade/blob/master/pkg/get/tools.go
* Step 3: add unit tests to https://github.com/alexellis/arkade/blob/master/pkg/get/tools_test.go

[2020-08-28 08:41] alexellis commented on #200
https://releases.hashicorp.com/terraform/0.13.1/

Example URL - https://releases.hashicorp.com/terraform/0.13.1/terraform_0.13.1_linux_amd64.zip

This can be built with the same approach as we used for Kubernetes + kubectl which uses a separate server.

[2020-08-28 08:56] #200 closed

[2020-08-28 09:20] nicholasjackson opened #202 "[APP] Consul"
Consul Service Mesh is a popular Service Mesh for Kubernetes, it would be awesome if Akade supported the installation.

## Expected Behaviour
`arkade install consul` would install and configure Consul Service Mesh for K8s

## Possible Solution
The Consul Helm chart [https://github.com/hashicorp/consul-helm](https://github.com/hashicorp/consul-helm) can be used to install consul. By default the Hel

[2020-08-28 09:22] nicholasjackson opened #203 "[APP] Vault"
Support the installation of Vault for Kuberenetes

## Expected Behaviour
`arkade install vault` would install Vault on Kubernetes with sensible defaults

## Possible Solution
Install Vault using the official Helm chart [https://github.com/hashicorp/vault-helm](https://github.com/hashicorp/vault-helm)

Happy to PR this :)

[2020-08-28 09:35] alexellis commented on #203
SGTM - PR #201 should be something you can use as a guide.

Remember that we are using the DCO so you'll need to run `git commit -s` to sign-off (rather than GPG signing)

[2020-08-28 09:36] alexellis commented on #202
Sounds good - we already have Linkerd, Istio and OSM. Have a look at those variants and see what makes a good default kind of installation. I'll look out for a PR or feel free to ask a Q or 2 here.

[2020-08-28 09:36] alexellis commented on #203
I was thinking this would be a CLI download ("arkade get"), but you're right, it's an app to install, so forget about my comment re #201

[2020-08-28 22:09] nickgerace commented on #198
Not a problem Alex.

We might be able to use "latest" for the dashboard, just like we do for Tekton pipelines. My concern is that since the dashboard can sometimes lag behind the pipelines release, I would be cautious about bundling both "latest" versions together.

On the other hand, after hearing that ArgoCD App has the dashboard bundled, it's worth noting that the dashboard versions are forward

[2020-08-29 09:14] alexellis commented on #189
AFAIK over 7s without new output is where humans get worried that it's broken.

We could do a CI-friendly printing `.` every 500 ms, or checkout your suggested progress bar.

I also put something together a little while ago https://github.com/alexellis/cli-progress-animation

I remember issues with CI being a problem, along with issues with Windows and cmd.exe.

There may be some way to detect if

[2020-08-29 09:16] alexellis commented on #189
I just tried out your gist @rberrelleza - it looks nice.

Do you know why it didn't "complete" though?

[code]

[2020-08-29 09:19] alexellis commented on #189
The second run was a little different too

[code]

[2020-08-29 13:44] shaneing opened #205 "Inconsistent download path to helm3"
## Expected Behaviour

`arkage get helm` download the helm v3 to `/home/ubuntu/.arkade/bin/helm3/helm`.

## Current Behaviour

`arkage get helm` download the helm v3 to `/home/ubuntu/.arkade/bin/helm`. But, it will download helm v3 to `/home/ubuntu/.arkade/bin/helm3/helm` when I install an app with `--helm3`. I suggest that keep it consistent.

## Possible Solution

## Steps to Reproduce (for bugs

[2020-08-30 18:03] rberrelleza commented on #189
@alexellis i's most likely finishing the writing before the animation is done. In `okteto` we added a check at the end to give it smother experience.

[2020-09-01 06:58] alekczapski commented on #165
If it were useful, for Ubuntu WSL works fine.
[code]
[code]

[2020-09-01 07:01] alexellis commented on #165
Thank you @alekczapski

@OfTheDelmer would you like to test again?

[2020-09-03 18:49] rberrelleza opened #206 "Install fails on MacOS + zsh when sudo requires a password"
Running the recommended command to install arkade ( `curl -SLfs https://dl.get-arkade.dev | sudo sh`)  fails on my mac, when running on zsh:

![image](https://user-images.githubusercontent.com/475313/92154693-0d00d300-eddb-11ea-868e-7485da53cc00.png)

## Current Behaviour

It looks like the `sudo sh` part of the command is not waiting for curl to finish, or it gets lost when MacOS asks for my sudo

[2020-09-03 19:05] alexellis commented on #206
Are you sure this isn't to do with Catalina using zsh instead of bash?

[2020-09-03 19:06] alexellis commented on #206
Because my sudo requires a password and it works for me on MacOS. I've not upgraded to Catalina and zsh though

[2020-09-03 19:14] rberrelleza commented on #206
@alexellis you are correct, it only happens on zsh

[2020-09-03 19:16] rberrelleza commented on #206
Same as https://github.com/alexellis/arkade/issues/165

[2020-09-03 19:16] #206 closed

[2020-09-03 19:17] rberrelleza commented on #165
@alexellis I just tried it on MacOS+zsh, and I get the same error that @OfTheDelmer reported.

[2020-09-04 07:15] alexellis commented on #198
I would suggest that rather than removing the dashboard, that you pin to two known versions - you can pick those versions.

[2020-09-04 07:16] alexellis commented on #168
Thank you @Amalkh5

Where would you say we are with this exercise now? cc @Waterdrips

[2020-09-04 09:19] Amalkh5 commented on #168
@alexellis almost done , i opened PR #204 to remove helm 2 after merge i will submit the last PR that will close this issue.

[2020-09-04 11:30] amalkh5 opened #207 "Add homebrew tap"
## Expected Behaviour

Installing arkade through homebrew using `` brew install arkade``, it would ease the process of installation for mac users.

## Possible Solution

As a solution, we could add a repo like `alexecllis/homebrew-alexellis` with the list of formulas like k3sup and arkade
and we can automate formulas updating using GitHub actions

[2020-09-04 15:49] Amalkh5 commented on #207
resolved by  https://github.com/alexellis/homebrew-alexellis

[2020-09-04 15:50] alexellis commented on #207
We still need the automation, so in some respects this is still open (for me)

[2020-09-04 15:51] alexellis commented on #207
Thanks for your example. The Civo example was also useful - https://github.com/civo/homebrew-tools

[2020-09-04 16:08] Amalkh5 commented on #207
@alexellis for automation we could use this as an example https://github.com/snyk/homebrew-tap/actions/runs/238648501/workflow I glad to work on it if you want

[2020-09-05 18:38] nickgerace commented on #198
Okay great. I'll update the PR accordingly when I get the chance, and update this issue. Thank you @alexellis.

[2020-09-06 08:21] alexellis commented on #207
That actually looks very good. I would be supportive of using something similar.

[2020-09-06 16:25] #168 closed

[2020-09-06 17:31] amalkh5 commented on #205
I think this issue is fixed by #208

[2020-09-07 21:12] kylos101 opened #210 "Add Krew app"
Any interest in having an app for [krew](https://krew.sigs.k8s.io/docs/user-guide/setup/install/)?

## Expected Behaviour
Install krew plugin for kubectl via `ark get krew`

## Current Behaviour
n/a

## Possible Solution
Add the `krew` app

## Steps to Reproduce (for bugs)
n/a

## Context
I'm troubleshooting Kong Ingress, and have multiple pod instances, and figure this might help per [this articl

[2020-09-07 21:31] brokenthorn opened #211 "Support issue - user's network timed-out"
Installing `kind` tool with `arkade` is failing with a client timeout:

[code]

## Expected Behaviour
`arkade` should successfully download `kind`.

## Current Behaviour
`arkade` fails to download `kind`, giving a client timeout error as reason.

## Possible Solution
Make step optional and force download regardless of HEAD response?
Add additional sources for downloading `kind` and failover?

## S

[2020-09-07 21:40] alexellis commented on #211
Hi @brokenthorn this appears to be working as designed. The Go HTTP client appears to be is telling you that you have a networking issue on your side?

I've run run the command myself also on Darwin and it worked first time.

[code]

Unless there's an issue with arkade or something else you can tell me, perhaps we should close the issue?

[2020-09-07 21:42] alexellis commented on #211
There's also a version override, if that's of use to you? `--version v0.8.1` for instance, but I'd encourage you to investigate whatever networking issue that you appear to be having first.

[2020-09-07 21:59] alexellis commented on #210
Thanks for the suggestion Kyle.
What's inside krew.tar.gz? It doesn't appear to follow the patterns for different architectures, but I can see a .exe for Windows

[2020-09-07 23:10] kylos101 commented on #210
Doh! Sorry Alex, I'll take a peek and let you know.

On Mon, Sep 7, 2020, 6:00 PM Alex Ellis <notifications@github.com> wrote:

[2020-09-08 08:01] alexellis commented on #211
/set title: Support issue - user's network timed-out

[2020-09-08 08:01] alexellis commented on #207
@amalkh5

[2020-09-08 08:04] alexellis commented on #190
The Linux option appears to be a `.AppImage` extension.. what is that?

I also got an issue with unzip:

[code]

It appears to actually be a tar.gz with the wrong extension.

[code]

[2020-09-08 08:07] alexellis commented on #207
/set title: Add homebrew tap

[2020-09-08 08:07] alexellis commented on #207
Ref: https://github.com/lensapp/lens/issues/821

[2020-09-08 08:32] brokenthorn commented on #211
@alexellis, thanks. I'll investigate and report back. I had no idea this was an issue on my network's side... I can also add that I've since tried installing other tools with ark as well and all fail with the same error. Weird!

[2020-09-08 09:34] brokenthorn commented on #211
This is weird indeed! Now it works!

[code]

The only thing I think I changed is that I deleted all K8s clusters... I installed k3d manually yesterday night and only got to install a cluster. After that I left. Today I deleted that cluster, restarted Docker for Mac and ran `arkade get` again and suddenly it works!

[2020-09-08 11:19] #211 closed

[2020-09-08 11:20] alexellis commented on #211
No worries. Do take a look at how you can combine several arkade commands for a powerful workflow like these: for openfaas or a docker registry with cert-manager -> https://docs.inlets.dev/#/get-started/quickstart-ingresscontroller-cert-manager

[2020-09-08 11:21] alexellis commented on #189
@rberrelleza would you send a PR for this? There should also be some kind of env-var to turn it off like `ARKADE_PROGRESS=0`

[2020-09-09 16:01] rberrelleza commented on #190
@alexellis appimage is like DMG for linux, first time I've seen one in github (https://appimage.org/).

That explains the error I saw.  Should we close this since it's an external issue?

[2020-09-09 16:22] rberrelleza commented on #189
Yep, assign the ticket to me.

[2020-09-09 16:59] alexellis commented on #189
Can't assign it to you, but feel free to PR like the gist.

[2020-09-12 21:01] AM6331 commented on #188
Not sure if this is what you're looking for: [https://hub.docker.com/layers/portainer/portainer-ce/2.0.0/images/sha256-0f026d148bdc7243350a9f726c03b4d52637a8e917403812e5e1715af15b3337?context=explore](https://hub.docker.com/layers/portainer/portainer-ce/2.0.0/images/sha256-0f026d148bdc7243350a9f726c03b4d52637a8e917403812e5e1715af15b3337?context=explore)

[2020-09-21 20:27] nickgerace commented on #198
Changed the title to reflect the new nature of the PR.

**Formerly**: Remove Dashboard from Tekton App
**Now**: Use Latest Dashboard in Tekton App

[2020-09-22 08:59] alexellis opened #216 "[App] Add GitHub CLI (gh)"
## Task

Add an App for the GitHub CLI (gh)

https://github.com/cli/cli/

https://github.com/cli/cli/releases

This is useful for users of GitHub - for making PRs/referencing issues etc.

[2020-09-22 09:06] #189 closed

[2020-10-10 10:06] Waterdrips opened #220 "[App] Sealed Secrets"
## Expected Behaviour

- App https://github.com/bitnami-labs/sealed-secrets
~~- CLI tool `kubeseal` added to tools?~~

This would be a useful app to provide for Arkade

[2020-10-10 12:46] alexellis commented on #220
Sounds good to me. We already have `arkade get kubeseal` btw

[2020-10-10 12:51] #216 closed

[2020-10-10 12:52] alexellis commented on #210
@kylos101 any update on this sir?

[2020-10-10 14:32] #20 closed

[2020-10-10 14:32] alexellis commented on #20
This is no longer required and has been completed

[2020-10-10 15:49] evalsocket commented on #220
/assign @evalsocket

[2020-10-10 16:19] alexellis commented on #220
Thanks for picking this up. Have a look at the more recent apps in git history to understand how we are doing them now. Also think about the chart options and whether we need to block on arm (spoiler: we do have to)

[2020-10-10 17:44] kylos101 commented on #210
Hi @alexellis thanks for the reminder.

I see what you mean regarding the Github Release Assets for `Krew`. It doesn't appear to follow the same organizational structure as other tools (like `doctl`) - making it hard to leverage the current arkade pattern for downloading the right file for a given OS and CPU (at least w/o a code change).

For posterity, `krew.tar.gz` contains `krew.tar` which cont

[2020-10-10 17:44] #210 closed

[2020-10-10 18:03] alexellis commented on #210
No worries. Thank you for the response

Not riding much with all the rain 🌧️

[2020-10-12 06:17] Waterdrips opened #222 "Convert Nginx App to use "new" pkg/apps/helm_app style"
We need to move apps over to using the new app style.

We should migrate Nginx app over
https://github.com/alexellis/arkade/blob/master/cmd/apps/nginx_app.go
to use the style in https://github.com/alexellis/arkade/blob/master/pkg/apps/chart_app.go as per https://github.com/alexellis/arkade/blob/master/cmd/apps/loki_app.go

This will mean moving over to using this pattern https://github.com/alexell

[2020-10-12 06:18] Waterdrips commented on #222
/add label: proposal, help wanted, skill/beginner, good-first-issue

[2020-10-12 06:19] Waterdrips commented on #222
/remove label: good-first-issue

[2020-10-12 06:19] Waterdrips commented on #222
/add label: good first issue

[2020-10-12 06:26] Waterdrips commented on #184
/close

This can happen when there's stuff not managed by helm created in the cluster in other namespaces that's not namespace scoped like CRDs.

I think that this 2 month old issue might not be relevant anymore? Feel free to re-open and add more context or comments

[2020-10-12 06:26] #184 closed

[2020-10-12 06:59] Waterdrips commented on #78
/close
Superseded by #202 and #203

We are happy to take contributions for these implementations :+1:

[2020-10-12 06:59] #78 closed

[2020-10-12 07:02] Waterdrips commented on #29
/close

This has happened as part of #21 I think

[2020-10-12 07:02] #29 closed

[2020-10-12 09:07] #35 closed

[2020-10-12 12:41] nitishkumar71 commented on #222
/assign me

[2020-10-12 12:42] Waterdrips commented on #222
/assign: nitishkumar71

[2020-10-12 22:19] nickgerace commented on #198
I believe I misread your last response @alexellis, my apologies. I'd personally prefer to use "latest" for both the dashboard and pipelines, like many other Arkade apps.

[2020-10-13 13:51] Waterdrips opened #225 "Convert Cert Manager app to new style"
We need to move apps over to using the new app style.

We should migrate this app overto use the style in https://github.com/alexellis/arkade/blob/master/pkg/apps/chart_app.go as per https://github.com/alexellis/arkade/blob/master/cmd/apps/loki_app.go

https://github.com/alexellis/arkade/blob/master/cmd/apps/certmanager_app.go (to be migrated)

This will mean moving over to using this pattern http

[2020-10-13 14:00] Waterdrips commented on #225
/add label: help wanted, skill/beginner

[2020-10-13 14:21] evalsocket commented on #220
No, today I will start and most probably create a pr forthis issue

[2020-10-13 18:54] #222 closed

[2020-10-15 18:46] alexellis commented on #220
Hi @evalsocket is there anything we can help with? We do have Slack available if you want to chat.

[2020-10-15 18:46] alexellis commented on #220
/msg: slack

[2020-10-16 10:58] wahmedswl opened #227 "[App] Octant"
Please add [octant](https://octant.dev/) to the tool list, its great alternative to Kubernetes Dashboard.

thanks

[2020-10-16 16:57] alexellis commented on #227
Hi @wahmedswl thanks for your interest in arkade. Can you tell us what format Octant is available in? Does it have a binary that we can download and run?

What architecture is it released for?

[2020-10-16 20:40] wahmedswl commented on #227
@alexellis Octant provides binaries for every platform and are available in the releases, [https://github.com/vmware-tanzu/octant/releases/tag/v0.16.1](url). It needs ```kubeconfig``` or it can also be provided on start as well. I have installed it on Windows via their ```chocolatey``` package. They have well written installation instructions at [https://github.com/vmware-tanzu/octant](url).

Than

[2020-10-16 21:07] alexellis commented on #227
I think Octant has been suggested in the past, but oh my goodness, the binary for MacOS is 83MB!

Feel free to start work on a PR for this @wahmedswl, or ping someone you may know at VMware to see if they want to contribute.

[2020-10-16 21:27] wahmedswl commented on #227
Is there any app thats without k8s, seems like every app is hooked with k8s. Only simple download and run would be sufficient.

Thanks

[2020-10-16 21:40] wahmedswl opened #228 "OnlyIntelArch, should be used everywhere needed"
This is just to highlight that ```OnlyIntelArch``` should be used at every place rather than having same/identical message in the app itself.

Thanks

[2020-10-17 17:44] yankeexe opened #232 "Add buildpacks CLI"
## Expected Behaviour

Add buildpacks CLI [`pack`](https://github.com/buildpacks/pack) to arkade

## Current Behaviour

No buildpack CLI

## Possible Solution

Add `pack` to `tools.go`

[2020-10-19 09:09] wahmedswl opened #233 "arkade get, shouldn't re-download"
Hi, Arkade should not download same pkg multiple times. Every invoke of ```arkade get``` re-download the pkg.

Thanks

[2020-10-19 09:51] #233 closed

[2020-10-19 09:52] alexellis commented on #233
Hi @wahmedswl

I appreciate the interest in arkade, however I'm going to be closing this issue because:

1) you deleted the issue template
2) you provided no context, evidence or screen output

If you want to participate in the project, please follow the contribution guidelines and templates.

Alex

[2020-10-19 10:14] wahmedswl commented on #233
Thanks understandable and will re-post with the template. But, template is to help in issue evaluation and its clear from the description i guess you understand what this issue is about.

But, i do abide the rules, no problem :-)
Thanks

[2020-10-19 10:16] alexellis commented on #233
The template absolutely is of use - it asks what happened, what you expected, asks for step by step instructions along with your suggested solutions.

[2020-10-21 08:33] alexellis opened #234 "[App] NGINX-Plus"
## Description

As part of the [Venafi Development Fund](https://venafi.com/blog/venafi-adds-30th-developer-machine-identity-management-development-fund), I've agreed to add NGINX-Plus to arkade to support Venafi customer needs.

"Production-Grade Application Delivery for Kubernetes"

https://www.nginx.com/products/nginx/kubernetes-ingress-controller/

https://github.com/nginxinc/kubernetes-ingres

[2020-10-21 08:35] alexellis opened #235 "[App] Add Kong IngressController"
## App

As part of the [Venafi Development Fund](https://venafi.com/blog/venafi-adds-30th-developer-machine-identity-management-development-fund), I've agreed to add Kong IngressController to arkade to support Venafi customer needs.

The openfaas community has also requested Kong Ingress and certain end-users make use of its OAuth capabilities, so it will be a win/win for everyone to have an app a

[2020-10-21 08:42] alexellis opened #236 "[Sponsored app] Venafi"
## Description

OpenFaaS Ltd is taking part in the [Venafi Sponsors 30th Machine Identity Developer](https://venafi.com/blog/venafi-adds-30th-developer-machine-identity-management-development-fund) and as part of that, the first [Sponsored App for arkade](https://github.com/alexellis/arkade#sponsored-apps) is being funded.

The app will add a new sub-command of `venafi` which will expose specific

[2020-10-21 20:05] #225 closed

[2020-10-21 20:06] #8 closed

[2020-10-22 07:20] Waterdrips commented on #12
/close

we have traefik v2 #40

[2020-10-22 07:20] #12 closed

[2020-10-22 07:21] Waterdrips commented on #162
/close
completed in #161

[2020-10-22 07:21] #162 closed

[2020-10-22 15:45] #232 closed

[2020-10-24 09:03] nitishkumar71 commented on #235
@alexellis I can pick this up.

[2020-10-24 09:26] alexellis commented on #235
Sure, have you contributed before?

@Waterdrips what is the best app to use as a template?

If Alistair doesn't get back in time, look at our most recently added app in git history as a template.

[2020-10-24 09:28] Waterdrips commented on #235
Hello, good place to start looking is the Loki app, Ingess Nginx app or cert manager. Any questions let me know :)

[2020-10-24 10:09] nitishkumar71 commented on #235
@alexellis @Waterdrips Yes, I had worked on converting [Nginx App to use "new" pkg/apps/helm_app style](https://github.com/alexellis/arkade/issues/222)

[2020-10-25 05:53] nitishkumar71 commented on #235
/assign: nitishkumar71

[2020-10-25 05:59] nitishkumar71 commented on #235
/assign: me

[2020-10-26 12:05] #235 closed

[2020-10-26 12:05] alexellis commented on #235
Added in #240 - thank you @nitishkumar71

[2020-10-26 12:34] alexellis opened #242 "Add Docker's "buildx" CLI to "arkade get""
I'm starting to write code like this to upgrade buildx on various machines. It would be nice if we could download the binary via "arkade get"

On the releases page I also see Darwin, Windows and ARM :slightly_smiling_face:

[code]

[2020-10-26 12:36] alexellis opened #243 "Add Docker's "buildkit" CLI to "arkade get""
The buildkit (client) and buildkitd (builder daemon) can both be used with faasd or k3s hosts for building images without installing Docker onto the machine.

There is a tar that can be downloaded like we do with inletsctl, however, we need to make sure we extract both binaries. I'm fairly sure that this will "just work"

See more:

https://github.com/moby/buildkit/releases

[2020-10-26 12:38] alexellis commented on #242
@rberrelleza would you like to take this one or #243 perhaps whilst you're hacking on the code?

[2020-10-26 12:39] alexellis commented on #243
@yankeexe would you like to take this and/or #242 ?

[2020-10-26 12:48] yankeexe commented on #243
I can take this one @alexellis

[2020-10-26 12:58] alexellis commented on #243
Great, thank you :+1: It may be quicker if you also take #242 at the same time - they are similar tools and touch the same files.

[2020-10-27 01:12] nitishkumar71 commented on #234
/assign: @nitishkumar71

[2020-10-27 01:23] nitishkumar71 commented on #234
@alexellis ```nginx-inc``` would be better, as we can provide support for both OSS and Plus together. Please refer https://docs.nginx.com/nginx-ingress-controller/installation/installation-with-helm/#installing-via-helm-repository

we can expose two flags to enable plus version
1.  `nginxplus` for `controller.nginxplus`
2. `controller-image` for `controller.image.repository`

do let me know about

[2020-10-27 05:01] rberrelleza commented on #242
@alexellis buildx comes installed with docker CLI 19 (see https://docs.docker.com/buildx/working-with-buildx/#install). Do you still want a separate install?

[2020-10-27 09:44] alexellis commented on #242
As I mentioned above, there are cases where it needs to be upgraded, particularly in CI.

[2020-10-27 21:47] mrsimpson opened #246 "kind not installable on Raspberry Pi (arm non-64)"
## Expected Behaviour
When executing `arkade get kind` without additional flags, I'd expect the latest available version of kind to be installed.

## Current Behaviour
The download fails
[code]
The reason is that as of version `v0.9.0`, no releases for `arm` are published anymore, but only for `arm64`, see [the releases page](https://github.com/kubernetes-sigs/kind/releases/tag/v0.9.0)

## Possibl

[2020-10-28 15:49] #246 closed

[2020-10-28 15:50] alexellis commented on #246
Good to hear from you, I hope that you're doing well.

I'm sorry about KinD going away for RPi, but I think you'd have a much better experience with local k3s anyway

[code]

The "404" message is what we're going to use for the time-being. We could add another message after saying that a 404 means the binary may not be available for your given OS/architecture.

[2020-10-29 07:33] arnobroekhof opened #249 "Add kubens as tool and bump the version of kubectx to v0.9.1 in the process"
Add kubens as tool and bump the version of kubectx to v0.9.1 in the process

[2020-10-29 07:36] arnobroekhof commented on #249
Added pull request https://github.com/alexellis/arkade/pull/250

[2020-10-30 09:22] #249 closed

[2020-10-30 09:29] #242 closed

[2020-10-30 09:33] #198 closed

[2020-10-30 09:35] #158 closed

[2020-10-30 12:17] alexellis opened #253 "Upgrade cert-manager app to 1.0"
Upgrade [cert-manager app to 1.0](https://cert-manager.io/docs/tutorials/acme/http-validation/)

## Impacted files

The installer and the two "ingress" generators that we have which use cert-manager's shim to get certificates:

[code]

Upgrade to the new schema as per `cert-manager.io/v1` - [example](https://cert-manager.io/docs/tutorials/acme/http-validation/)
[code]

Note that more than just the

[2020-10-30 12:24] alexellis commented on #253
@meyskens tells me that the Ingress definitions which we generate `cert-manager.io/v1alpha2` are currently backwards-compatible with `cert-manager.io/v1`.

[2020-10-30 14:27] #193 closed

[2020-10-30 18:01] nitishkumar71 opened #256 "Convert Sealed Secrets App to use "new" pkg/apps/helm_app style"
We need to move apps over to using the new app style.

We should migrate [Sealed Secrets for Kubernetes](https://github.com/bitnami-labs/sealed-secrets) app over
https://github.com/alexellis/arkade/blob/master/cmd/apps/sealed_secret_app.go
to use the style in https://github.com/alexellis/arkade/blob/master/pkg/apps/chart_app.go as per https://github.com/alexellis/arkade/blob/master/cmd/apps/loki_a

[2020-10-30 18:01] nitishkumar71 commented on #256
/assign: me

[2020-10-31 13:52] #15 closed

[2020-10-31 22:52] Waterdrips commented on #253
/assign me

[2020-10-31 23:21] Waterdrips opened #260 "Completion for `info` command doesnt show list of apps"
## Expected Behaviour

The info command completion should show the list of apps we have info for
## Current Behaviour

it gives no completion options

## Possible Solution

upgrade cobra and set a completion valid args func to get the list of apps

[2020-10-31 23:24] Waterdrips commented on #228
/close

This has been resolved

[2020-10-31 23:24] #228 closed

[2020-10-31 23:25] Waterdrips commented on #88
/close
This was implemented in #89
thanks

[2020-10-31 23:25] #88 closed

[2020-10-31 23:28] Waterdrips commented on #54
/close

This has now been implemented in `arkade completion`

[2020-10-31 23:28] #54 closed

[2020-10-31 23:30] Waterdrips commented on #163
https://github.com/alexellis/arkade/pull/252

[2020-10-31 23:31] Waterdrips commented on #163
/close
implemented in #252 Thanks

[2020-10-31 23:31] #163 closed

[2020-11-01 10:32] Waterdrips commented on #205
/close

This is indeed fixed by#208

[2020-11-01 10:32] #205 closed

[2020-11-02 09:57] alexellis opened #262 "Convert CI to GitHub Actions"
## Task

Convert CI to GitHub Actions

## Context

Travis is removing its free tier for OSS projects, so this should be built with GitHub Actions instead, which is not going to add additional cost.

I would expect this to be one of the easier projects to convert given that Docker isn't used in the build.

See also:

https://github.com/mvdan/github-actions-golang
https://github.com/actions/create-r

[2020-11-02 09:57] alexellis opened #263 "Convert CI to GitHub Actions"
## Task

Convert CI to GitHub Actions

## Context

Travis is removing its free tier for OSS projects, so this should be built with GitHub Actions instead, which is not going to add additional cost.

I would expect this to be one of the easier projects to convert given that Docker isn't used in the build.

See also:

https://github.com/mvdan/github-actions-golang
https://github.com/actions/create-r

[2020-11-02 10:14] Waterdrips commented on #263
/assign: me

[2020-11-03 06:07] Waterdrips commented on #262
/close
duplicate of #263

[2020-11-03 06:07] #262 closed

[2020-11-03 08:55] #263 closed

[2020-11-05 18:48] #253 closed

[2020-11-08 10:59] developer-guy opened #265 "[App] skopeo"
It would be nice if arkade supports a skopeo installation.

skopeo is a command-line utility that performs various operations on container images and image repositories.

here is for detail: https://github.com/containers/skopeo

[2020-11-08 11:07] alexellis commented on #265
Is the a static binary for it? As I remembered, it needed several C libraries for GPG etc and had to be installed through brew.

[2020-11-08 11:17] developer-guy commented on #265
yes you are right
![Screen Shot 2020-11-08 at 14 16 46](https://user-images.githubusercontent.com/16693043/98463563-19375100-21cd-11eb-9c6d-1c359512a2fd.png)

[2020-11-08 17:22] #265 closed

[2020-11-08 17:25] alexellis commented on #265
Let's close this. And it's weird because I had the same idea as you yesterday and was thinking how we can manage it.

Perhaps printing a message "use brew"

Or finding another similar tool that doesn't need C libraries to work? @mattmoor had a suggestion for a similar tool.

[2020-11-08 18:26] developer-guy commented on #265
There is more than one tool available for working registries

One from Google :

https://github.com/google/go-containerregistry/blob/master/cmd/crane/doc/crane.md

One from regclient :

https://github.com/regclient/regclient

[2020-11-08 19:14] Waterdrips opened #267 "Add WithSecrets to app installer"
It would be useful to create a func to install secrets in the new app installer

Something like .WithSecrets() that creates the secret as part of the install commands.

[2020-11-08 19:14] Waterdrips commented on #267
/assign: me

[2020-11-08 19:43] mattmoor commented on #265
crane is pure Go, so `go get` should just work(tm).

There's also a public multi-arch image here:
[code]

[2020-11-09 07:50] developer-guy commented on #265
There is a static binary available on the releases page at this crane repo.
See for macOS:
https://github.com/google/go-containerregistry/releases/download/v0.1.4/go-containerregistry_Darwin_x86_64.tar.gz

![Screen Shot 2020-11-09 at 10 48 41](https://user-images.githubusercontent.com/16693043/98513677-4b05f180-2279-11eb-8ce1-bbc0c777ec7f.png)

[2020-11-09 11:51] #267 closed

[2020-11-09 11:54] alexellis opened #269 "Pin GitHub Actions to Go 1.13"
## Expected Behaviour

A specific Golang version should be used like the previous Travis build in the GitHub Actions for this project such as https://github.com/alexellis/arkade/blob/master/.github/workflows/ci-only.yml

## Current Behaviour

An unpredictable, but recent version is used.

## Possible Solution

Pin GitHub Actions to Go 1.13

See how Akos did this for the faas-netes repo https://git

[2020-11-09 11:54] alexellis commented on #269
This needs retro-fitting to the k3sup project.

[2020-11-09 11:59] #260 closed

[2020-11-09 12:03] developer-guy commented on #269
I would like to take this, but I have questions about it.

Do we convert Makefile targets to per job in Github Actions?

[2020-11-09 12:05] alexellis commented on #269
Please read the GitHub Action in this repo and compare it to the link I linked you to. You will see that the main difference is that one pins a Golang version.

Please can you do the same for arkade?

[2020-11-09 13:44] fabn opened #271 "Cannot give additional helm options to cert-manager"
I want to enable the [`kubernetes.io/tls-acme: "true"`](https://cert-manager.io/docs/usage/ingress/#optional-configuration) in my cert manager deployment and I tried with

[code]

## Expected Behaviour

Helm chart should be installed with those options set

Also a dedicated flag such as `--acme` would be nice

## Current Behaviour

[code]

## Possible Solution

Currently I'm solving this with this

[2020-11-09 13:46] alexellis commented on #271
@fabn thank you for your interest. Are you open to working on a PR for this to add --set? If so, you can follow the style of the OpenFaaS app.

[2020-11-09 13:46] alexellis commented on #271
Cc @Waterdrips

[2020-11-09 13:47] fabn commented on #271
I never programmed in go language, but looking at existing code it could be easy. Let me see if I can try to sketch something.

[2020-11-09 14:05] Waterdrips commented on #271
Looks like we never added `--set` to cert-manager. Should be easy enough to add,

[code]

[2020-11-09 15:25] #271 closed

[2020-11-09 15:25] alexellis commented on #271
I've written and tested a patch for this. Alistair thanks for taking a look.

[code]

[2020-11-09 15:42] fabn commented on #271
Thanks for this

[2020-11-15 10:36] TheEdgeOfRage opened #273 "docker-registry install fails due to missing chart on repo"
## Expected Behaviour
When running `arkade install docker-registry` I expect it to install it to my cluster

## Current Behaviour
After running the command, I get the following error:

[code]

The weird thing is that it says it tried to fetch it from `https://charts.helm.sh/`, but when I run `helm repo list`, I get the following

[code]

After running the command in the warning, it sets the correc

[2020-11-15 11:06] alexellis commented on #273
I can confirm that I'm getting the same error.

[code]

This is probably going to affect all charts that were in stable. We have already moved ingress-nginx, Mongo and a few others to the new upstreams. I'm shocked that the upstream maintainers just deleted these chart artifacts without providing an alternative.

[2020-11-15 11:17] alexellis opened #274 "Notice: The stable Helm chart repo has been deleted"
## What happened

This is a notice that the stable Helm chart repo has been deprecated and the maintainers have deleted all artifacts for helm charts.

## Impact

If you are relying on any charts in the stable repository, you can no longer build new systems or use your applications.

This means you will have to responsibly source an alternative, or fork the stable repository and maintain it yourse

[2020-11-15 11:28] alexellis commented on #273
From: https://helm.sh/docs/faq/#i-am-getting-a-warning-about-unable-to-get-an-update-from-the-stable-chart-repository

You can run the following command to fix your repository:

[code]

[2020-11-15 11:51] alexellis commented on #273
This is giving a 404 for docker-registry despite being listed in the index.yaml 🤦

https://charts.helm.sh/stable/index.yaml

`https://charts.helm.sh/stable/docker-registry-1.9.6.tgz` <- 404

[2020-11-15 11:51] alexellis commented on #273
jFrog's chart centre has a mirror which is actually working -> https://chartcenter.io/stable/docker-registry

[2020-11-16 03:15] scottrigby commented on #274
To be clear, the artifacts have not been deleted, they are hosted indefinitely, sponsored by GitHub. There was a short blip where paths had a typo only for the most recent version. This has been fixed in https://github.com/helm/charts/pull/24424

The chart’s repo is read only, but artifacts are evergreen.

Please join the ongoing initiative to move continuing development of chart source code to ne

[2020-11-16 13:03] alexellis commented on #274
Thank you for the fix, that's appreciated and takes off some immediate pressure for us.

Jenkins has moved here -> https://github.com/jenkinsci/helm-charts

Folks, feel free to post links to the above charts and where they have moved to.

[2020-11-16 13:03] alexellis commented on #274
Grafana is available here -> https://github.com/grafana/helm-charts

[2020-11-19 11:35] alexellis commented on #274
@nitishkumar71 and @yankeexe would you be able to help with this?

[2020-11-19 12:55] msw10100 opened #276 "[Feature request] Heterogeneous Kubernetes clusters"
I have a k3s cluster of mostly raspberry pi 4s with 8 GB RAM.  The cluster has a single Intel worker node with 16 GB RAM running k3s-agent.  When I try to install an app such as minio or mongodb, arkade exits with an error.

## Expected Behaviour
[code]

## Current Behaviour
[code]
## Possible Solution
???

## Steps to Reproduce (for bugs)
See above

## Context
Since there is an Intel node in the

[2020-11-19 12:56] alexellis commented on #276
/set title: [Feature request] Heterogeneous Kubernetes clusters

[2020-11-19 13:36] nitishkumar71 opened #278 "Update sealed secret chart repo"
In retrospect and due to #274 I think we do need to switch over to the new helm repo, but it should be a one line change if you can work on that today @nitishkumar71 ?

My understanding is that the charts have now moved to `https://charts.helm.sh/stable` as read-only.

_Originally posted by @alexellis in https://github.com/alexellis/arkade/issues/257#issuecomment-730317517_

## Expected Behaviour

[2020-11-19 13:52] nitishkumar71 commented on #274
Minio is available here -> https://github.com/minio/charts

[2020-11-19 14:11] nitishkumar71 commented on #274
@alexellis Do you think, we can use https://github.com/bitnami/charts/tree/master/bitnami for mongo, postgres, sealed secrets(in future) and few other applications in future. As this chart repo will guarantee stability in future.

Nothing found stable version found for mongo(found for [operator](https://github.com/mongodb/helm-charts)) and postgres.

[2020-11-19 15:33] alexellis commented on #274
I've linked to upstream. We should always prefer upstream to Bitnami where available

[2020-11-21 11:44] nitishkumar71 commented on #274
@alexellis I could not found any upstream repo for the remaining apps.

[2020-11-21 14:04] developer-guy commented on #269
I think we can close this issue. @alexellis

[2020-11-21 20:23] #269 closed

[2020-11-23 09:50] #278 closed

[2020-11-23 09:51] alexellis commented on #274
I sent links for Grafana and Jenkins, and you found a link for Minio. Can you start with those?

[2020-11-24 02:23] nitishkumar71 commented on #274
should we also upgrade them to new app style?

[2020-11-24 09:31] alexellis commented on #274
Yes go ahead please

[2020-11-24 13:39] scottrigby commented on #274
@alexellis would you mind changing the title of this issue? It's still concerning to people who see it but don't read the comments. If you don't mind. thank you!

[2020-11-25 21:23] aneelysis commented on #111
This is the official pihole docker image, if that helps: https://hub.docker.com/r/pihole/pihole

[2020-11-28 17:43] alexellis opened #282 "Sort list of apps for arkade get"
## Expected Behaviour

The list of apps should be sorted when printed, regardless of how they are structured in the code

## Current Behaviour

The list is not ordered so it may be harder to find what you want

## Possible Solution

Use sorting in Go whilst printing - https://golang.org/pkg/sort/

[2020-11-29 15:41] #236 closed

[2020-11-29 17:34] alexellis commented on #282
/add label: good first issue,help wanted

[2020-11-29 18:49] developer-guy commented on #282
I am a volunteer for this issue 👍

[2020-11-30 10:40] #282 closed

[2020-12-02 10:17] TheDemonCat opened #285 "Support issue WSL and helm binary"
When I try to get helm, I get a 404 error.

## Expected Behaviour
A 200 response, with helm having been successfully gotten.

## Current Behaviour

Downloading helm
https://get.helm.sh/helm-v3.2.4-msys_nt-10.0-19041-amd64.tar.gz
Error: check with the vendor whether this tool is available for your system: incorrect status for downloading tool: 404

## Steps to Reproduce (for bugs)
1. use arkade ver

[2020-12-02 10:27] alexellis commented on #285
What do you mean here when you say "host" and then separately say "WSL2" with a different value?

Which system are you running arkade within?

[2020-12-02 16:16] TheDemonCat commented on #285
I am using win 10 with wsl2 installed. Arkade I run in windows OS.

[2020-12-04 14:23] alexellis commented on #285
/set title: Support issue WSL and helm binary

[2020-12-04 14:24] alexellis commented on #285
For Windows you must run arkade either in git bash, or in WSL, not in cmd.exe or powershell.

Please share a screenshot? cc @nunix

[2020-12-04 14:25] alexellis commented on #273
I looked into this then raised #274 - but was subsequently told by the helm maintainers that the 404 is a bug on their side, and that they were restoring the release aritfacts. See the notes on 274 and check your version of arkade.

[2020-12-04 14:26] alexellis commented on #274
@scottrigby if that's the case, can you confirm why we're still seeing this error being reported by users?

[code]

[2020-12-04 14:29] #273 closed

[2020-12-04 14:31] goncalo-oliveira commented on #273
The `index.yaml` seems to be updated, it's now `https://charts.helm.sh/stable/packages/docker-registry-1.9.6.tgz`

[2020-12-04 14:40] goncalo-oliveira commented on #273
I also had the same issue using version `0.6.23`. Installing the latest `0.6.28` fixed this.

[2020-12-04 15:05] nunix commented on #285
Hi,

I do confirm that the only way I could reproduce something similar is by downloading the `arkade.exe` and run it from CMD as @alexellis mentions (it actually tries to download the ARM version for Helm):
![image](https://user-images.githubusercontent.com/905874/101179058-0ee06980-364a-11eb-857b-32d04ff4d526.png)

And if I run it from WSL2 directly (mind that I downloaded the v0.6.25 directly,

[2020-12-04 16:25] TheDemonCat commented on #285
If I am using [arkade.exe](https://github.com/alexellis/arkade/releases/download/0.6.28/arkade.exe) version then errors like this:

windows
![image](https://user-images.githubusercontent.com/26283990/101187487-a2339200-367e-11eb-89b3-53837bcb1809.png)

wsl2
![image](https://user-images.githubusercontent.com/26283990/101187535-af508100-367e-11eb-91c1-90fc8d264b69.png)

If I use the [linux](https://

[2020-12-04 16:32] nunix commented on #285
ok so Alex was right and it confirms my tests too.

So, as Alex stated, please **do not** use the arkade.exe on Windows. Actually, not sure what is/was the purpose there except, maybe, for the git bash integration?

As you know, you can leverage Windows binaries from WSL2, however the said binaries need to be working _for_ Windows.
Your best and safest bet is to use the linux binary on WSL2 and if

[2020-12-04 16:46] TheDemonCat commented on #285
No problems. I just expected the version arkade.exe to work in  Powershell / CMD

[2020-12-04 17:48] alexellis commented on #285
We detail this in the README as *not supported*.

I'm going to close the issue, but thanks for using arkade and for getting in touch.

[2020-12-04 17:48] #285 closed

[2020-12-04 17:49] alexellis commented on #285
/set title: [Feature Request] cmd/powershell support

[2020-12-04 17:58] alexellis commented on #273
Perfect. Thanks

[2020-12-04 20:44] scottrigby commented on #274
Hi @alexellis I just answered this at https://github.com/helm/charts/pull/24424#issuecomment-739008540

[2020-12-04 21:46] alexellis commented on #274
/set title: Notice: the stable Helm charts have been deprecated, new alternatives are required

[2020-12-04 21:46] alexellis commented on #274
Thank you so much @scottrigby - I've updated the title.

[2020-12-05 09:00] alexellis opened #287 "Update secrets when reinstalling apps"
## Expected Behaviour

Arkade should update secrets when reinstalling apps

## Current Behaviour

It does not, however users can delete secrets, and run the tool again

## Possible Solution

Use `kubectl apply` instead of create

## Steps to Reproduce (for bugs)

1. Install the inlets-operator for DO
2. Then Install the inlets-operator for EC2
3. The token will still be for DO

## Context

Reporte

[2020-12-05 09:03] alexellis commented on #287
@codyde FYI and #287 also

[2020-12-05 13:32] #287 closed

[2020-12-11 16:35] nitishkumar71 opened #291 "Update Go Version from 1.13.x to 1.15.x"
We want to update the go version from 1.13.x to 1.15x to keep arkade updated with other dependencies
## Expected Behaviour

arkade can be used to install developer tools on local and charts on k8s cluster
## Current Behaviour

arkade can be used to install developer tools on local and charts on k8s cluster
## Possible Solution

Update all go version in github jobs and go.mod to 1.15

[2020-12-11 16:49] #291 closed

[2020-12-15 18:42] nitishkumar71 opened #294 "Include Support for Minio Client"
Provide support of minio [client](https://docs.min.io/docs/minio-client-complete-guide.html) in arkade
## Expected Behaviour

User should be able to install minio client on local using arkade
## Current Behaviour

There is no support of minio client in arkade
## Possible Solution

Append minio client in list of arkade tools

[2020-12-23 11:20] deknos opened #298 "always include architecture and OS in releasename"
i would ask you to rename your release artifacts that they always include architecture and Operating System in your binaryname for easiert distinguishment

## Expected Behaviour
instead of arkade, use arkade-amd64-linux and instead of arkade-armhf-linux.

## Current Behaviour
i use binenv (https://github.com/devops-works/binenv) and would like to include your binary there via pullrequest. This is

[2020-12-23 11:53] alexellis commented on #298
arkade actually does the same job as binenv and was written much earlier, first in the k3sup project and then ported over to its own project.

OpenFaaS, inlets, k3sup, arkade and others are all released with the same format. You can see how we determine the rules in our get.go package.

https://github.com/alexellis/arkade/blob/master/pkg/get/get.go

And our unit tests which exercise the paths:

ht

[2020-12-25 23:28] EnigmaCurry opened #299 "`get kustomize` with alternative version not working"
## Expected Behaviour
To download a newer version of kustomize, I should run:

[code]

## Current Behaviour

However this what I get:

[code]

## Possible Solution

Remove the hard-coded 3.8.1 version from the URL string. I will make a PR.

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* What Kubernetes distribution are you using?

[code]

* Operating System and v

[2020-12-31 21:38] phillipsj opened #301 "HashiCorp products are not using the latest versions as the default."
## Expected Behaviour

When executing the following command I expect version 0.14.3 of Terraform to be the version that is installed, not 0.13.1. The same thing happens when installing Packer.

[code]
## Current Behaviour

By default Arkade installs older versions of both Packer and Terraform.

## Possible Solution

Update the default values for version to the latest release.

## Context

I just r

[2021-01-03 10:18] thejusjj commented on #74
**arkade install postgresql** gives
`Using kubeconfig:
Node architecture: ""
Error: only Intel, i.e. PC architecture is supported for this app`
`arkade version
            _             _
  __ _ _ __| | ____ _  __| | ___
 / _` | '__| |/ / _` |/ _` |/ _ \
| (_| | |  |   < (_| | (_| |  __/
 \__,_|_|  |_|\_\__,_|\__,_|\___|

Get Kubernetes apps the easy way

Version: 0.6.35
Git Commit: df53c4f6d9c604

[2021-01-03 10:22] thejusjj commented on #74
[code]

[2021-01-08 15:50] jceb opened #303 "get yq fails with 404"
## Expected Behaviour
Executing `arkade get yq` should install `yq`

## Current Behaviour
The following error message is shown:

[code]

## Steps to Reproduce (for bugs)
1. Install ArchLinux .. or I guess any other Linux system
2. Run `arkade get yq`

## Context
Would be great to have `yq` through arkade.

## Your Environment

* Operating System and version (e.g. Linux, Windows, MacOS):

[code]

*

[2021-01-08 15:53] alexellis commented on #303
I can reproduce this on Linux.

@nitishkumar71 please could you take this on and submit a fix in a PR?

[2021-01-08 15:54] alexellis commented on #303
/asign nitishkumar71

[2021-01-08 15:54] alexellis commented on #303
/asign: nitishkumar71

[2021-01-08 15:55] #294 closed

[2021-01-08 16:03] #298 closed

[2021-01-08 16:03] alexellis commented on #298
/add label: wontfix

[2021-01-09 12:44] nitishkumar71 opened #306 "update minio app to provide download information about minio client"
update minio App to provide download information about minio client

[2021-01-09 18:04] #306 closed

[2021-01-12 19:47] #303 closed

[2021-01-13 04:25] jceb commented on #303
:+1:

[2021-01-14 09:42] didi-home opened #309 "$KUBECONFIG not honored by internal helm call"
While using "arkade install", on execution of internal helm binary, $KUBECONFIG from logged-in user env is not honored.
It seems it is expecting the config to be at ~/.kube/config
(Command: /root/.arkade/bin/helm)

## Expected Behaviour
the kube config configured in $KUBECONFIG should be read

## Current Behaviour
[code]
Please note that calling the helm binary on its own works correctly, it just

[2021-01-14 19:36] #309 closed

[2021-01-14 19:38] alexellis commented on #309
You must not run arkade as root. I can put code in to prevent it, and maybe that's the only answer?

If you would like technical assistance, please join slack.

K3sup and arkade are not designed to be run on your master. Run them from your client and you should be fine.

[2021-01-14 19:38] alexellis commented on #309
/lock

[2021-01-19 13:46] rhorridge opened #311 "`arkade install APP --set` doesn't work for all apps"
Discovered with Redis but applies to a number of apps.

## Expected Behaviour
`arkade install redis --set` => `Error: flag needs an argument: --set`

## Current Behaviour
`arkade install redis --set` => `Error: unknown flag: --set`

The following apps appear to be affected:
[code]

## Possible Solution
I notice that the `--set` flag is not documented for these apps - is this intended? Otherwise it

[2021-01-19 13:47] Waterdrips commented on #311
Hey @rhorridge Thanks for the issue!

Ill take a look at those apps.

I can see straight away that some of those apps wont have a `--set` because they are not helm based commands. (docker-registry-ingress for example is just yaml files appled)

There are some `--set` missing from others which do use helm. Ill get those added soon

[2021-01-19 13:49] Waterdrips commented on #311
Places to check:

- [ ] argocd
- [ ] crossplane
- [ ] docker-registry
- [ ] docker-registry-ingress
- [ ] info
- [ ] kube-image-prefetch
- [ ] kubernetes-dashboard
- [ ] linkerd
- [ ] metrics-server
- [ ] openfaas-ingress
- [ ] osm
- [ ] portainer
- [ ] redis
- [ ] registry-creds
- [ ] tekton

[2021-01-19 13:50] rhorridge commented on #311
Thanks, much appreciated! Let me know if I can help with anything.

[2021-01-23 20:30] developer-guy opened #313 "[Feature request] automatic update for installed tools"
Let's talk about the package managers, they all have an in-built detection mechanism for outdated packages. For example, homebrew is a package manager for macOS, it has an "outdated" subcommand, and this command will give output about the packages that need to update. So, it would be nice if we can support the "outdated" feature for arkade tool too in my opinion.

## Expected Behaviour

$ arkade o

[2021-01-24 17:34] nitishkumar71 opened #314 "Add Support of OPA Gatekeeper"
Arakde has no support of [Open Policy Agent(OPA) GateKeeper](https://github.com/open-policy-agent/gatekeeper)
## Expected Behaviour

User should be able to install OPA from arkade
## Current Behaviour

There is no installation support of OPA
## Possible Solution

Add installation support for OPA

[2021-01-24 17:37] nitishkumar71 commented on #314
Derek assign: me

[2021-01-24 17:38] nitishkumar71 commented on #314
I will work on this.

[2021-01-26 18:29] nitishkumar71 commented on #314
/assign me

[2021-01-27 08:23] Christian-Rau opened #316 "Add Longhorn to set up persistent storage"
Longhorn is a great tool used to set up and manage persistent data storage in any cluster.
It comes with a simple GUI.

[https://github.com/longhorn/longhorn](https://github.com/longhorn/longhorn)

Thank you!

[2021-01-28 13:32] alexellis commented on #316
I'm open to someone working on a PR for this, can you give some details on the installation method? Does it use helm?

Is it available for any other architecture other than `x86_64`? Potentially ARM64 but not ARMHF?

[2021-01-28 13:36] alexellis commented on #313
/set title: [Feature request] automatic update for installed tools

[2021-01-28 13:51] #311 closed

[2021-01-28 14:32] Christian-Rau commented on #316
Sounds great. For this purpose, there are 2 installation methods.

- kubectl
- Helm

Installation of Longhorn on K3s clusters, require some extra setup.
According to the docs:

- Longhorn v0.7.0 or higher.
- open-iscsi or iscsiadm installed on the node.

The helm charts are located here:
[https://github.com/longhorn/charts](https://github.com/longhorn/charts)

Helm 2:
`helm install ./longhorn/char

[2021-01-30 15:22] alexellis opened #317 "Namespace warning when when installing openfaas"
We're getting a namespace warning when when installing openfaas

## Expected Behaviour

A fresh installation would give no warnings

## Current Behaviour

[code]

## Possible Solution

Just apply from the YAML file, don't try to create the namespaces again

## Steps to Reproduce (for bugs)

1. Create a cluster with kind
2. arkade install openfaas

## Context

I just ran into this and it was confus

[2021-01-30 15:22] alexellis commented on #317
@Waterdrips PTAL?

[2021-01-30 15:27] Waterdrips commented on #317
PR opened #318

[2021-01-30 15:33] #317 closed

[2021-01-31 12:47] antoineco opened #319 "ingress-nginx appears twice in 'arkade install --help'"
I played with `arkade` for the first time today and noticed this in the output of the aforementioned command:

[code]

Just a small detail but I thought I could report anyway.

[2021-01-31 13:03] antoineco opened #320 "Update docs and help flag for inlets-operator"
The docs at https://docs.inlets.dev/#/tools/inlets-operator mention

_(side note: notice the typo in the var)_

But when I try to install the operator using `arkade`, I'm denied the installation with:

[code]

Even the output of `--help` says

Did the model change recently to "paid only" or is it a bug in `arkade`? (first time user)

[2021-01-31 14:33] alexellis commented on #320
We'll get the docs updated. 👍

The inlets-operator's README is all up to date:

https://github.com/inlets/inlets-operator

https://github.com/inlets/inlets-operator/issues/117

Btw, we have also allowed inlets PRO for personal use at work, so if you find value in the project, please consider supporting it. As a side effect you'll have secure infrastructure, where we previously warned against using

[2021-01-31 14:35] alexellis commented on #320
@utsavanand2 do you mind removing any reference in the inlets docs to the OSS version of the proxy with the inlets-operator? I think I have covers most of it in https://github.com/inlets/docs/commit/fbecf716b53ef313e8b203d4e0fa313d9fc314c8

[2021-01-31 14:36] alexellis commented on #320
/set title: Update docs for inlets-operator

[2021-02-01 10:32] alexellis commented on #319
@nitishkumar71 would you like to take this?

[2021-02-01 10:32] #320 closed

[2021-02-01 10:32] alexellis commented on #320
I think we are covered now. If you see anything else, just paste the link here - @utsavanand2 is also going to take a quick pass over content.

[2021-02-01 10:46] nitishkumar71 commented on #319
Sure @alexellis .
Thanks @antoineco for raising it.

[2021-02-01 11:46] antoineco commented on #320
/reopen
because the flag is still misleading:

https://github.com/alexellis/arkade/blob/6680f8346be4a57a7edd345b1dca0c10e8d61234/cmd/apps/inletsoperator_app.go#L40

/assign: antoineco

[2021-02-01 11:54] antoineco commented on #319
@nitishkumar71 @alexellis I couldn't assign myself but just sent a PR ☝️  Feel free to close it if that work has already been done.

[2021-02-01 17:13] utsavanand2 commented on #320
@antoineco I see why you got confused, and I'm updating the docs accordingly, but still to clarify
If you have the contents of the license in an env var, or want to just paste the license key use `--license` or `-l` flag.
If you have the license in a text file, you can provide the path to the license text file using the `--license-file` or `-f` flag.

[2021-02-01 17:47] antoineco commented on #320
@utsavanand2 yes that part is clear, I just installed `arkade` thinking I would be able to use it to deploy some free software and it took me some time to research the project an figure out it wasn't the case. I figured I could clarify the wording of the flag since it says

**if using inlets-pro**

but there is no such thing as not using inlets-pro. That's it :) I think the issue is solved now.

[2021-02-01 21:34] #319 closed

[2021-02-02 14:04] alexellis opened #324 "Add natscli download"
The natscli can be used with nats that comes with openfaas/faasd

https://github.com/nats-io/natscli/releases/

Example use-case where I needed this -> https://lucasroesler.com/posts/2021/event-driven-faasd-with-postgres/ from @LucasRoesler

[2021-02-02 14:04] alexellis commented on #324
@developer-guy or @nitishkumar71 would you like to take this one?

[2021-02-02 14:08] developer-guy commented on #324
yes, I would like so 🙏

[2021-02-02 14:26] networkop commented on #76
If no one has done this already, I can pick this up.

[2021-02-02 19:56] #324 closed

[2021-02-03 17:52] HarryGogonis opened #327 "linkerd2 fails to download"
Downloading the linkerd2 client binary fails

## Expected Behaviour
`ark get linkerd2` installs linkerd2

## Current Behaviour
[code]
## Possible Solution
append the arch to download URL

## Steps to Reproduce (for bugs)

1. `arkade get linkerd2 -v stable-2.9.2`

## Context
Can't install linkerd2 with arkade

## Your Environment

* Operating System and version (e.g. Linux, Windows, MacOS):

[code]

[2021-02-04 20:55] Christian-Rau commented on #316
I would like work on PR on this, I just don't have the skills to do it.
However, I would like to learn how to do it.

[2021-02-06 09:42] alexellis commented on #327
Hi thanks for the issue.

I'm confused as to why `2.9.0` would give a 404? Did the Linkerd team delete the binary for that release? Why does changing `2.9.1` fix the issue?

Alex

[2021-02-06 09:43] #327 closed

[2021-02-06 09:43] alexellis commented on #327
I'll merge as I saw the same as yourself. Do we know why? cc @wmorgan

[2021-02-06 09:46] alexellis commented on #327
Here's the latest release -> https://github.com/alexellis/arkade/releases/tag/0.7.2

[2021-02-06 18:01] wmorgan commented on #327
We removed that specific release. See text at https://github.com/linkerd/linkerd2/releases/tag/stable-2.9.0

[2021-02-06 19:58] jasonprado opened #330 "arkade get mc fails on Linux ARM (RaspberryPi)"
## Expected Behaviour
`$ arkade get mc` should download and install the minio client (mc) to `~/.arkade`

## Current Behaviour
[code]

The URL seems to include a more specific description of the architecture, `linux-armv7`. There is a URL on min.io: `https://dl.min.io/client/mc/release/linux-arm/mc`, which should probably be referred to.

## Possible Solution
Change how the `mc` URL is generated t

[2021-02-06 20:00] alexellis commented on #330
Hi @jasonprado are you open to submitting a PR to fix this for armv7?

Alex

[2021-02-06 20:02] jasonprado commented on #330
I wasn't planning on it but sure I can try and fix it.

[2021-02-07 09:35] alexellis commented on #330
Thanks.

Let us know if you need any help setting up or sending your first PR. Cc @nitishkumar71 @yankeexe

[2021-02-07 09:38] alexellis commented on #316
This is where users are likely to find this confusing.

Is there any documentation for adding that package to kind or k3s?

[2021-02-07 19:35] jasonprado commented on #330
I'm a GitHub newbie so let me know if there's anything else I should do with this PR: #331

[2021-02-09 04:13] jasonprado commented on #330
I added a test (and found an additional bug): #332

[2021-02-09 04:17] jasonprado opened #333 "Failures in get_test.go for faas-cli"
## Expected Behaviour

Tests should pass when running `make all`

## Current Behaviour

[code]

## Possible Solution

faas-cli has shipped release 0.13.2. The test should expect that now.

## Steps to Reproduce (for bugs)

1. `make all`

## Context

I see failures in my local environment.

## Your Environment

* What Kubernetes distribution are you using?

N/A

* Operating System and version (e.g.

[2021-02-09 04:30] nitishkumar71 commented on #330
@jasonprado Thanks for correcting it, somehow I missed these thing in test case.

[2021-02-09 19:35] jasonprado commented on #333
Working on a fix in #334

[2021-02-10 10:11] alexellis commented on #333
Thank you :+1:

[2021-02-10 10:11] #333 closed

[2021-02-17 19:30] jonico opened #342 "arkade get kustomize currently fails on all platforms"
arkade get kustomize is broken by the changes introduced in 6a810bf:

[code]

## Expected Behaviour

arkade should install kustomize and not error out

## Current Behaviour

arkade is errorring out:

[code]

## Possible Solution

Opened #341 with a fix based on #300

## Steps to Reproduce (for bugs)

1. just run `arkade get kustomize`

## Context
N/A

## Your Environment

N/A

* Operating System a

[2021-02-21 09:24] #299 closed

[2021-02-21 09:24] #342 closed

[2021-02-21 09:27] #314 closed

[2021-02-21 12:06] r-darwish commented on #285
@alexellis Just being curious - can you explain how deeply does arkade relies on bash? Do you think it will take a reasonable amount of work to remove this dependency?

[2021-02-21 12:09] alexellis commented on #285
Hi, I'm not sure how to help you here, because you're asking a deeply technical question with no context.

Alex

[2021-02-21 12:14] r-darwish commented on #285
It's more like asking if maybe I can help. What I mean to ask is whether the fact that arkade depends on bash is something temporary that you would like to get rid of in the future or is it too deeply integrated into the tool and cannot be removed.

[2021-02-21 13:25] alexellis commented on #285
I still don't understand what you're trying to do and why the use of bash causes you problems?

Can you explain as if we'd never spoken before (we haven't) and like you'd given me no context yet (you haven't)?

[2021-02-21 13:58] r-darwish commented on #285
I will try. What mostly makes Go applications so appealing is that they compile to a static binary that have all dependencies inside it, which makes them easy to install, and the also tend to work in Windows out of the box because they mostly require no external dependency.

So what I'm saying here that requiring bash as an external dependency is somewhat of... a burden, I suppose? It makes Window

[2021-02-22 20:09] Waterdrips commented on #330
/close

[2021-02-22 20:09] #330 closed

[2021-02-25 17:52] tuananh opened #344 "add argocd cli to tools?"
they have linux/mac/windows build for amd64 only.

[2021-02-25 17:56] alexellis commented on #344
If you feel like it would be useful for you, then I am open to you adding it.

@jsiebens could you use this app too?

[2021-02-26 05:00] tuananh commented on #344
@alexellis how do we deal with unsupported platform?

[2021-02-26 07:06] tuananh commented on #313
to do this, we need to
- find out what tools are installed
- find out current version of installed tools
- find out the latest version of the installed tools.

all of which haven't been implemented right?

[2021-02-27 08:51] tuananh commented on #313
just realize we already have `findGitHubRelease()` for that for those hosted on github.

for tools like kubectl or from hashicorp, we will have to find an api to get it. luckily, there aint many of those.

[2021-02-27 14:10] #344 closed

[2021-02-27 15:55] tuananh commented on #313
@alexellis

i'm drafting a PR to add this but i'm not sure if this is the way to go

basically, i will add `VersionCommandArgs` and `VersionRegex` to execute the command + args and find the version in regex for the installed tools.

By installed tools, I mean those executable files in `.arkade/bin`, is executable and with name matched one of those from tools arkade supported.

The draft PR is up o

[2021-02-28 16:45] developer-guy opened #347 "[feature request] we need to add falco as an app"
we can support Falco the container runtime security tool as an app, they have charts that we can use.
https://github.com/falcosecurity/charts

## Expected Behaviour

[code]
This command should install the Falco to the cluster using its Helm chart.

## Current Behaviour

There is no solution exist yet for Falco.

## Possible Solution

We can use the Helm charts of Falco to install it to the cluster

[2021-02-28 16:46] developer-guy commented on #347
I'm a volunteer to do this issue. 👍

[2021-03-01 18:35] tuananh opened #348 "add tekton cli to tools"
add tekton cli for tools. since we already have tekton app, maybe this should be added too.

i was trying out tekton and it fails when installing cli :)

[code]

they support lots of os & platforms https://github.com/tektoncd/cli/releases

![image](https://user-images.githubusercontent.com/627278/109542253-6a11e300-7af7-11eb-8aed-dc26143dcf2d.png)

[2021-03-02 20:01] alexellis opened #350 "Update Istio app to use istioctl and 1.8"
Update Istio app to use istioctl and 1.8

## Expected Behaviour

Istio 1.18 is now available and is installed via a CLI (similar to how Linkerd works)

## Current Behaviour

Still using the older helm chart

## Possible Solution

Update https://github.com/alexellis/arkade/blob/master/cmd/apps/istio_app.go

* Add `istioctl` as an app to `arkade get` (in `tools.go`)
* Use `istioctl` to install Istio

[2021-03-02 20:40] howardjohn commented on #350
Any reason to prefer 1.8 vs 1.9?

let me know if you run into any issues

[2021-03-03 04:08] nitishkumar71 commented on #350
I will work on it.

[2021-03-03 20:57] alexellis commented on #350
Thank you @nitishkumar71

[2021-03-04 08:34] alexellis commented on #347
@developer-guy please spend more time on filling out this issue template, it seems rushed.

[2021-03-07 14:26] developer-guy commented on #347
@alexellis I tried to add all the details in a proper way, can you review it, thank you.

[2021-03-08 19:00] Waterdrips opened #353 "[App] Issuer app for configuring a DNS01 solver"
## Expected Behaviour

Something like
[code]

We have the manifests somewhere in the OFC / ofc-bootstrap archived repos.

It would set secrets and configure an issuer using the provided method, we can support stuff like `cloudflare` `digitalocean` `aws route53` `civo` etc?

[2021-03-09 03:36] nitishkumar71 opened #354 "Include support kube-ps1 in tools"
We want to include support of [kube-ps1](https://github.com/jonmosco/kube-ps1) in `arkade get`
## Expected Behaviour

`arkade get` does not provides installation support of `kube-ps1`
## Current Behaviour

`arkade get` should provides installation support of `kube-ps1`
## Possible Solution

Include `kube-ps1` as another tool in arkade

[2021-03-09 20:38] Xumeiquer opened #356 "Installing openfaas error: invalid valid chart repository"
## Expected Behaviour
By running `arkade install openfaas` I expect openfaas to be installed.

## Current Behaviour
I am getting the following error:

[code]

## Possible Solution
I have no clue

## Steps to Reproduce (for bugs)
1. Download the latest version from GH
2. execute `arkade install openfaas`

## Context
I want to play with openfaas localy

## Your Environment

* I am using minikube ver

[2021-03-09 21:48] alexellis commented on #356
Hi, I just tried this and I can't reproduce any error here.

I would suggest you check your local network, does it ban access to S3 / GitHub servers?

[code]

Alex

[2021-03-09 21:48] #356 closed

[2021-03-17 16:42] #220 closed

[2021-03-17 16:48] #256 closed

[2021-03-17 17:36] Waterdrips commented on #353
https://github.com/openfaas/ofc-bootstrap/blob/master/templates/issue-prod.yml something like this we used on OFC

[2021-03-17 17:38] Waterdrips commented on #353
https://github.com/openfaas/ofc-bootstrap/blob/master/templates/k8s/tls/issuer-prod.yml This is an example with some go templating

[2021-03-24 08:46] #350 closed

[2021-03-24 08:47] #347 closed

[2021-03-29 13:28] art-cg opened #359 "Helm install on Windows 10 fails"
## Expected Behaviour
Helm should be installed correctly. Or better detect if helm is allready installed and skip the installation.

## Current Behaviour
Helm 3.5.3 is allreday installed before (not with arkade)

Git Bash:
$ arkade install cert-manager
Using Kubeconfig: C:\Users\georg/.kube/config
Client: x86_64, MINGW64_NT-10.0-19042
2021/03/29 15:13:55 User dir established as: C:\Users\georg/.ar

[2021-03-31 08:44] alexellis opened #360 "Duplicate info message Using Kubeconfig"
## Expected Behaviour

Just one info message

## Current Behaviour

[code]

## Possible Solution

Investigate cause and fix

## Steps to Reproduce (for bugs)

1. `arkade install openfaas`

## Context

Looks sloppy / messy.

## Your Environment

Latest version of arkade.

[2021-03-31 08:45] alexellis commented on #360
@cpanato do you want to take a look at this?

[2021-03-31 08:46] alexellis commented on #359
Interesting to see this reported, because I am pretty sure I ran through this workflow and it worked for me.

@nunix can you take a look with Git Bash and advise?

[2021-03-31 09:40] art-cg commented on #359
It depends if the Bash is startet as User or as Admin.
It seems like it works as Admin. But than i have to install Helm, kubectl and others on Admin-Account, or link it.

I do not know if the First 3 Lines are normal for starting Git bash as user.

# User-Account:

**bash: autoload: command not found
bash: emulate: command not found
bash: setopt: command not found**

georg@GEORG-T15 MINGW64 ~
$ ar

[2021-03-31 14:49] nitishkumar71 commented on #354
@patbi would like to work on it?

[2021-03-31 16:28] patbi commented on #354
Hello @nitishkumar71 of course how can I contribute.

[2021-03-31 17:58] nitishkumar71 commented on #354
Look at this [section](https://github.com/alexellis/arkade#install-a-cli-tool), arkade provides easy way to install a lot of tools.

We want to add support of kube-ps1. You need to add support into [tools](https://github.com/alexellis/arkade/blob/master/pkg/get/tools.go) file. Follow the contribution [guidelines](https://github.com/inlets/inlets/blob/master/CONTRIBUTING.md) to know about how to co

[2021-03-31 18:17] patbi commented on #354
@nitishkumar71 Great I look at it in the night

[2021-04-01 09:32] cpanato commented on #360
/assign

[2021-04-03 22:26] shalomb opened #363 "Support non-root user and tools installations better"
## Expected Behaviour

It's not always possible to install tools like `arkade` into the system directories via `sudo`, etc - secure environments.
Most "sensible" tools (`go get`, `pip`, `brew`, `cargo`, etc) detect if they are running as a regular non-root user and install to user directories instead - `arkade` should do the same (by default??) on systems where a `~/bin/` or `~/.local/bin` directo

[2021-04-06 09:08] alexellis commented on #363
Hi @shalomb thanks for showing an interest in this project.

I'm a little confused when you say "don't install to system directories", because:

1) Arkade's installer when run as a normal user, won't install to a system directory
2) Arkade never writes to system directories.

I'd love to help you. Can you explain what I'm missing?

[2021-04-06 09:09] alexellis commented on #363
/set title: Question about installing arkade

[2021-04-06 09:23] #360 closed

[2021-04-06 10:26] shalomb commented on #363
@alexellis - Thanks for `arkade` and the effort put it to it - I can see it's use as a time-saving/convenience tool but it's not been a smooth user-experience for me so far.

I would have hoped I described the issue well enough already, it's not a question but a suggestion for improvement (to avoid an actual issue) on the user experience.  Let me try again.

## Issue 1 - Complete the installation

[2021-04-06 23:31] ssmiller25 opened #364 "Update Civo to latest version"
The civo version bundled, 0.6.27 is a bit out of date.  With the addition of regions within the Civo infrastructure, a later version would be far more useful.

[2021-04-07 07:14] #364 closed

[2021-04-08 06:04] nunix commented on #359
Hi @art-cg @alexellis

I did an install from scratch with git bash of helm and then cert-manager.
The only error, which is a normal one for me, was the connection to K8s (not running at the time of testing), however I think I understand the initial request but not sure if we're dealing here with a "should work as intended":
![image](https://user-images.githubusercontent.com/905874/113974615-83b4f1

[2021-04-08 07:57] art-cg commented on #359
@nunix Thanks for the investigation and the infos.
Yes this pc is under GOP.
I **can** create Folder and Files in C:\Users\georg\AppData\Local\Temp\ with my normal user account.

I noticed that you do not have the 3 warnings that i have while starting Git Bash as user.
Yes these are 2 different Accounts. A user account and an local admin. I could work with the local admin account and install all t

[2021-04-13 01:13] nitishkumar71 commented on #354
@patbi How can we help you to work on this?

[2021-04-13 06:09] patbi commented on #354
Hello @nitishkumar71 Thank you, I need to do some reading during the day and then come back with more questions.

[2021-04-13 16:06] patbi commented on #354
Look at this [section,](https://github.com/alexellis/arkade#install-a-cli-tool) arkade provides easy way to install a lot of tools.

--------------------------------done----------------------------------------

I have already cloned the project with the command:

# Windows users with Git Bash
curl -sLS https://dl.get-arkade.dev | sh

[2021-04-13 16:19] patbi commented on #354
@nitishkumar71  I went through [contribution guidelines](https://github.com/inlets/inlets/blob/master/CONTRIBUTING.md)

and joined [the community](https://community.gitpod.io/top/monthly)

[2021-04-13 16:22] patbi commented on #354
@nitishkumar71 my concern is how to contribute to add support in the [tool file](https://github.com/alexellis/arkade/blob/master/pkg/get/tools.go)

Thank you.

[2021-04-14 13:43] nitishkumar71 commented on #354
@patbi You can look at this [example](https://github.com/alexellis/arkade/blob/505ba1ca86dc4f2707965c1a493a10537b98685e/pkg/get/tools.go#L957), where we have added support for istio in arkade using go template.

[2021-04-14 13:51] patbi commented on #354
@nitishkumar71 Great I look at.

[2021-04-16 09:25] alexellis commented on #348
Happy for you to do this @tuananh - do you want to go ahead with your PR?

[2021-04-16 09:26] alexellis commented on #169
@nunix please could you confirm if this is still an issue?

[2021-04-16 12:42] #348 closed

[2021-04-18 06:06] evalsocket commented on #227
@alexellis can this assign to me?

[2021-04-18 06:12] evalsocket opened #371 "[APP] kyverno"
Kyverno is a popular policy engine for Kubernetes, it would be awesome if Akade supported the installation.

## Expected Behaviour
`arkade install kyverno` would install and configure kyverno for K8s

Happy to PR this.

## Current Behaviour
Not Exist

## Possible Solution
The Kyverno Helm chart https://github.com/kyverno/kyverno/tree/main/charts/kyverno can be used to install kyverno.

## Steps to

[2021-04-18 06:13] evalsocket commented on #371
/assign @evalsocket

[2021-04-18 07:14] alexellis commented on #371
Please can you fill out the whole issue template including the fields that you deleted 🤷‍♂️

[2021-04-21 12:08] hholst80 opened #373 "[APP] k9s"
Pre-approval to package K9s tool for installation with Arkade?

https://k9scli.io/

[code]

## Are you a GitHub Sponsor (Yes/No?)

Check at: https://github.com/sponsors/alexellis
- [ ] Yes
- [x] No

[2021-04-21 22:07] ryantfowler opened #374 "Bump docker-compose version"
Arkade currently fetches `docker-compose` 1.27.4, and the most recent version is [1.29.1](https://github.com/docker/compose/releases/tag/1.29.1)

## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* What Kubernetes distribution are you using?

[code]

* Operating System and version (e.g. Linux, Windows,

[2021-04-22 08:52] alexellis commented on #374
@developer-guy do you want to take a look at this please?

[2021-04-22 08:52] alexellis commented on #374
@ryantfowler thanks for your interest here. We'll take a look. Are you aware of the `--version` flag that you can pass in?

[2021-04-22 09:30] developer-guy commented on #374
Hello @ryantfowler, yeah Alex is right, I just tested the installation of the docker-compose 1.29.1 with the following command
`arkade get docker-compose --version=1.29.1`

Everything is working, so, can you please the same command above 🙏

[2021-04-22 09:59] ryantfowler commented on #374
Hi @alexellis I did stumble across the `--version` flag after opening this PR, and I was successful in installing the latest version of `docker-compose` with it. I was under the impression that there might be a desire to update the default version. My apologies if I misunderstood how this project usually goes about handling that.

@developer-guy I can confirm that I am able to download `1.29.1` wi

[2021-04-22 09:59] #374 closed

[2021-04-22 10:03] alexellis commented on #374
@developer-guy happy for you to send a PR to update the version to the latest :+1:

[2021-04-22 11:12] alexellis commented on #373
We already have K9s, so I'm confused what you're asking for here?

Can you elaborate @hholst80?

See also:
https://github.com/alexellis/arkade/blob/master/pkg/get/tools.go#L381

[2021-04-22 11:13] alexellis commented on #371
@evalsocket please see my comment, or we'll need to close your issue and PR if you don't respond.

[2021-04-22 11:22] hholst80 commented on #373
Oh, I could not see it and it seemed like an obvious oversight.

Well, on my part then it seems. We can close this. Thank you!

[2021-04-22 11:23] #373 closed

[2021-04-22 14:11] developer-guy commented on #374
Of course, Im going to do that soon @alexellis

[2021-04-22 17:17] Christian-Rau commented on #316
sorry for late reply.

Rancher docs always confuse me... so they did again.

It seems there is an **open-iscsi** installer that does the trick. It enables the iscsi deamon as well.
`kubectl apply -f https://raw.githubusercontent.com/longhorn/longhorn/v1.1.0/deploy/iscsi/longhorn-iscsi-installation.yaml`
and then the installation

There is also an Environment Check Script:
`curl -sSfL https://raw.g

[2021-04-27 07:46] modzilla99 opened #377 "Addition of Kubetail"
## Expected Behaviour
When running arkade get kubtail it will go and install it for me.

## Current Behaviour
It isn't added yet so nothing happens

## Possible Solution
Adding it.

## Steps to Reproduce (for bugs)
1. arkade get kubetail

## Context
I'd love for kubetail to be added as it simplifies handling log files of deployments with replicas a lot.
(https://github.com/johanhaleby/kubetail)

I

[2021-04-28 19:34] enenum opened #378 "installing istio on k3s without prometheus fails"
## Expected Behaviour
 ark install istio --set=prometheus.enabled=false --cpu 60m --kubeconfig /etc/rancher/k3s/k3s.yaml
<happy installer output>

## Current Behaviour
Node architecture: "amd64"
Client: "Linux"
2021/04/28 12:20:18 User dir established as: /home/ubuntu/.arkade/
istioctl already exists, skipping download.
Running istio check, this may take a few moments.

Checking the cluster to mak

[2021-04-29 13:46] Waterdrips opened #379 "Add command to add commands"
We can add a hidden command to build the template of a new command, for chart apps we only need to provide 4 things to get a "default" install done.

## Expected Behaviour

`arkade new-app --name myNewApp --command my-new-app`

The command would then need registering by hand to cobra and the urls adding for helm. We can also have args for those

## Current Behaviour

copy/paste

## Possible Soluti

[2021-04-29 14:55] alexellis opened #381 "[App] InfluxDB"
## App

Add InfluxDB using [its helm chart](https://github.com/influxdata/helm-charts) so that users can get storage for time-series readings and IoT data.

Use-case: [Growlab data logger](https://github.com/alexellis/growlab/tree/master/bme280-logger) when OpenFaaS is running on K3s.

[2021-04-29 16:29] Waterdrips opened #382 "[CLI] influxdb v1"
Add the influxdb CLI to `arkade get`

Add the V1 cli https://github.com/influxdata/influxdb/releases from here
## Expected Behaviour

## Context

We are adding the influx helm chart, so would make sense to add the cli.

[2021-04-29 16:41] Addyvan opened #383 "Add argo-workflows"
I saw argocd available as an installable app with arkade and think argo-workflows (argo) would also be a great candidate for the tool.

I've got a first take at a PR for this which I will link to this issue.

## Expected Behaviour

[code]

Typically, a single user/admin would install argo onto a cluster, then it would be used by many others via the UI or the CLI. With that in mind it would perhaps

[2021-04-30 08:44] developer-guy commented on #382
I'm currently working on this 🙋🏻‍♂️

[2021-04-30 09:02] developer-guy opened #387 "[CLI] trivy - vulnerability scanner for Container Images, Git Repositories, and Filesystems"
The trivy is a simple and comprehensive vulnerability scanner for Container Images, Git Repositories, and Filesystems. Suitable for CI.

To find more useful and detailed information, please follow the [link](https://github.com/aquasecurity/trivy).

## Expected Behaviour

We can simply install trivy by using the following command:
[code]

## Current Behaviour

There is no support for trivy right no

[2021-04-30 09:02] developer-guy commented on #387
I'm currently working on this 🙋🏻‍♂️

[2021-05-02 00:01] cmonty14 opened #388 "Error: open /tmp/portainer.yaml: permission denied"
## Expected Behaviour

Installing portainer with arkade should complete w/o error.

## Current Behaviour

Trying to install portainer fails with this error:
`Error: open /tmp/portainer.yaml: permission denied`

## Steps to Reproduce (for bugs)

1. curl -sLS https://dl.get-arkade.dev | sudo sh
2. ark get helm
3. sudo mv /root/.arkade/bin/helm /usr/local/bin/
4. sudo chmod 755 /usr/local/bin/helm
5.

[2021-05-02 12:59] cmonty14 commented on #388
Not reproducable after fixing issue [svclb-traefik-<nnnnn> CrashLoopBackOff](https://github.com/alexellis/k3sup/issues/327)

[2021-05-02 12:59] #388 closed

[2021-05-02 13:07] cmonty14 opened #389 "Failure installation metrics-server"
## Expected Behaviour

Installation of app "metrics-server" completed w/o error.
## Current Behaviour

[code]
## Steps to Reproduce (for bugs)

1. ark install metrics-server

## Context

## Your Environment

* What Kubernetes distribution are you using?

[code]

* Operating System and version (e.g. Linux, Windows, MacOS):

[code]

* What arkade version is this?

[code]

## Are you a GitHub Sponsor

[2021-05-03 09:10] #389 closed

[2021-05-03 09:11] alexellis commented on #389
K3s ships with metrics-server built-in, so there's no need for you to install this.

For context, what were you trying to do when you decided you needed to install it separately? Did you see an error maybe or were you following a tutorial?

[2021-05-03 09:11] alexellis commented on #388
@Waterdrips any thoughts?

[2021-05-03 09:12] alexellis commented on #388
@cmonty14 if arkade / k3sup are both of use to you, please consider becoming a sponsor using the link above. You're also welcome to join the community on [OpenFaaS Slack](https://slack.openfaas.io/)

[2021-05-03 09:14] Waterdrips commented on #388
I'd guess /tmp/portainer.yaml was created by root on a previous run? Or /tmp/ permissions are not writable on the system

[2021-05-03 09:15] alexellis commented on #388
@cmonty14 were you running arkade with `sudo` or as root?

[2021-05-03 22:48] cmonty14 opened #390 "Pending pods svclb-ingress-nginx-controller-<nnnnn> after installing ingress-nginx"
## Current Behaviour

Since installation of ingress-nginx I get 4 pending pods:
[code]

## Steps to Reproduce (for bugs)

1. ark install ingress-nginx
2. kubectl get pods -A

## Context

In my understanding the installation was successfull:
[code]
Can you please advise
- why these pods are pending,
- how to fixt this if required?

Is this related to the output of
[code]
## Your Environment

* What

[2021-05-04 18:04] alexellis commented on #390
Hi @cmonty14 we are unfortunately not able to give Kubernetes training and support to users.

In this instance, you have K3s pre-installed with Traefik which is conflicting with Nginx.

I've noticed you've opened half a dozen to a dozen issues asking for support. Unfortunately, there are not enough hours in the day.

You may like to consider becoming a member of the Kubernetes or Rancher Slack whe

[2021-05-04 18:04] #390 closed

[2021-05-09 18:26] developer-guy opened #393 "[BUG] arkade install command is not working with KUBECONFIG environment variable"
If you are using the `KUBECONFIG` environment variable to define the path for the Kubernetes configuration file, the install command of the `arkade` tool is not working.

## Expected Behaviour

It should consider this environment variable to find the Kubernetes configuration file.

## Current Behaviour

It is not working with the `KUBECONFIG` environment variable.

## Possible Solution

## Steps t

[2021-05-09 18:34] alexellis commented on #393
@Waterdrips can you look into this please?

[2021-05-10 07:47] Waterdrips commented on #393
This is an issue with relative paths and kubecong. If you set `export KUBECONFIG=$PWD/kubeconfig`  then everything works.

[2021-05-10 07:47] #393 closed

[2021-05-12 11:29] #381 closed

[2021-05-12 11:44] #387 closed

[2021-05-12 16:17] Waterdrips opened #395 "[CLI] flux2 cli"
## Expected Behaviour

`arkade get flux`

https://github.com/fluxcd/flux2/releases

We want to be able to get the flux2 cli using arkade

## Current Behaviour

not implemented

## Possible Solution

add it to the apps!

[2021-05-12 19:28] developer-guy commented on #395
/assign @developer-guy

[2021-05-13 08:21] #395 closed

[2021-05-15 12:03] dirien opened #400 "[CLI] polaris"
![grafik](https://user-images.githubusercontent.com/38325136/118360069-4d2d6d80-b586-11eb-888a-040a50e19be6.png)

Add the polaris CLI to arkade get

Add the current polaris cli https://github.com/FairwindsOps/polaris/releases from here

## Expected Behaviour
polaris cli gets downloaded and ready to use

## Context
Fairwinds' Polaris keeps your clusters sailing smoothly. It runs a variety of checks

[2021-05-15 12:07] dirien commented on #400
I am working right now on it :)

[2021-05-15 15:38] hholst80 opened #402 "envsubst"
RFC
include https://github.com/a8m/envsubst

use case:
[code]

[2021-05-16 14:02] alexellis opened #403 "Update Istio to 1.10"
Update Istio to 1.10 which is coming out this week

See here for more: https://istio.io/latest/news/releases/

## Expected Behaviour

On Tuesday 18th 1.10 will be released

## Current Behaviour

We're using 1.9

## Possible Solution

Update the Istio app and download version to 1.10

## Steps to Reproduce (for bugs)

[code]

[2021-05-18 10:51] nitishkumar71 commented on #403
I will work on this.

[2021-05-18 12:54] #371 closed

[2021-05-18 15:59] alexellis commented on #403
Thanks @nitishkumar71

I can't see a release yet, so it may be worth checking back tomorrow: https://istio.io/latest/news/releases/

cc @howardjohn

[2021-05-21 19:45] dirien opened #406 "[CLI] argocd-autopilot"
![image](https://user-images.githubusercontent.com/38325136/119190182-4d91a100-ba7d-11eb-8895-3a931ca64fc4.png)

Add the argocd-autopilot CLI for arkade to get it

Add the current argocd-autopilot cli from here https://github.com/argoproj-labs/argocd-autopilot/releases

## Expected Behaviour

argocd-autopilot cli gets downloaded and ready to use

## Context
New users to GitOps and Argo CD are not

[2021-05-23 12:19] a5r0n opened #408 "update k9s to v0.24.10"
## Expected Behaviour

download and use k9s v0.24.10

## Current Behaviour

v0.24.2 is used
## Possible Solution

Just update the version string in pkg?

[2021-05-23 23:53] vielmetti opened #409 "Helm install on arm64-only device fails"
## Expected Behaviour

`arkade install openfaas` on arm64 machine should fetch
the arm64 binary for helm, then install openfaas.

## Current Behaviour

The fetch of the arm64 (aarch64) helm binary instead gets the armv7 (32-bit arm) version,
which fails on systems that are 64-bit only like the Equinix Metal c1.large.arm (ThunderX)

[code]
## Possible Solution

Something about the logic in

https:/

[2021-05-24 00:09] vielmetti commented on #409
After manually installing the correct version of helm, the openfaas install works.

[2021-05-24 00:56] vielmetti opened #410 "`arkade get mc` on arm64 device fails"
## Expected Behaviour

`arkade get mc` fails on an arm64 device.

## Current Behaviour

[code]
## Possible Solution

Fix the tools.go file to correct the syntax.

## Steps to Reproduce (for bugs)

1. Get an arm64 device
2. `arkade get mc`

## Context

Working my way through the apps catalog for arm64.

## Your Environment

[code]

## Are you a GitHub Sponsor (Yes/No?)

Check at: https://github.com

[2021-05-24 07:54] alexellis commented on #409
Looks like you've found a bug. Thanks for being a sponsor btw.

This is where we need a change:

https://github.com/alexellis/arkade/blob/master/pkg/get/tools.go#L45

https://github.com/alexellis/arkade/blob/master/pkg/get/get_test.go#L284

The tests can also be moved to a table-format from individual functions.

I'm sure that one of the guys will pick this up if I don't get there first.

Thanks a

[2021-05-24 08:13] alexellis commented on #409
From the PR:

Generally, in production, we would not expect users to not log into a node and run `kubectl` or `helm` directly, but to use the client/server approach.

Might also be of interest, if for some reason your laptop cannot access your node via the Kubernetes API: https://blog.alexellis.io/get-private-kubectl-access-anywhere/

The fix will be in the next release.

Alex

[2021-05-24 08:23] #409 closed

[2021-05-24 14:10] #403 closed

[2021-05-24 22:43] crobinson89 opened #413 "kind github url broken"
## Expected Behaviour
After typing `arkade get kind` it is expected to download and install kind.

## Current Behaviour
404 error

## Possible Solution
Fix URL for the `arkade get kind`

## Steps to Reproduce (for bugs)
1. Setup MicroSD with Ubuntu server
2. Updates,configs,etc
3. Follow Alex Ellis install/setup guide

## Context

Below doesn't matter. Kind did an update to their releases and the

[2021-05-25 15:23] alexellis commented on #413
Cc @developer-guy

[2021-05-25 15:26] alexellis commented on #408
Feel free to go ahead.

@nitishkumar71 do you want to take it?

[2021-05-25 15:29] nitishkumar71 commented on #408
Sure

[2021-05-25 16:26] #413 closed

[2021-05-25 17:41] alexellis commented on #413
I see.. glad I could help. Do fill out the whole form next time, or we may not be able to help you.

Having to ask clarifying questions that are already asked in the template is an unfortunate waste of a precious and limited resource.

If you do find value in Arkade and my other work/blog posts, and if you find personal technical support helpful, consider becoming a sponsor. At any amount.

[2021-05-25 20:11] aboe76 opened #414 "Add kubie to TOOLS"
## Expected Behaviour

Arkade get kubie would download kubie as a tool

## Current Behaviour

As of this moment arkade get doesn't have kubie in the list

## Possible Solution

download from https://github.com/sbstp/kubie/releases

## context for kubie:

kubie is an alternative to kubectx, kubens and the k on prompt modification script. It offers context switching, namespace switching and prompt m

[2021-05-29 04:31] vielmetti opened #418 "arkade get kubectl on arm64 installs 32-bit arm binary"
## Expected Behaviour

On an arm64 system, I expect `arkade get` to always download the arm64
binary for a package, rather than the 32-bit version.

## Current Behaviour

`arkade get kubectl` on an arm64 system downloads the 32-bit version.

[code]

## Possible Solution

Update the `tools` installation of `kubectl` with logic to get the right binary on arm64 systems.

## Steps to Reproduce (for bu

[2021-05-29 04:41] vielmetti opened #419 "arkade get buildx on arm64 fails to get published binary"
## Expected Behaviour

`arkade get buildx` on arm64 tries to fetch the file `buildx-v0.4.2.linux-aarch64`, whereas the project has published the file
`buildx-v0.4.2.linux-arm64`.

## Current Behaviour

`arkade get buildx` fails to download the correct binary for arm64.

## Possible Solution

Fix the `tools` configuration to point to the correct binary.

## Steps to Reproduce (for bugs)

1. login t

[2021-05-29 04:50] vielmetti commented on #418
Solution to this is going to look a lot like #409 where Helm also had a 32-bit install on a 64-bit Arm system.

[2021-05-29 05:44] vielmetti opened #420 "cmd/go: unsupported GOOS/GOARCH pair windows/arm64"
## Expected Behaviour

While building `arkade` on an `arm64` system, the Makefile attempts
to build a Windows Go binary on the unsupported windows/arm64 platform.

## Current Behaviour

`make` tries to build the `windows/arm64` target with this command line

[code]

## Possible Solution

Add a specific GOARCH=amd64 target to the `dist` target entry
for the Windows build.

## Steps to Reproduce (fo

[2021-06-01 13:00] #400 closed

[2021-06-01 13:05] #418 closed

[2021-06-01 13:07] alexellis opened #423 "Convert Test_DownloadKubectl tests to test table format"
## Task

Convert Test_DownloadKubectl tests to test table format

## Benefit

More maintainable, and easier to follow now that we have a newer test format such as `Test_DownloadOpa` or `Test_DownloandPolarisCli`

[2021-06-01 13:08] #420 closed

[2021-06-01 13:10] alexellis commented on #408
Interesting to see that the K9s download URL format changed. This means that arkade won't be able to download earlier releases.

cc @derailed

[2021-06-01 13:10] #408 closed

[2021-06-01 13:11] alexellis commented on #408
@a5r0n this change is now available in the master branch and will be released within a few days.

Please do consider becoming a [GitHub Sponsor to support our work on arkade](https://github.com/sponsors/alexellis)

This is for individual users and / or companies including custom amounts and one-time options.

[2021-06-01 13:12] alexellis commented on #419
@vielmetti happy to take a PR for this

I think you're finding that very few arkade users have an arm64 desktop.

Have you just bought one?